
  <div
    
    class="gp-tab-item gp-child-item-gRe8b-fiFa"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--h:100%;--v:hidden;--pos:absolute"
  >
    
    <gp-carousel gp-data='{"id":"8Bp_EKoGE9","setting":{"animationMode":"ease-in","arrowBackgroundColor":"#FFFFFF","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":true,"width":"1px 1px 1px 1px"},"mobile":{"border":"solid","borderWidth":"1px","color":"#432D2D","isCustom":true,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"padding":{"bottom":"16px","left":"16px","linked":true,"right":"16px","top":"16px","type":"custom"},"shapeLinked":true,"shapeValue":"1/1"},"mobile":{"customShapeValue":"","gap":"","height":"30px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"},"shape":"","shapeLinked":true,"shapeValue":"1/1","width":"30px"}},"arrowCustom":"<svg data-name=\"Icon.svg\" data-id=\"585751924695892499\" width=\"20\" height=\"20\" xmlns=\"http://www.w3.org/2000/svg\" width=\"8\" height=\"12\" viewBox=\"0 0 8 12\" fill=\"none\">\n<path d=\"M1.58065 10.3547L6.41936 5.9999L1.58065 1.64506\" stroke=\"#432D2D\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n</svg>","arrowCustomColor":"#432D2D","arrowGapToEachSide":"0","arrowIconSize":{"desktop":24,"mobile":"10"},"arrowShadow":{"desktop":{"angle":45,"blur":"4px","color":"rgba(18, 18, 18, 0.2)","distance":"4px","enable":false,"spread":"0px","type":"shadow-1"}},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"#FFFEFD","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFEFD","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Item 1","Item 2"],"controlOverContent":{"desktop":true},"dot":{"desktop":true},"dotActiveColor":{"desktop":"line-3","mobile":"#432D2D"},"dotColor":{"desktop":"bg-1","mobile":"#FFFFFF"},"dotGapToCarousel":{"desktop":16,"mobile":"46"},"dotSize":{"desktop":12,"mobile":"7"},"dotStyle":{"desktop":"inside","mobile":"outside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":1,"mobile":1},"label":true,"loop":{"desktop":true},"navigationEnable":{"desktop":true},"navigationStyle":{"desktop":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"mobile":{"bblr":"9999px","bbrr":"9999px","btlr":"9999px","btrr":"9999px","radiusType":"circle"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"backgroundImage":{"desktop":{}},"borderContent":{"border":"solid","borderWidth":"1px","color":"#503023","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":45,"blur":"4px","color":"rgba(18, 18, 18, 0.2)","distance":"4px","enable":false,"spread":"0px","type":"shadow-1"},"hasActiveShadow":false,"itemPadding":{"desktop":{"padding":{}},"mobile":{"padding":{"bottom":"39px","left":"22px","link":false,"linked":false,"right":"22px","top":"21px"}}},"playSpeed":500,"roundedContent":{"bblr":"15px","bbrr":"15px","btlr":"15px","btrr":"15px","radiusType":"rounded"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"100%"}},"spacing":{"desktop":16}}}' data-id="8Bp_EKoGE9" id="gp-root-carousel-8Bp_EKoGE9" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="8Bp_EKoGE9 gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:31px;--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgi:none;--bgi-tablet:none;--bgi-mobile:none"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:auto;gap:0px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-8Bp_EKoGE9 8Bp_EKoGE9 gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:#FFFFFF;--d:flex;--d-tablet:flex;--d-mobile:flex;--left:0px;--right:initial;--top:initial;--bottom:;--left-tablet:0px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:0px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w-mobile:30px;--h-mobile:30px;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--shadow:none"
    >
      <style type="text/css">
      .gp-carousel-arrow-8Bp_EKoGE9 {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-8Bp_EKoGE9::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-8Bp_EKoGE9 {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-8Bp_EKoGE9::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-8Bp_EKoGE9 {
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
        .gp-carousel-arrow-8Bp_EKoGE9::before {
          border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #432D2D;
  
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#432D2D;--w:24px;--w-tablet:24px;--w-mobile:10px;--h:24px;--h-tablet:24px;--h-mobile:10px"
    >
        <svg data-name="Icon.svg" data-id="585751924695892499" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
<path d="M1.58065 10.3547L6.41936 5.9999L1.58065 1.64506" stroke="#432D2D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    </div>
  
    </button>
  
          <div id="gp-carousel-8Bp_EKoGE9" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-8Bp_EKoGE9 mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-8Bp_EKoGE9 gp-child-item-8Bp_EKoGE9 WF2R7g42AL"
      style="--pl-mobile:22px;--pr-mobile:22px;--pt-mobile:21px;--pb-mobile:39px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:#FFFEFD;--bgc-mobile:#FFFEFD;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--bs:solid;--bw:1px 1px 1px 1px;--bc:#503023;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="D_3a0U3z_O"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:27px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759287197018 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto D_3a0U3z_O"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-36157ea3-db92-4eef-8bc9-8a091522a589.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9Ijk4MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTk4MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9Ijk4MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9Ijk4MSIgZmlsbD0idXJsKCNnLTczNi05ODEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_510135694635565882-fd2b184d-b520-422d-84a3-595406863ee9.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTE0LTYxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgZmlsbD0idXJsKCNnLTUxNC02MTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTQiIHRvPSI1MTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_510135694635565882-fd2b184d-b520-422d-84a3-595406863ee9.webp" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTE0LTYxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgZmlsbD0idXJsKCNnLTUxNC02MTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTQiIHRvPSI1MTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_510135694635565882-fd2b184d-b520-422d-84a3-595406863ee9.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:257/307;--aspect-tablet:257/307;--aspect-mobile:301/319;--objf:cover;--w:257px;--w-tablet:257px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:solid;--bc:#432D2D;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="rDn3HFYBP2"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center;--ta-mobile:left"
      class="gp-group/image gp-relative force-publish-1759287197018 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto rDn3HFYBP2"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-mobile:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-075e2a89-c989-40cc-92d2-aa1fd50aba45.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDEtMjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMSIgaGVpZ2h0PSIyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiBmaWxsPSJ1cmwoI2ctMTAxLTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAxIiB0bz0iMTAxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_510135694635565882-075e2a89-c989-40cc-92d2-aa1fd50aba45.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDEtMjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMSIgaGVpZ2h0PSIyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiBmaWxsPSJ1cmwoI2ctMTAxLTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAxIiB0bz0iMTAxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_510135694635565882-075e2a89-c989-40cc-92d2-aa1fd50aba45.svg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDEtMjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMSIgaGVpZ2h0PSIyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiBmaWxsPSJ1cmwoI2ctMTAxLTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAxIiB0bz0iMTAxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_510135694635565882-075e2a89-c989-40cc-92d2-aa1fd50aba45.svg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:101px;--w-tablet:101px;--w-mobile:101px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="RgAIOrJwtK"
        class="RgAIOrJwtK"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:9px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:9px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759287197019"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:251px;--w-tablet:251px;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--ls:0px;--size:20px;--size-tablet:20px;--size-mobile:20px;--lh:135%;--lh-tablet:135%;--lh-mobile:115%;--c:#272727;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gRgAIOrJwtK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="h98RBrvjCJ"
        class="h98RBrvjCJ"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:45px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:27px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:45px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759287197019"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:257px;--w-tablet:257px;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#272727;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gh98RBrvjCJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"oRYmWbIHzl"}' data-id="oRYmWbIHzl" id="oRYmWbIHzl" data-same-height-subgrid-container class="oRYmWbIHzl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--cg-mobile:20px;--rg:16px;--rg-tablet:16px;--rg-mobile:20px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:250px;--w-mobile:100%;--h:auto;--pc:space-between">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="x7YCYsZA-i gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="G9dQarQ_JZ"
        class="G9dQarQ_JZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759287197020"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:135%;--lh-tablet:135%;--lh-mobile:114%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gG9dQarQ_JZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="JsqbS8Kl1g gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFEEB5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"9aKKNuz_Oj"}' data-id="9aKKNuz_Oj" id="9aKKNuz_Oj" data-same-height-subgrid-container class="9aKKNuz_Oj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--pt:4px;--pl:13px;--pb:4px;--pr:11px;--pt-mobile:4px;--pl-mobile:13px;--pb-mobile:4px;--pr-mobile:11px;--pt-tablet:4px;--pl-tablet:13px;--pb-tablet:4px;--pr-tablet:11px;--cg:3px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--bgc:#FFEEB5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="tNnvYFvF7F gp-relative gp-flex gp-flex-col"
    >
      
    <div id="6StSHQjZtu" class="gp-leading-[0] 6StSHQjZtu" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="6StSHQjZtu" class="icon-wrapper gp-inline-flex gp-overflow-hidden 6StSHQjZtu " style="--shadow:none">
      
        <div >
          <span style="--c:transparent;--t:rotate(0deg);--w:13px;--w-tablet:13px;--w-mobile:13px;--h:13px;--h-tablet:13px;--h-mobile:13px;--minw:13px;--minw-tablet:13px;--minw-mobile:13px;--height-desktop:13px;--height-tablet:13px;--height-mobile:13px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="Layer 5.svg" data-id="585639530988569536" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
<path d="M12.0528 5.01798C11.8565 4.90386 11.6801 4.75849 11.5306 4.58761C11.5457 4.34971 11.6024 4.11629 11.698 3.89793C11.8739 3.40167 12.0728 2.83953 11.7536 2.40251C11.4345 1.96549 10.8318 1.97939 10.3029 1.99148C10.0692 2.01553 9.83313 1.99958 9.60478 1.94433C9.48312 1.74638 9.39623 1.52906 9.34789 1.3018C9.19798 0.791035 9.02692 0.213782 8.50165 0.0409076C7.99512 -0.122295 7.52606 0.236751 7.11141 0.552276C6.93248 0.715671 6.72516 0.844938 6.4997 0.933687C6.27188 0.845661 6.06225 0.71636 5.88134 0.552276C5.46789 0.238564 5.00065 -0.124108 4.4917 0.0415121C3.96764 0.211968 3.79658 0.791035 3.64546 1.3018C3.59719 1.52833 3.51116 1.74513 3.39099 1.94313C3.16221 1.99823 2.92582 2.01457 2.69164 1.99148C2.16092 1.97697 1.56312 1.96126 1.24094 2.40251C0.918771 2.84376 1.12005 3.40167 1.29655 3.89733C1.39353 4.11536 1.45104 4.34888 1.46641 4.58701C1.31715 4.75812 1.14095 4.90369 0.944762 5.01798C0.502302 5.32021 0 5.66415 0 6.22266C0 6.78118 0.502302 7.1239 0.944762 7.42734C1.14091 7.54145 1.31711 7.68682 1.46641 7.85771C1.45266 8.09576 1.39679 8.32947 1.30139 8.548C1.1261 9.04365 0.927837 9.60579 1.24638 10.0428C1.56493 10.4798 2.16576 10.4659 2.69708 10.4538C2.93098 10.4298 3.16727 10.4457 3.39582 10.501C3.51695 10.6992 3.6036 10.9164 3.65211 11.1435C3.80202 11.6543 3.97308 12.2315 4.49835 12.4044C4.58256 12.4314 4.67043 12.4453 4.75887 12.4455C5.18393 12.3845 5.57898 12.1912 5.88799 11.8931C6.06691 11.7297 6.27423 11.6004 6.4997 11.5116C6.72752 11.5997 6.93715 11.729 7.11805 11.8931C7.53211 12.2092 8.00116 12.57 8.5083 12.4038C9.03236 12.2334 9.20342 11.6543 9.35454 11.1441C9.40298 10.9172 9.48964 10.7001 9.61082 10.5022C9.83872 10.4467 10.0744 10.4304 10.3078 10.4538C10.8385 10.4665 11.4363 10.4841 11.7585 10.0428C12.0806 9.60156 11.8793 9.04365 11.7028 8.54739C11.6065 8.32956 11.549 8.09656 11.533 7.85892C11.6823 7.68766 11.8588 7.54207 12.0552 7.42795C12.4977 7.12572 13 6.78118 13 6.22266C13 5.66415 12.4959 5.32082 12.0528 5.01798Z" fill="#421B1B"/>
<path d="M5.8952 7.88509C5.83567 7.8852 5.7767 7.8735 5.72171 7.85068C5.66672 7.82785 5.6168 7.79435 5.57484 7.75211L4.36593 6.5432C4.28586 6.45726 4.24226 6.34359 4.24433 6.22615C4.24641 6.1087 4.29398 5.99664 4.37704 5.91358C4.4601 5.83052 4.57216 5.78295 4.68961 5.78087C4.80705 5.7788 4.92072 5.8224 5.00666 5.90248L5.93752 6.83334L8.04102 5.25571C8.1372 5.18357 8.25811 5.15259 8.37713 5.1696C8.49616 5.1866 8.60355 5.25019 8.67569 5.34638C8.74783 5.44256 8.77881 5.56347 8.76181 5.68249C8.7448 5.80152 8.68121 5.90891 8.58503 5.98105L6.16721 7.79442C6.08872 7.85323 5.99329 7.88504 5.8952 7.88509Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="XRDd9kY3nP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="9sGH8mGmGt"
        class="9sGH8mGmGt"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759287197021"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:114%;--lh-tablet:114%;--lh-mobile:114%;--c:#383839;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.g9sGH8mGmGt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-8Bp_EKoGE9 gp-child-item-8Bp_EKoGE9 TBNbSwaBBL"
      style="--pl-mobile:22px;--pr-mobile:22px;--pt-mobile:21px;--pb-mobile:39px;--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgc:#FFFEFD;--bgc-mobile:#FFFEFD;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--bs:solid;--bw:1px 1px 1px 1px;--bc:#503023;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="bXEOUEIFsh"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:27px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1759287197022 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto bXEOUEIFsh"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-0a89b641-1b82-4900-9f13-b25f8ce2c187.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzM2IiBoZWlnaHQ9Ijk4MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzM2LTk4MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzM2IiBoZWlnaHQ9Ijk4MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzM2IiBoZWlnaHQ9Ijk4MSIgZmlsbD0idXJsKCNnLTczNi05ODEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MzYiIHRvPSI3MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0778/1816/7552/files/gempages_578200731668972220-2d4b9ece-41f6-4fd6-adcf-6efc178f8172_1024x.webp" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTE0LTYxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgZmlsbD0idXJsKCNnLTUxNC02MTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTQiIHRvPSI1MTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0778/1816/7552/files/gempages_578200731668972220-2d4b9ece-41f6-4fd6-adcf-6efc178f8172.webp" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTE0LTYxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTE0IiBoZWlnaHQ9IjYxNCIgZmlsbD0idXJsKCNnLTUxNC02MTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTQiIHRvPSI1MTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0778/1816/7552/files/gempages_578200731668972220-2d4b9ece-41f6-4fd6-adcf-6efc178f8172.webp"
        alt=""
        width="100%"
        style="--aspect:257/307;--aspect-tablet:257/307;--aspect-mobile:301/319;--objf:cover;--w:257px;--w-tablet:257px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:solid;--bc:#432D2D;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="Sx8wMXGuL2"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:16px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1759287197022 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto Sx8wMXGuL2"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-075e2a89-c989-40cc-92d2-aa1fd50aba45.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDEtMjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMSIgaGVpZ2h0PSIyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiBmaWxsPSJ1cmwoI2ctMTAxLTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAxIiB0bz0iMTAxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_510135694635565882-075e2a89-c989-40cc-92d2-aa1fd50aba45.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDEtMjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMSIgaGVpZ2h0PSIyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiBmaWxsPSJ1cmwoI2ctMTAxLTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAxIiB0bz0iMTAxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_510135694635565882-075e2a89-c989-40cc-92d2-aa1fd50aba45.svg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDEtMjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMSIgaGVpZ2h0PSIyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjIxIiBmaWxsPSJ1cmwoI2ctMTAxLTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAxIiB0bz0iMTAxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_510135694635565882-075e2a89-c989-40cc-92d2-aa1fd50aba45.svg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:101px;--w-tablet:101px;--w-mobile:101px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="79sat4EDW0"
        class="79sat4EDW0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:9px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:9px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759287197023"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:251px;--w-tablet:251px;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--ls:0px;--size:20px;--size-tablet:20px;--size-mobile:20px;--lh:135%;--lh-tablet:135%;--lh-mobile:115%;--c:#272727;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.g79sat4EDW0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="Sam5vko6zC"
        class="Sam5vko6zC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:45px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:27px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:45px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759287197023"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:257px;--w-tablet:257px;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#272727;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gSam5vko6zC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"Yig4BOiqW7"}' data-id="Yig4BOiqW7" id="Yig4BOiqW7" data-same-height-subgrid-container class="Yig4BOiqW7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:auto;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--cg-mobile:20px;--rg:16px;--rg-tablet:16px;--rg-mobile:20px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:250px;--w-mobile:100%;--h:auto;--h-mobile:auto;--pc:space-between">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="cKkEa9hbS8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="r-gR1yIUkm"
        class="r-gR1yIUkm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759287197026"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:135%;--lh-tablet:135%;--lh-mobile:114%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gr-gR1yIUkm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gvt_Shxlbm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFEEB5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ad2nS96SMW"}' data-id="ad2nS96SMW" id="ad2nS96SMW" data-same-height-subgrid-container class="ad2nS96SMW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--pt:4px;--pl:13px;--pb:4px;--pr:11px;--pt-mobile:4px;--pl-mobile:13px;--pb-mobile:4px;--pr-mobile:11px;--pt-tablet:4px;--pl-tablet:13px;--pb-tablet:4px;--pr-tablet:11px;--cg:3px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--bgc:#FFEEB5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="DTyCI5Q6JJ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="L-tq_V9v3U" class="gp-leading-[0] L-tq_V9v3U" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="L-tq_V9v3U" class="icon-wrapper gp-inline-flex gp-overflow-hidden L-tq_V9v3U " style="--shadow:none">
      
        <div >
          <span style="--c:transparent;--t:rotate(0deg);--w:13px;--w-tablet:13px;--w-mobile:13px;--h:13px;--h-tablet:13px;--h-mobile:13px;--minw:13px;--minw-tablet:13px;--minw-mobile:13px;--height-desktop:13px;--height-tablet:13px;--height-mobile:13px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="Layer 5.svg" data-id="585639530988569536" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
<path d="M12.0528 5.01798C11.8565 4.90386 11.6801 4.75849 11.5306 4.58761C11.5457 4.34971 11.6024 4.11629 11.698 3.89793C11.8739 3.40167 12.0728 2.83953 11.7536 2.40251C11.4345 1.96549 10.8318 1.97939 10.3029 1.99148C10.0692 2.01553 9.83313 1.99958 9.60478 1.94433C9.48312 1.74638 9.39623 1.52906 9.34789 1.3018C9.19798 0.791035 9.02692 0.213782 8.50165 0.0409076C7.99512 -0.122295 7.52606 0.236751 7.11141 0.552276C6.93248 0.715671 6.72516 0.844938 6.4997 0.933687C6.27188 0.845661 6.06225 0.71636 5.88134 0.552276C5.46789 0.238564 5.00065 -0.124108 4.4917 0.0415121C3.96764 0.211968 3.79658 0.791035 3.64546 1.3018C3.59719 1.52833 3.51116 1.74513 3.39099 1.94313C3.16221 1.99823 2.92582 2.01457 2.69164 1.99148C2.16092 1.97697 1.56312 1.96126 1.24094 2.40251C0.918771 2.84376 1.12005 3.40167 1.29655 3.89733C1.39353 4.11536 1.45104 4.34888 1.46641 4.58701C1.31715 4.75812 1.14095 4.90369 0.944762 5.01798C0.502302 5.32021 0 5.66415 0 6.22266C0 6.78118 0.502302 7.1239 0.944762 7.42734C1.14091 7.54145 1.31711 7.68682 1.46641 7.85771C1.45266 8.09576 1.39679 8.32947 1.30139 8.548C1.1261 9.04365 0.927837 9.60579 1.24638 10.0428C1.56493 10.4798 2.16576 10.4659 2.69708 10.4538C2.93098 10.4298 3.16727 10.4457 3.39582 10.501C3.51695 10.6992 3.6036 10.9164 3.65211 11.1435C3.80202 11.6543 3.97308 12.2315 4.49835 12.4044C4.58256 12.4314 4.67043 12.4453 4.75887 12.4455C5.18393 12.3845 5.57898 12.1912 5.88799 11.8931C6.06691 11.7297 6.27423 11.6004 6.4997 11.5116C6.72752 11.5997 6.93715 11.729 7.11805 11.8931C7.53211 12.2092 8.00116 12.57 8.5083 12.4038C9.03236 12.2334 9.20342 11.6543 9.35454 11.1441C9.40298 10.9172 9.48964 10.7001 9.61082 10.5022C9.83872 10.4467 10.0744 10.4304 10.3078 10.4538C10.8385 10.4665 11.4363 10.4841 11.7585 10.0428C12.0806 9.60156 11.8793 9.04365 11.7028 8.54739C11.6065 8.32956 11.549 8.09656 11.533 7.85892C11.6823 7.68766 11.8588 7.54207 12.0552 7.42795C12.4977 7.12572 13 6.78118 13 6.22266C13 5.66415 12.4959 5.32082 12.0528 5.01798Z" fill="#421B1B"/>
<path d="M5.8952 7.88509C5.83567 7.8852 5.7767 7.8735 5.72171 7.85068C5.66672 7.82785 5.6168 7.79435 5.57484 7.75211L4.36593 6.5432C4.28586 6.45726 4.24226 6.34359 4.24433 6.22615C4.24641 6.1087 4.29398 5.99664 4.37704 5.91358C4.4601 5.83052 4.57216 5.78295 4.68961 5.78087C4.80705 5.7788 4.92072 5.8224 5.00666 5.90248L5.93752 6.83334L8.04102 5.25571C8.1372 5.18357 8.25811 5.15259 8.37713 5.1696C8.49616 5.1866 8.60355 5.25019 8.67569 5.34638C8.74783 5.44256 8.77881 5.56347 8.76181 5.68249C8.7448 5.80152 8.68121 5.90891 8.58503 5.98105L6.16721 7.79442C6.08872 7.85323 5.99329 7.88504 5.8952 7.88509Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="VgzKC7Tp4b gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="N1DXJd_QAJ"
        class="N1DXJd_QAJ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759287197028"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:114%;--lh-tablet:114%;--lh-mobile:114%;--c:#383839;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gN1DXJd_QAJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-8Bp_EKoGE9 8Bp_EKoGE9 gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:#FFFFFF;--d:flex;--d-tablet:flex;--d-mobile:flex;--right:0px;--left:initial;--top:;--bottom:initial;--right-tablet:0px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:0px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w-mobile:30px;--h-mobile:30px;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--shadow:none"
    >
      <style type="text/css">
      .gp-carousel-arrow-8Bp_EKoGE9 {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-8Bp_EKoGE9::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-8Bp_EKoGE9 {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-8Bp_EKoGE9::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-8Bp_EKoGE9 {
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
        .gp-carousel-arrow-8Bp_EKoGE9::before {
          border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #432D2D;
  
          
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#432D2D;--w:24px;--w-tablet:24px;--w-mobile:10px;--h:24px;--h-tablet:24px;--h-mobile:10px"
    >
        <svg data-name="Icon.svg" data-id="585751924695892499" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
<path d="M1.58065 10.3547L6.41936 5.9999L1.58065 1.64506" stroke="#432D2D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-8Bp_EKoGE9 gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--mt-mobile:46px;--d:flex;--d-tablet:flex;--d-mobile:flex">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
      <style id="custom-css-8Bp_EKoGE9">
        .8Bp_EKoGE9 .gem-slider > .gem-slider-item > div{
    display: flex;
    flex-direction: column;
}

.8Bp_EKoGE9 [class*="gp-carousel-arrow-"]{
    bottom: -80px !important;
    top: auto !important;
    z-index:1;
}

.8Bp_EKoGE9 .gem-slider-next,
.8Bp_EKoGE9 .gem-slider-previous {
    position: absolute !important;
    transform: translateY(-50%) !important; 
}

.8Bp_EKoGE9 .gem-slider-next {
    left: calc(50% + 61.5px) !important; 
    right: auto !important;
}

.8Bp_EKoGE9 .gem-slider-previous {
    right: calc(50% + 61.5px) !important; 
    left: auto !important;
}

.8Bp_EKoGE9 .gp-carousel-dot-container > button:not(.gp-carousel-dot--active){
    border: 1px solid #432D2D;
    border-radius: 999px;
}

.8Bp_EKoGE9 .gp-carousel-dot-container > button.gp-carousel-dot--active{
    outline: 1px solid #432D2D;
    outline-offset: 2px;
}


      </style>
    
  </div>
  