
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-514684138955998052.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-514684138955998052.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-514684138955998052.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-514684138955998052.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-514684138955998052.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-514684138955998052.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-514684138955998052.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-514684138955998052.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-514684138955998052.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-514684138955998052.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-514684138955998052.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-514684138955998052.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-514684138955998052.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-514684138955998052.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-514684138955998052.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-514684138955998052.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-514684138955998052.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-514684138955998052.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-514684138955998052.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-514684138955998052.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-514684138955998052.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-514684138955998052.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-514684138955998052.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-514684138955998052.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-514684138955998052.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-514684138955998052.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-514684138955998052.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-514684138955998052.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-514684138955998052.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-514684138955998052.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-514684138955998052.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-514684138955998052.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-514684138955998052.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-514684138955998052.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-514684138955998052.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-514684138955998052.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-514684138955998052.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-514684138955998052.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-514684138955998052.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-514684138955998052.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-514684138955998052.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-514684138955998052.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-514684138955998052.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-514684138955998052.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-514684138955998052.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-514684138955998052.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-514684138955998052.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-514684138955998052.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-514684138955998052.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-514684138955998052.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-514684138955998052.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-514684138955998052.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-514684138955998052.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-514684138955998052.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-514684138955998052.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-514684138955998052.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-514684138955998052.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-514684138955998052.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-514684138955998052.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-514684138955998052.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-514684138955998052.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-514684138955998052.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-514684138955998052.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-514684138955998052.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-514684138955998052.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-514684138955998052.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-514684138955998052.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-514684138955998052.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-514684138955998052.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-514684138955998052.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-514684138955998052.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-514684138955998052.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-514684138955998052.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-514684138955998052.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-514684138955998052.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-514684138955998052.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-514684138955998052.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-514684138955998052.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-514684138955998052.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-514684138955998052.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-514684138955998052.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-514684138955998052 .gp-absolute{position:absolute}.gps-514684138955998052 .gp-relative{position:relative}.gps-514684138955998052 .gp-inset-0{inset:0}.gps-514684138955998052 .gp-z-1{z-index:1}.gps-514684138955998052 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-514684138955998052 .gp-mb-0{margin-bottom:0}.gps-514684138955998052 .\!gp-inline{display:inline!important}.gps-514684138955998052 .gp-flex{display:flex}.gps-514684138955998052 .gp-inline-flex{display:inline-flex}.gps-514684138955998052 .gp-grid{display:grid}.gps-514684138955998052 .\!gp-hidden{display:none!important}.gps-514684138955998052 .gp-hidden{display:none}.gps-514684138955998052 .gp-h-auto{height:auto}.gps-514684138955998052 .gp-h-full{height:100%}.gps-514684138955998052 .gp-w-full{width:100%}.gps-514684138955998052 .gp-w-max{width:-moz-max-content;width:max-content}.gps-514684138955998052 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-514684138955998052 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-514684138955998052 .gp-max-w-full{max-width:100%}.gps-514684138955998052 .gp-flex-1{flex:1 1 0%}.gps-514684138955998052 .gp-flex-none{flex:none}.gps-514684138955998052 .gp-shrink-0{flex-shrink:0}.gps-514684138955998052 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-514684138955998052 .gp-flex-col{flex-direction:column}.gps-514684138955998052 .gp-flex-wrap{flex-wrap:wrap}.gps-514684138955998052 .gp-items-center{align-items:center}.gps-514684138955998052 .gp-justify-center{justify-content:center}.gps-514684138955998052 .gp-gap-y-0{row-gap:0}.gps-514684138955998052 .gp-overflow-hidden{overflow:hidden}.gps-514684138955998052 .gp-break-words{overflow-wrap:break-word}.gps-514684138955998052 .gp-rounded-none{border-radius:0}.gps-514684138955998052 .gp-text-center{text-align:center}.gps-514684138955998052 .gp-no-underline{text-decoration-line:none}.gps-514684138955998052 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-514684138955998052 .gp-duration-200{transition-duration:.2s}.gps-514684138955998052 .gp-duration-300{transition-duration:.3s}.gps-514684138955998052 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-514684138955998052 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-514684138955998052 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-514684138955998052 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-514684138955998052 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-514684138955998052 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-514684138955998052 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-514684138955998052 .tablet\:\!gp-hidden{display:none!important}.gps-514684138955998052 .tablet\:gp-hidden{display:none}.gps-514684138955998052 .tablet\:gp-h-auto{height:auto}.gps-514684138955998052 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-514684138955998052 .mobile\:\!gp-hidden{display:none!important}.gps-514684138955998052 .mobile\:gp-hidden{display:none}.gps-514684138955998052 .mobile\:gp-h-auto{height:auto}.gps-514684138955998052 .mobile\:gp-flex-none{flex:none}}.gps-514684138955998052 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-514684138955998052 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-514684138955998052 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-514684138955998052 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-514684138955998052 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-514684138955998052 .\[\&_p\]\:gp-inline p{display:inline}.gps-514684138955998052 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-514684138955998052 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-514684138955998052 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage id="gghksgGqK-" data-id="gghksgGqK-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(undefined);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gghksgGqK- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMrDLr_gi5 gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '8961758495046' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['peace-plugs']
                assign productId = '8961758495046' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '8961758495046' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['peace-plugs']
              assign productId = '8961758495046' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gg_AFSSQvo" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="gg_AFSSQvo" data-id="gg_AFSSQvo"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="gg_AFSSQvo" data-id="gg_AFSSQvo-row"
        style="--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:var(--g-s-m);--pb-mobile:0px;--pr-mobile:var(--g-s-m);--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%"
        class="gg_AFSSQvo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goO0mWYO1m gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gsUMzyzYMY" data-id="gsUMzyzYMY"
        style="--b:dashed;--bc:rgb(0, 0, 0);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:var(--g-s-l);--ml:var(--g-s-l);--mr:var(--g-s-l);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:16px;--mt-mobile:var(--g-s-l);--ml-mobile:auto;--mb-mobile:var(--g-s-l);--mr-mobile:auto;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-s);--mt-tablet:var(--g-s-l);--ml-tablet:var(--g-s-l);--mb-tablet:var(--g-s-l);--mr-tablet:var(--g-s-2xl);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-2xl);--cg:28px;--cg-tablet:28px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgc-mobile:#00000000;--bgi:url()"
        class="gsUMzyzYMY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gM7ucJA9Za gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gJvowOx6vH"
    role="presentation"
    class="gp-group/image gJvowOx6vH gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:2.4492935982947064e-16px 4px 12px 0px rgba(0, 0, 0, 0.20);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--mb:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_510135694635565882-245194ee-6a99-4bdd-ba9d-77ab3c1e4a0c.png" | file_url }}" data-srcset="{{ 'gempages_510135694635565882-245194ee-6a99-4bdd-ba9d-77ab3c1e4a0c.png' | file_img_url: '768x' }} 768w, {{ 'gempages_510135694635565882-245194ee-6a99-4bdd-ba9d-77ab3c1e4a0c.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_510135694635565882-245194ee-6a99-4bdd-ba9d-77ab3c1e4a0c.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MSIgaGVpZ2h0PSIxNDQxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQxLTE0NDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDEiIGhlaWdodD0iMTQ0MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MSIgaGVpZ2h0PSIxNDQxIiBmaWxsPSJ1cmwoI2ctMTQ0MS0xNDQxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MSIgdG89IjE0NDEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="1441" height="1441" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
      <style id="custom-css-gJvowOx6vH">
        .gJvowOx6vH {

}
.gJvowOx6vH > figure > img {

}
      </style>
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gLEFSuS1gb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gC8Yaw4t9T" data-id="gC8Yaw4t9T"
        style="--mt:0px;--ml:auto;--mb:16px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gC8Yaw4t9T gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBln3Yln97 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="giiXeg4TIN">
    <div
      enableLazyloadImage parentTag="Col"
        class="giiXeg4TIN "
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:33px;--size-tablet:25px;--size-mobile:23px;--weight:bold;--c:rgb(40, 46, 62);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-514684138955998052.ggiiXeg4TIN_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5bhp-NZCT">
    <div
      enableLazyloadImage parentTag="Col"
        class="g5bhp-NZCT "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-514684138955998052.gg5bhp-NZCT_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gsNQxza-bK" data-id="gsNQxza-bK"
        style="--b:solid;--bc:#121212;--bw:0px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsNQxza-bK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcXlttYZ_d gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
    
  >
    <style>
    .gFLFHFzyFx.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      border-radius: var(--g-radius-small);
    }

    .gFLFHFzyFx:hover::before {
      
      
    }

    .gFLFHFzyFx:hover .gp-button-icon {
      color: undefined;
    }

     .gFLFHFzyFx .gp-button-icon {
      color: rgb(253, 253, 253);
    }

    .gFLFHFzyFx:hover .gp-button-price {
      color: undefined;
    }

    .gFLFHFzyFx .gp-button-price {
      color: rgb(253, 253, 253);
    }

    .gFLFHFzyFx .gp-product-dot-price {
       color: rgb(253, 253, 253);
    }

    .gFLFHFzyFx:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://official-aura.com/products/lifting-bands" target="_self" data-id="gFLFHFzyFx" aria-label="Get 50% Off"
      
      data-state="idle"
      class="gFLFHFzyFx gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#121212;--bg:#583CA1;--radius:var(--g-radius-small);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:57px;--h-tablet:57px;--h-mobile:57px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:rgb(253, 253, 253);--size:21px;--size-tablet:18px;--size-mobile:16px;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:18px;--size-mobile:16px;--c:rgb(253, 253, 253)"
      >
        {{ "sections.gp-global-section-514684138955998052.ggFLFHFzyFx_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

       
      
    <div
      enableLazyloadImage parentTag="Col" id="gijr8trJzm" data-id="gijr8trJzm"
        style="--mt:0px;--ml:auto;--mb:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:8px;--cg-tablet:8px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gijr8trJzm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXEKYHcSSN gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVOfdoMBJj">
    <div
      enableLazyloadImage parentTag="Col"
        class="gVOfdoMBJj "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:17px;--size-tablet:14px;--size-mobile:12px;--weight:bold;--c:rgb(1, 1, 1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-514684138955998052.ggVOfdoMBJj_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-AHTx3xky gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-xs);--pb-mobile:var(--g-s-xs)" class="gy8x--jlCj ">
      
    <gp-countdown-timer
      data-id="gy8x--jlCj"
     class="gp-flex "
     gp-data='{"behaviour":"daily","dateStandard":1714922987126,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":7,"mins":30},"timerEverygreen":{"days":0,"endTime":1714610352070,"hours":7,"mins":22,"startTime":1714318187126},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gy8x--jlCj","builderData":{"advanced":{"animation":{"desktop":{"enabled":false,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"border":{"border":"solid","borderType":"none","borderWidth":"2px","color":"#121212","isCustom":true,"position":"all","width":"0px"},"boxShadow":{"angle":90,"blur":"12px","color":"rgba(0, 0, 0, 0.20)","distance":"4px","spread":"0px","type":"shadow-1"},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":false,"op":{"desktop":"100%"},"rounded":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"spacing-setting":{"desktop":{"margin":{"bottom":0}},"mobile":{"link":false,"margin":{"bottom":0},"padding":{"bottom":"var(--g-s-xs)","top":"var(--g-s-xs)"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1714922987126,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":7,"mins":30},"timerEverygreen":{"days":0,"endTime":1714610352070,"hours":7,"mins":22,"startTime":1714318187126},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#00000000","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","horizontalGap":"6px","itemPadding":{"custom":{"desktop":{"horizontal":"0px","vertical":"0px"},"mobile":{"horizontal":"4px","vertical":"0px"}}},"labelTypo":{"attrs":{"bold":true,"color":"text-1"},"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"12px","mobile":"7px","tablet":"12px"},"fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"700","lineHeight":"75%"},"type":"paragraph-1"},"numTypo":{"attrs":{"bold":true,"color":"#FF0509"},"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"15px","mobile":"12px","tablet":"20px"},"fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"400","lineHeight":"130%"},"type":"heading-2"},"roundedState":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"custom"}},"textAlign":{"desktop":"left","mobile":"left"},"verticalGap":"0px"},"tag":"Countdown","uid":"gy8x--jlCj","childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:left;--jc-mobile:left"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:6px;--jc:left;--jc-mobile:left">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
          
    <div
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:0px;--pb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gy8x--jlCj-text">
    <div
      id="hour"
        class="gy8x--jlCj "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:15px;--size-tablet:20px;--size-mobile:12px;--weight:bold;--c:#FF0509;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gy8x--jlCj-text">
    <div
      
        class="gy8x--jlCj "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:12px;--size-tablet:12px;--size-mobile:7px;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-514684138955998052.ggy8x--jlCj_hourLabel_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:0px;--pb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gy8x--jlCj-text">
    <div
      id="minute"
        class="gy8x--jlCj "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:15px;--size-tablet:20px;--size-mobile:12px;--weight:bold;--c:#FF0509;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gy8x--jlCj-text">
    <div
      
        class="gy8x--jlCj "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:12px;--size-tablet:12px;--size-mobile:7px;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-514684138955998052.ggy8x--jlCj_minuteLabel_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:0px;--pb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gy8x--jlCj-text">
    <div
      id="second"
        class="gy8x--jlCj "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:15px;--size-tablet:20px;--size-mobile:12px;--weight:bold;--c:#FF0509;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gy8x--jlCj-text">
    <div
      
        class="gy8x--jlCj "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:12px;--size-tablet:12px;--size-mobile:7px;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-514684138955998052.ggy8x--jlCj_secondLabel_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage parentTag="Col" id="geqyiFHX8f" data-id="geqyiFHX8f"
        style="--mt:0px;--ml:auto;--mb:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:28px;--cg-tablet:28px;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geqyiFHX8f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7tJqvXRiF gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gxkYOF6lF0" data-id="gxkYOF6lF0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:var(--g-s-m);--pb:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:1100px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FBF9F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxkYOF6lF0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gal3pnZ_VU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8FG4eiwuL">
    <div
      enableLazyloadImage parentTag="Col"
        class="g8FG4eiwuL "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px 1px 0px 0px;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:var(--g-s-s);--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:auto;--pb-mobile:0px;--pr-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-514684138955998052.gg8FG4eiwuL_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9qZE5I-0r gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gayLdWdeGq">
    <div
      enableLazyloadImage parentTag="Col"
        class="gayLdWdeGq "
        style="--ta:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:rgb(2, 2, 2);word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-514684138955998052.ggayLdWdeGq_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gy_0niMOrY">
    <div
      enableLazyloadImage parentTag="Col"
        class="gy_0niMOrY "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--c:rgb(31, 31, 31);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-514684138955998052.ggy_0niMOrY_text_html" | t | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v22/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    "presets": [{ "name": "product" }],
    "name": "product",
    "tag": "section",
    "class": "gps-514684138955998052 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=514684138955998052)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"en":{"ggiiXeg4TIN_text_html":"<p><span style=\"background-color:rgba(255,0,0,0);color:#583CA1;\">UP TO 50% OFF</span><span style=\"background-color:rgba(255,0,0,0);color:#FF0509;\"> </span>FOR&nbsp;<br>A LIMITED TIME&nbsp;<br>ONLY!</p>","gg5bhp-NZCT_text_html":"This limited-time deal is in high demand and stock keeps selling out..","ggFLFHFzyFx_label_html":"Get 50% Off","ggVOfdoMBJj_text_html":"DEAL ENDING IN:","ggy8x--jlCj_dayLabel_html":"Days","ggy8x--jlCj_hourLabel_html":"Hours","ggy8x--jlCj_minuteLabel_html":"Minutes","ggy8x--jlCj_secondLabel_html":"Seconds","ggy8x--jlCj_weekLabel_html":"Weeks","gg8FG4eiwuL_text_html":"<p><span style=\"font-size:17px;\"><strong>&nbsp; Sell-Out Risk: </strong></span><span style=\"color:#F93600;font-size:17px;\"><strong>High</strong></span></p>","ggayLdWdeGq_text_html":"<p><span style=\"font-size:16px;\"><strong>FREE </strong>shipping</span></p>","ggy_0niMOrY_text_html":"<p><span style=\"font-size:14px;\">Experience peace of mind with our 100days free guarantee.</span></p>"}}
  }
{% endschema %}
