
    {% render 'gp-head', 'isThemeSection: true' %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-546733385976906976.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-546733385976906976.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-546733385976906976.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-546733385976906976.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-546733385976906976.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-546733385976906976.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-546733385976906976.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-546733385976906976.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-546733385976906976.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-546733385976906976.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-546733385976906976.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-546733385976906976.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-546733385976906976.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-546733385976906976.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-546733385976906976.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-546733385976906976.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-546733385976906976.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-546733385976906976.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-546733385976906976.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-546733385976906976.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-546733385976906976.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-546733385976906976.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-546733385976906976.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-546733385976906976.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-546733385976906976.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-546733385976906976.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-546733385976906976.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-546733385976906976.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-546733385976906976.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-546733385976906976.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-546733385976906976.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-546733385976906976.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-546733385976906976.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-546733385976906976.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-546733385976906976.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-546733385976906976.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-546733385976906976.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-546733385976906976.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-546733385976906976.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-546733385976906976.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-546733385976906976.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-546733385976906976.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-546733385976906976.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-546733385976906976.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-546733385976906976.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-546733385976906976.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-546733385976906976.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-546733385976906976.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-546733385976906976.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-546733385976906976.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-546733385976906976.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-546733385976906976.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-546733385976906976.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-546733385976906976.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-546733385976906976.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-546733385976906976.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-546733385976906976.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-546733385976906976.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-546733385976906976.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-546733385976906976.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-546733385976906976.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-546733385976906976.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-546733385976906976.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-546733385976906976.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-546733385976906976.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-546733385976906976.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-546733385976906976.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-546733385976906976.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-546733385976906976.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-546733385976906976.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-546733385976906976.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-546733385976906976.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-546733385976906976.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-546733385976906976.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-546733385976906976.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-546733385976906976.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-546733385976906976.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-546733385976906976.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-546733385976906976.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-546733385976906976.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-546733385976906976.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-546733385976906976.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-546733385976906976.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-546733385976906976.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-546733385976906976.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-546733385976906976.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-546733385976906976.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-546733385976906976.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-546733385976906976.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-546733385976906976.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-546733385976906976.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-546733385976906976.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-546733385976906976.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-546733385976906976.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-546733385976906976.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-546733385976906976.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-546733385976906976.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-546733385976906976 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-546733385976906976 .gp-pointer-events-none{pointer-events:none}.gps-546733385976906976 .gp-absolute{position:absolute}.gps-546733385976906976 .gp-relative{position:relative}.gps-546733385976906976 .gp-inset-0{inset:0}.gps-546733385976906976 .gp-z-1{z-index:1}.gps-546733385976906976 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-546733385976906976 .gp-mb-0{margin-bottom:0}.gps-546733385976906976 .gp-flex{display:flex}.gps-546733385976906976 .gp-grid{display:grid}.gps-546733385976906976 .\!gp-hidden{display:none!important}.gps-546733385976906976 .gp-hidden{display:none}.gps-546733385976906976 .gp-w-max{width:-moz-max-content;width:max-content}.gps-546733385976906976 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-546733385976906976 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-546733385976906976 .gp-max-w-full{max-width:100%}.gps-546733385976906976 .gp-flex-1{flex:1 1 0%}.gps-546733385976906976 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-546733385976906976 .gp-flex-col{flex-direction:column}.gps-546733385976906976 .gp-flex-wrap{flex-wrap:wrap}.gps-546733385976906976 .gp-text-center{text-align:center}.gps-546733385976906976 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-546733385976906976 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-546733385976906976 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-546733385976906976 .gp-duration-200{transition-duration:.2s}.gps-546733385976906976 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-546733385976906976 .tablet\:\!gp-hidden{display:none!important}.gps-546733385976906976 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-546733385976906976 .mobile\:\!gp-hidden{display:none!important}.gps-546733385976906976 .mobile\:gp-hidden{display:none}}.gps-546733385976906976 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:sticky;--top:0px;--z:15;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#f6cbb7","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"tablet":{"attachment":"scroll","color":"#f6cbb7","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gT7IuXB8rR"}' data-id="gT7IuXB8rR" id="gT7IuXB8rR" data-same-height-subgrid-container class="gT7IuXB8rR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pt:0px;--pl:auto;--pb:0px;--pr:auto;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgc-tablet:#f6cbb7;--bgc-mobile:#f6cbb7;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-uI7gL8_b gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghY76XRvUT"}' data-id="ghY76XRvUT" id="ghY76XRvUT" data-same-height-subgrid-container class="ghY76XRvUT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRXZNMw_tk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F0D3CB","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gfQN8MgXrs"}' data-id="gfQN8MgXrs" id="gfQN8MgXrs" data-same-height-subgrid-container class="gfQN8MgXrs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#F0D3CB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxYwmaXtQs gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gfxlWJkr0a"}' data-id="gfxlWJkr0a" id="gfxlWJkr0a" data-same-height-subgrid-container class="gfxlWJkr0a gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr] max-counter" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--cg:8px;--cg-mobile:8px;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gqkZA39sOg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-o-7NvzzP"
        class="g-o-7NvzzP col-coundwon-head"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:0.6819983600624985px 0.7313537016191705px 0px rgba(0, 0, 0, 0.2);--ta:right;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:16px;--size-tablet:27px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-o-7NvzzP_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gxYUyB7hjh gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr-mobile:auto;--pr-mobile:0px" class="gFU-TzI-eW ">
      
    <gp-countdown-timer
        data-id="gFU-TzI-eW"
        gp-href="#"
        class="gp-flex fl_size count-timer"
        style="--jc:left;--jc-mobile:left"
        gp-data='{"behaviour":"daily","dateStandard":1714922987126,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","loopAfterFinish":true,"minuteLabel":"MIN","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SEC","timeZone":"UTC-4","timerDaily":{"format":"am","hours":0,"mins":0},"timerEverygreen":{"days":0,"endTime":1714599450658,"hours":4,"mins":22,"startTime":1714318187126},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gFU-TzI-eW","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"0px"}},"position":"all"},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"12px","color":"rgba(0, 0, 0, 0.20)","distance":"4px","spread":"0px","type":"shadow-1"}}},"cssClass":"fl_size count-timer","d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":0}},"mobile":{"link":false,"margin":{"bottom":0,"right":"auto"},"padding":{"right":"0px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1714922987126,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","loopAfterFinish":true,"minuteLabel":"MIN","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SEC","timeZone":"UTC-4","timerDaily":{"format":"am","hours":0,"mins":0},"timerEverygreen":{"days":0,"endTime":1714599450658,"hours":4,"mins":22,"startTime":1714318187126},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#ffffff","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"5px","itemPadding":{"desktop":{"bottom":"1px","left":"5px","right":"5px","top":"1px"}},"labelTypo":{"attrs":{"bold":false,"color":"text-1","transform":"uppercase"},"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"7px","mobile":"8px","tablet":"8px"},"fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"400","letterSpacing":{"desktop":"0px"},"lineHeight":{"desktop":"75%","mobile":"75%","tablet":"75%"}},"type":"paragraph-1"},"numTypo":{"attrs":{"bold":false,"color":"text-2","transform":"uppercase"},"custom":{"fontFamily":{"type":"google","value":"Poppins"},"fontSize":{"desktop":"18px","mobile":"12px","tablet":"15px"},"fontWeight":"600","hasShadowText":false,"letterSpacing":{"desktop":"0px"},"lineHeight":{"desktop":"200%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"roundedState":{"normal":{"bblr":"3px","bbrr":"3px","btlr":"3px","btrr":"3px","radiusType":"custom"}},"textAlign":{"desktop":"left","mobile":"left"},"verticalGap":"-4px"},"tag":"Countdown","uid":"gFU-TzI-eW","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:5px;--jc:left;--jc-mobile:left">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
          
    <div style="--pl:5px;--pr:5px;--pt:1px;--pb:1px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#ffffff" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFU-TzI-eW-text" id="hour"
        class="gFU-TzI-eW"
        style="--mb:-4px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:15px;--size-mobile:12px;--lh:200%;--lh-tablet:180%;--lh-mobile:180%;--ls:0px;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFU-TzI-eW-text"
        class="gFU-TzI-eW"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:7px;--size-tablet:8px;--size-mobile:8px;--lh:75%;--lh-tablet:75%;--lh-mobile:75%;--ls:0px;--c:var(--g-c-text-1, text-1);--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFU-TzI-eW_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:5px;--pr:5px;--pt:1px;--pb:1px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#ffffff" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFU-TzI-eW-text" id="minute"
        class="gFU-TzI-eW"
        style="--mb:-4px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:15px;--size-mobile:12px;--lh:200%;--lh-tablet:180%;--lh-mobile:180%;--ls:0px;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFU-TzI-eW-text"
        class="gFU-TzI-eW"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:7px;--size-tablet:8px;--size-mobile:8px;--lh:75%;--lh-tablet:75%;--lh-mobile:75%;--ls:0px;--c:var(--g-c-text-1, text-1);--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFU-TzI-eW_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:5px;--pr:5px;--pt:1px;--pb:1px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#ffffff" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFU-TzI-eW-text" id="second"
        class="gFU-TzI-eW"
        style="--mb:-4px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:15px;--size-mobile:12px;--lh:200%;--lh-tablet:180%;--lh-mobile:180%;--ls:0px;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFU-TzI-eW-text"
        class="gFU-TzI-eW"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:7px;--size-tablet:8px;--size-mobile:8px;--lh:75%;--lh-tablet:75%;--lh-mobile:75%;--ls:0px;--c:var(--g-c-text-1, text-1);--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFU-TzI-eW_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#151515","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gzv09xrthW"}' data-id="gzv09xrthW" id="gzv09xrthW" data-same-height-subgrid-container class="gzv09xrthW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-xs);--pb:var(--g-s-xs);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g90_ivKgI5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZhCgj7GOz"
        class="gZhCgj7GOz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--size:20px;--size-tablet:20px;--size-mobile:20px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZhCgj7GOz_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
      <style id="custom-css-gT7IuXB8rR">
        .gT7IuXB8rR {

}
.max-counter {
    max-width: 300px !important;
}
.count-timer {
    justify-content: end !important;
}
#section-countdown .gp-flex-1.gp-text-center.gp-min-w-max.\!gp-max-w-max {
    padding: 0 7px 7px;
}
.gp-countdown-number {
    line-height: 23px !important;
    font-size: 16px !important;
}
      </style>
    
    
{% schema %}
  {
    "presets": [{ "name": "Announcment & Timer" }],
    "name": "Announcment & Timer",
    "tag": "section",
    "class": "gps-546733385976906976 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=546733385976906976)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg-o-7NvzzP_text","label":"gg-o-7NvzzP_text","default":"<span style=\"color:#000000;font-size:14px;\"><strong>OFFER ENDS TONIGHT</strong></span>"},{"type":"html","id":"ggFU-TzI-eW_dayLabel","label":"ggFU-TzI-eW_dayLabel","default":"Days"},{"type":"html","id":"ggFU-TzI-eW_hourLabel","label":"ggFU-TzI-eW_hourLabel","default":"HRS"},{"type":"html","id":"ggFU-TzI-eW_minuteLabel","label":"ggFU-TzI-eW_minuteLabel","default":"MIN"},{"type":"html","id":"ggFU-TzI-eW_secondLabel","label":"ggFU-TzI-eW_secondLabel","default":"SEC"},{"type":"html","id":"ggFU-TzI-eW_weekLabel","label":"ggFU-TzI-eW_weekLabel","default":"Weeks"},{"type":"html","id":"ggZhCgj7GOz_text","label":"ggZhCgj7GOz_text","default":"<span style=\"background-color:rgba(0,0,0,0);color:#FFFFFF;font-size:11px;\"><strong>🎉 WE'VE REBRANDED TO OLORA -&nbsp;</strong></span><span style=\"background-color:rgba(0,0,0,0);color:#ECB631;font-size:11px;\"><strong> BUY 3 GET 3 FREE!</strong></span>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}