

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-531031339894310131.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-531031339894310131.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-531031339894310131.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-531031339894310131.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-531031339894310131.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-531031339894310131.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-531031339894310131.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-531031339894310131.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-531031339894310131.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-531031339894310131.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-531031339894310131.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-531031339894310131.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-531031339894310131.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-531031339894310131.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-531031339894310131.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-531031339894310131.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-531031339894310131.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-531031339894310131.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-531031339894310131.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-531031339894310131.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-531031339894310131.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-531031339894310131.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-531031339894310131.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-531031339894310131.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-531031339894310131.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-531031339894310131.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-531031339894310131.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-531031339894310131.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-531031339894310131.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-531031339894310131.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-531031339894310131.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-531031339894310131.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-531031339894310131.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-531031339894310131.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-531031339894310131.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-531031339894310131.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-531031339894310131.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-531031339894310131.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-531031339894310131.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-531031339894310131.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-531031339894310131.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-531031339894310131.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-531031339894310131.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-531031339894310131.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-531031339894310131.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-531031339894310131.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-531031339894310131.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-531031339894310131.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-531031339894310131.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-531031339894310131.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-531031339894310131.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-531031339894310131.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-531031339894310131.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-531031339894310131.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-531031339894310131.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-531031339894310131.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-531031339894310131.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-531031339894310131.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-531031339894310131.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-531031339894310131.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-531031339894310131.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-531031339894310131.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-531031339894310131.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-531031339894310131 .gp-relative{position:relative}.gps-531031339894310131 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-531031339894310131 .gp-mb-0{margin-bottom:0}.gps-531031339894310131 .\!gp-inline{display:inline!important}.gps-531031339894310131 .gp-flex{display:flex}.gps-531031339894310131 .gp-grid{display:grid}.gps-531031339894310131 .\!gp-hidden{display:none!important}.gps-531031339894310131 .gp-hidden{display:none}.gps-531031339894310131 .gp-h-full{height:100%}.gps-531031339894310131 .gp-w-full{width:100%}.gps-531031339894310131 .gp-max-w-full{max-width:100%}.gps-531031339894310131 .gp-flex-col{flex-direction:column}.gps-531031339894310131 .gp-gap-y-0{row-gap:0}.gps-531031339894310131 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-531031339894310131 .gp-duration-200{transition-duration:.2s}.gps-531031339894310131 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-531031339894310131 .tablet\:\!gp-hidden{display:none!important}.gps-531031339894310131 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-531031339894310131 .mobile\:\!gp-hidden{display:none!important}.gps-531031339894310131 .mobile\:gp-hidden{display:none}}.gps-531031339894310131 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gDg-ahFPyQ" data-id="gDg-ahFPyQ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:10px;--pl-mobile:var(--g-s-m);--pb-mobile:0px;--pr-mobile:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDg-ahFPyQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="go_l-9hWUG gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gRdezfj-sh" data-id="gRdezfj-sh"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:16px;--pb:8px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:var(--g-s-s);--pl-mobile:auto;--pb-mobile:8px;--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--cg-mobile:10px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:841px;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff"
        class="gRdezfj-sh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gontmFlioe gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="guRx7gAk47"
    role="presentation"
    class="gp-group/image guRx7gAk47"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-m);--pl:var(--g-s-m);--pb:var(--g-s-m);--pr:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-d27414c4-c66a-473e-bb89-53b7b291d2a7_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-d27414c4-c66a-473e-bb89-53b7b291d2a7_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-d27414c4-c66a-473e-bb89-53b7b291d2a7.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1200/319;--aspect-tablet:1200/319;--aspect-mobile:1200/319;--objf:cover;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-d27414c4-c66a-473e-bb89-53b7b291d2a7_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-d27414c4-c66a-473e-bb89-53b7b291d2a7_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-d27414c4-c66a-473e-bb89-53b7b291d2a7.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1200/319;--aspect-tablet:1200/319;--aspect-mobile:1200/319;--objf:cover;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-guRx7gAk47">
        .guRx7gAk47 {

}
.guRx7gAk47 > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gGA7VAd_tn gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gv1GFn7X0Z"
    role="presentation"
    class="gp-group/image gv1GFn7X0Z"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-m);--pl:var(--g-s-m);--pb:var(--g-s-m);--pr:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-b3e789ac-a038-40ad-9ff4-c844caada47f_768x768.webp" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-b3e789ac-a038-40ad-9ff4-c844caada47f_1024x1024.webp" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-b3e789ac-a038-40ad-9ff4-c844caada47f.webp" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1280/197;--aspect-tablet:1280/197;--aspect-mobile:1280/197;--objf:cover;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-b3e789ac-a038-40ad-9ff4-c844caada47f_768x768.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-b3e789ac-a038-40ad-9ff4-c844caada47f_1024x1024.webp" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-b3e789ac-a038-40ad-9ff4-c844caada47f.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1280/197;--aspect-tablet:1280/197;--aspect-mobile:1280/197;--objf:cover;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gv1GFn7X0Z">
        .gv1GFn7X0Z {

}
.gv1GFn7X0Z > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="geab-gvp38 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gKD6Ds42vg"
    role="presentation"
    class="gp-group/image gKD6Ds42vg"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-m);--pl:var(--g-s-m);--pb:var(--g-s-m);--pr:var(--g-s-m);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1001/186;--aspect-tablet:1001/186;--aspect-mobile:1001/186;--objf:cover;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1001/186;--aspect-tablet:1001/186;--aspect-mobile:1001/186;--objf:cover;--w-mobile:75px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gKD6Ds42vg">
        .gKD6Ds42vg {

}
.gKD6Ds42vg > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-531031339894310131 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=531031339575543027&sectionId=531031339894310131)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
