

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-542025466467648516.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-542025466467648516.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-542025466467648516.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-542025466467648516.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-542025466467648516.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-542025466467648516.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-542025466467648516.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-542025466467648516.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-542025466467648516.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-542025466467648516.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-542025466467648516.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-542025466467648516.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-542025466467648516.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-542025466467648516.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-542025466467648516.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-542025466467648516.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-542025466467648516.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-542025466467648516.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-542025466467648516.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-542025466467648516.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-542025466467648516.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-542025466467648516.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-542025466467648516.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-542025466467648516.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-542025466467648516.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-542025466467648516.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-542025466467648516.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-542025466467648516.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-542025466467648516.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-542025466467648516.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-542025466467648516.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-542025466467648516.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-542025466467648516.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-542025466467648516.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-542025466467648516.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-542025466467648516.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-542025466467648516.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-542025466467648516.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-542025466467648516.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-542025466467648516.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-542025466467648516.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-542025466467648516.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-542025466467648516.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-542025466467648516.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-542025466467648516.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-542025466467648516.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-542025466467648516.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-542025466467648516.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-542025466467648516.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-542025466467648516.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-542025466467648516.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-542025466467648516.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-542025466467648516.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-542025466467648516.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-542025466467648516.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-542025466467648516.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-542025466467648516.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-542025466467648516.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-542025466467648516.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-542025466467648516.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-542025466467648516.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-542025466467648516.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-542025466467648516.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-542025466467648516.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-542025466467648516.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-542025466467648516.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-542025466467648516.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-542025466467648516.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-542025466467648516.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-542025466467648516.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-542025466467648516.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-542025466467648516 .gp-relative{position:relative}.gps-542025466467648516 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-542025466467648516 .gp-mb-0{margin-bottom:0}.gps-542025466467648516 .gp-flex{display:flex}.gps-542025466467648516 .gp-grid{display:grid}.gps-542025466467648516 .gp-contents{display:contents}.gps-542025466467648516 .\!gp-hidden{display:none!important}.gps-542025466467648516 .gp-hidden{display:none}.gps-542025466467648516 .gp-h-full{height:100%}.gps-542025466467648516 .gp-w-full{width:100%}.gps-542025466467648516 .gp-max-w-full{max-width:100%}.gps-542025466467648516 .gp-flex-col{flex-direction:column}.gps-542025466467648516 .gp-gap-y-0{row-gap:0}.gps-542025466467648516 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542025466467648516 .gp-duration-200{transition-duration:.2s}.gps-542025466467648516 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-542025466467648516 .tablet\:\!gp-hidden{display:none!important}.gps-542025466467648516 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-542025466467648516 .mobile\:\!gp-hidden{display:none!important}.gps-542025466467648516 .mobile\:gp-hidden{display:none}}.gps-542025466467648516 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-542025466467648516 .\[\&_p\]\:gp-inline p{display:inline}.gps-542025466467648516 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-542025466467648516 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gDMtG-lvwU" data-id="gDMtG-lvwU"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:60px;--pl:20px;--pb:0px;--pr:20px;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDMtG-lvwU col-abt-dndr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giU382_AkB gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gzSUuPQ39u" data-id="gzSUuPQ39u"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr-mobile:15px;--bbrr-mobile:15px;--btlr-mobile:15px;--btrr-mobile:15px;--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzSUuPQ39u same-row gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gefZLC5lBF gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gQs6Qs1gNP">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gQs6Qs1gNP "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:26px;--size-tablet:30px;--size-mobile:36px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQs6Qs1gNP_text | downcase }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gNtoAGhKea">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNtoAGhKea "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pb:10px;--mb-mobile:0px;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:34px;--size-tablet:30px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNtoAGhKea_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gb1LIgNBCt">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gb1LIgNBCt para-desc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pl-mobile:15px;--pr-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:22px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggb1LIgNBCt_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g_KqC5PPPG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_KqC5PPPG para-desc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pt-mobile:0px;--pb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:22px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_KqC5PPPG_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gy29ufEeB5">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gy29ufEeB5 para-desc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:22px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggy29ufEeB5_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="g_eR_CNEgM gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gEt--yCbbC"
    role="presentation"
    class="gp-group/image gEt--yCbbC"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--bblr-mobile:15px;--bbrr-mobile:15px;--btlr-mobile:15px;--btrr-mobile:15px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-e6f5c2ca-947f-49a0-adc5-c8e7df5445d1_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-e6f5c2ca-947f-49a0-adc5-c8e7df5445d1_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_510135694635565882-e6f5c2ca-947f-49a0-adc5-c8e7df5445d1.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-542025466467648516 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=542025466383434756&sectionId=542025466467648516)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggQs6Qs1gNP_text","label":"ggQs6Qs1gNP_text","default":"is it just camel toe they solve?"},{"type":"html","id":"ggNtoAGhKea_text","label":"ggNtoAGhKea_text","default":"What Are Other Active Girls Saying?"},{"type":"html","id":"ggb1LIgNBCt_text","label":"ggb1LIgNBCt_text","default":"<p>Not at all! Aura has really thought of everything with this thong. The gusset is made wider for full coverage and extra comfort, so I don’t have to worry about awkward adjustments anymore. Plus, it’s absorbent and sweat-proof, which keeps me feeling dry and comfortable even during my toughest workouts. The material is super breathable, which means I stay cool, and it’s completely seamless – no visible panty lines, even under my tightest leggings. It's those small but important details that make a huge difference and is exactly why I keep recommending this to all my clients.</p>"},{"type":"html","id":"gg_KqC5PPPG_text","label":"gg_KqC5PPPG_text","default":"<p>Cameltoe can be a bit of a taboo subject for most, so you might not find too many images going around social media showing the wonders that this thong does.</p>"},{"type":"html","id":"ggy29ufEeB5_text","label":"ggy29ufEeB5_text","default":"<p>That being said I have dug up this before and after post by a brave girl from the Uk. It perfectly shows the difference these thongs make. Like seriously... just imagine never having to worry about cameltoe again!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
