

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527620508712174616.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527620508712174616.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527620508712174616.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527620508712174616.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527620508712174616.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527620508712174616.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527620508712174616.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527620508712174616.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527620508712174616.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527620508712174616.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-527620508712174616.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527620508712174616.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-527620508712174616.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-527620508712174616.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-527620508712174616.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-527620508712174616.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-527620508712174616.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-527620508712174616.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527620508712174616.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527620508712174616.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527620508712174616.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527620508712174616.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-527620508712174616.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-527620508712174616.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-527620508712174616.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527620508712174616.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527620508712174616.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527620508712174616.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-527620508712174616.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527620508712174616.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527620508712174616.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-527620508712174616.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-527620508712174616.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-527620508712174616.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527620508712174616.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527620508712174616.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527620508712174616.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527620508712174616.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527620508712174616.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527620508712174616.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527620508712174616.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527620508712174616.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527620508712174616.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527620508712174616.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-527620508712174616.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-527620508712174616.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527620508712174616.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-527620508712174616.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-527620508712174616.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527620508712174616.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-527620508712174616.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-527620508712174616.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-527620508712174616.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527620508712174616.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-527620508712174616.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-527620508712174616.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527620508712174616.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527620508712174616.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-527620508712174616.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-527620508712174616.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527620508712174616.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-527620508712174616.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-527620508712174616.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-527620508712174616.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527620508712174616.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527620508712174616.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-527620508712174616.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527620508712174616.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-527620508712174616.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-527620508712174616.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-527620508712174616.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-527620508712174616.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527620508712174616.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527620508712174616.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527620508712174616.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527620508712174616.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-527620508712174616.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-527620508712174616 .gp-relative{position:relative}.gps-527620508712174616 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527620508712174616 .gp-mb-0{margin-bottom:0}.gps-527620508712174616 .gp-flex{display:flex}.gps-527620508712174616 .gp-grid{display:grid}.gps-527620508712174616 .gp-contents{display:contents}.gps-527620508712174616 .\!gp-hidden{display:none!important}.gps-527620508712174616 .gp-hidden{display:none}.gps-527620508712174616 .gp-h-auto{height:auto}.gps-527620508712174616 .gp-h-full{height:100%}.gps-527620508712174616 .gp-w-full{width:100%}.gps-527620508712174616 .gp-max-w-full{max-width:100%}.gps-527620508712174616 .gp-flex-none{flex:none}.gps-527620508712174616 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-527620508712174616 .gp-flex-col{flex-direction:column}.gps-527620508712174616 .gp-gap-y-0{row-gap:0}.gps-527620508712174616 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527620508712174616 .gp-duration-200{transition-duration:.2s}.gps-527620508712174616 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-527620508712174616 .tablet\:\!gp-hidden{display:none!important}.gps-527620508712174616 .tablet\:gp-hidden{display:none}.gps-527620508712174616 .tablet\:gp-h-auto{height:auto}.gps-527620508712174616 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-527620508712174616 .mobile\:\!gp-hidden{display:none!important}.gps-527620508712174616 .mobile\:gp-hidden{display:none}.gps-527620508712174616 .mobile\:gp-h-auto{height:auto}.gps-527620508712174616 .mobile\:gp-flex-none{flex:none}}.gps-527620508712174616 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-527620508712174616 .\[\&_p\]\:gp-inline p{display:inline}.gps-527620508712174616 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-527620508712174616 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="i2ld632a0a901" data-id="i2ld632a0a901"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:1px;--pl-mobile:0px;--pb-mobile:1px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url()"
        class="i2ld632a0a901 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-kMoUDafCkJxD gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g7o3I6qSnu" data-id="g7o3I6qSnu"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--op:100%;--op-mobile:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mr:auto;--pt:4px;--pl:16px;--pb:30px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:auto;--pb-mobile:var(--g-s-l);--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:841px;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgc-mobile:linear-gradient(130deg, #FDFCFC 0%, #FFFFFF 100%);--bgi:url();--bgi-mobile:linear-gradient(130deg, #FDFCFC 0%, #FFFFFF 100%)"
        class="g7o3I6qSnu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:start"
      class="gMDT5y1fF8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJvweJj40X">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJvweJj40X "
        style="--ta:center;--d:none;--d-mobile:block;--d-tablet:none;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJvweJj40X_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gKkC2it2c4"
    role="presentation"
    class="gp-group/image gKkC2it2c4 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:13px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_510135694635565882-8ff2faee-53d2-411a-8b44-f960d8bf7e97.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--jc-tablet:start"
      class="gl6JdLlRwo gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzvgCcZNJp">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gzvgCcZNJp "
        style="--ta:center;--d:block;--d-mobile:none;--d-tablet:block;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:26px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzvgCcZNJp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7o8QcxsrD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g7o8QcxsrD "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7o8QcxsrD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="PZOaEpZptBwP" data-id="PZOaEpZptBwP"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:16px;--pb:30px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-l);--mr-mobile:auto;--pt-mobile:var(--g-s-2xl);--pl-mobile:auto;--pb-mobile:8px;--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:841px;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url()"
        class="PZOaEpZptBwP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-FVyTJNrainAG gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfLsoFFcFA">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gfLsoFFcFA "
        style="--ta:center;--d:none;--d-mobile:block;--d-tablet:none;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(1, 1, 1);--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggfLsoFFcFA_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="FVyTJNrainAG"
    role="presentation"
    class="gp-group/image FVyTJNrainAG gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:13px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_510135694635565882-2691d62d-af3c-4005-8dca-adec7a7d5ee6.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lf408d0499d gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ymKitmAnAsqL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ymKitmAnAsqL "
        style="--ta:center;--d:block;--d-mobile:none;--d-tablet:block;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:32px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(1, 1, 1);--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.gymKitmAnAsqL_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="aNvsqcYtrpbz">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="aNvsqcYtrpbz "
        style="--ta:center;--op-mobile:100%;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaNvsqcYtrpbz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="oNHJwSCwWPFY" data-id="oNHJwSCwWPFY"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--op:100%;--op-mobile:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mr:auto;--pt:4px;--pl:16px;--pb:4px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:auto;--pb-mobile:30px;--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:841px;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgc-mobile:linear-gradient(130deg, #FDFCFC 0%, #FFFFFF 100%);--bgi:url();--bgi-mobile:linear-gradient(130deg, #FDFCFC 0%, #FFFFFF 100%)"
        class="oNHJwSCwWPFY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-utAdwpadThMP gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1c06VKU0e">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g1c06VKU0e "
        style="--ta:center;--d:none;--d-mobile:block;--d-tablet:none;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1c06VKU0e_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="utAdwpadThMP"
    role="presentation"
    class="gp-group/image utAdwpadThMP gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:13px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_510135694635565882-d92c6a3f-4865-4ab0-9fb8-969b1f87bf80.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l6784b6c3f7 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="KPjORKrLFWir">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="KPjORKrLFWir "
        style="--ta:center;--d:block;--d-mobile:none;--d-tablet:block;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:26px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gKPjORKrLFWir_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="QOozegFgmtZw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="QOozegFgmtZw "
        style="--ta:center;--op-mobile:100%;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gQOozegFgmtZw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-527620508712174616 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=527620508645065752&sectionId=527620508712174616)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJvweJj40X_text","label":"ggJvweJj40X_text","default":"<p><span style=\"font-size:28px;\"><strong>4. no more 'accidental' glances</strong></span></p>"},{"type":"html","id":"ggzvgCcZNJp_text","label":"ggzvgCcZNJp_text","default":"<p><span style=\"font-size:28px;\"><strong>4. No More 'Accidental' Glances</strong></span></p>"},{"type":"html","id":"gg7o8QcxsrD_text","label":"gg7o8QcxsrD_text","default":"<p><span style=\"font-size:16px;\">By eliminating fedgies, visible panty lines and sweat patches, these thongs reduce the chances of creeps making 'accidental' glances. There's less for them to claim they were innocently noticing.</span></p>"},{"type":"html","id":"ggfLsoFFcFA_text","label":"ggfLsoFFcFA_text","default":"<span style=\"font-size:26px;\"><strong>5. no more excuses for objectifying comments</strong></span>"},{"type":"html","id":"gymKitmAnAsqL_text","label":"gymKitmAnAsqL_text","default":"<span style=\"font-size:26px;\"><strong>5. no more excuses for objectifying comments</strong></span>"},{"type":"html","id":"gaNvsqcYtrpbz_text","label":"gaNvsqcYtrpbz_text","default":"<p><span style=\"font-size:16px;\">Without the usual wardrobe malfunctions or visible lines, creeps lose their excuses for making objectifying comments. These thongs keep the conversation focused on your workout, not your appearance.</span></p>"},{"type":"html","id":"gg1c06VKU0e_text","label":"gg1c06VKU0e_text","default":"<p><span style=\"font-size:28px;\"><strong>5. </strong></span><span style=\"font-size:26px;\"><strong>maximize your confidence</strong></span></p>"},{"type":"html","id":"gKPjORKrLFWir_text","label":"gKPjORKrLFWir_text","default":"<p><span style=\"font-size:28px;\"><strong>6. </strong></span><span style=\"font-size:26px;\"><strong>maximize your confidence</strong></span></p>"},{"type":"html","id":"gQOozegFgmtZw_text","label":"gQOozegFgmtZw_text","default":"<p><span style=\"font-size:16px;\">Wearing these thongs boosts your confidence, making it harder for creeps to undermine your self-esteem. Confident women are less likely to be targeted by those looking to exploit insecurity.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
