

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-566867452300231761.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-566867452300231761.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-566867452300231761.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-566867452300231761.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-566867452300231761.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-566867452300231761.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-566867452300231761.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-566867452300231761.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-566867452300231761.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-566867452300231761.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-566867452300231761.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-566867452300231761.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-566867452300231761.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-566867452300231761.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-566867452300231761.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-566867452300231761.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-566867452300231761.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-566867452300231761.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-566867452300231761.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-566867452300231761.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-566867452300231761.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-566867452300231761.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-566867452300231761.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-566867452300231761.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-566867452300231761.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-566867452300231761.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-566867452300231761.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-566867452300231761.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-566867452300231761.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-566867452300231761.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-566867452300231761.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-566867452300231761.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-566867452300231761.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-566867452300231761.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-566867452300231761.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-566867452300231761.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-566867452300231761.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-566867452300231761.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-566867452300231761.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-566867452300231761.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-566867452300231761.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-566867452300231761.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-566867452300231761.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-566867452300231761.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-566867452300231761.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-566867452300231761.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-566867452300231761.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-566867452300231761.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-566867452300231761.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-566867452300231761.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-566867452300231761.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-566867452300231761.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-566867452300231761.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-566867452300231761.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-566867452300231761.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-566867452300231761.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-566867452300231761.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-566867452300231761.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-566867452300231761.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-566867452300231761.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-566867452300231761.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-566867452300231761.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-566867452300231761.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-566867452300231761.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-566867452300231761.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-566867452300231761.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-566867452300231761.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-566867452300231761.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-566867452300231761.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-566867452300231761.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-566867452300231761.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-566867452300231761.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-566867452300231761.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-566867452300231761.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-566867452300231761.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-566867452300231761.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-566867452300231761.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-566867452300231761.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-566867452300231761.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-566867452300231761.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-566867452300231761.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-566867452300231761.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-566867452300231761.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-566867452300231761.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-566867452300231761.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-566867452300231761.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-566867452300231761 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-566867452300231761 .gp-relative{position:relative}.gps-566867452300231761 .gp-z-1{z-index:1}.gps-566867452300231761 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-566867452300231761 .gp-mb-0{margin-bottom:0}.gps-566867452300231761 .gp-flex{display:flex}.gps-566867452300231761 .gp-inline-flex{display:inline-flex}.gps-566867452300231761 .gp-grid{display:grid}.gps-566867452300231761 .\!gp-hidden{display:none!important}.gps-566867452300231761 .gp-hidden{display:none}.gps-566867452300231761 .gp-h-full{height:100%}.gps-566867452300231761 .gp-max-w-full{max-width:100%}.gps-566867452300231761 .gp-shrink-0{flex-shrink:0}.gps-566867452300231761 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-566867452300231761 .gp-flex-col{flex-direction:column}.gps-566867452300231761 .gp-items-center{align-items:center}.gps-566867452300231761 .gp-justify-center{justify-content:center}.gps-566867452300231761 .gp-gap-y-0{row-gap:0}.gps-566867452300231761 .gp-overflow-hidden{overflow:hidden}.gps-566867452300231761 .gp-break-words{overflow-wrap:break-word}.gps-566867452300231761 .gp-rounded-none{border-radius:0}.gps-566867452300231761 .gp-text-left{text-align:left}.gps-566867452300231761 .gp-text-center{text-align:center}.gps-566867452300231761 .gp-leading-\[0\]{line-height:0}.gps-566867452300231761 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-566867452300231761 .gp-no-underline{text-decoration-line:none}.gps-566867452300231761 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566867452300231761 .gp-duration-200{transition-duration:.2s}.gps-566867452300231761 .gp-duration-300{transition-duration:.3s}.gps-566867452300231761 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566867452300231761 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-566867452300231761 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-566867452300231761 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-566867452300231761 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-566867452300231761 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-566867452300231761 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-566867452300231761 .tablet\:\!gp-hidden{display:none!important}.gps-566867452300231761 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-566867452300231761 .mobile\:\!gp-hidden{display:none!important}.gps-566867452300231761 .mobile\:gp-hidden{display:none}}.gps-566867452300231761 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-566867452300231761 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-566867452300231761 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-566867452300231761 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-566867452300231761 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-566867452300231761 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-566867452300231761 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-566867452300231761 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-566867452300231761 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-566867452300231761 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-566867452300231761 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-566867452300231761 .\[\&_p\]\:gp-inline p{display:inline}.gps-566867452300231761 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-566867452300231761 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-566867452300231761 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="giPmCA-kCw" data-id="giPmCA-kCw"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pt:80px;--pl:15px;--pb:30px;--pr:15px;--pt-mobile:40px;--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giPmCA-kCw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSdmaxuwdA gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gRDF1ClcSM" data-id="gRDF1ClcSM"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:32px;--mb-mobile:5px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRDF1ClcSM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUe68Rn091 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQVjkdfXrL">
    <div
      parentTag="Col"
        class="gQVjkdfXrL "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:18px;--mb-mobile:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQVjkdfXrL_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7ziKJakWH">
    <div
      parentTag="Col"
        class="g7ziKJakWH "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--mb-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:17px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7ziKJakWH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g7ziKJakWH">
        .g7ziKJakWH {

}
.g7ziKJakWH p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gJb-mIsIV7" data-id="gJb-mIsIV7"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:#fdf5f4;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gJb-mIsIV7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtW0olT_Ae gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gxTt5q2PrH">
    <div
      parentTag="Col"
        class="gxTt5q2PrH "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxTt5q2PrH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbuTPXd4-k gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbGi9jv1ux" data-id="gbGi9jv1ux"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:26px;--pb:26px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#c2818a;--bgc-mobile:#c2818a;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gbGi9jv1ux gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLSkFn8GdW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gE3kNcHLNK">
    <div
      parentTag="Col"
        class="gE3kNcHLNK "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggE3kNcHLNK_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_QNP1UzvL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1tLkb5RMT">
    <div
      parentTag="Col"
        class="g1tLkb5RMT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:0px;--pr:0px;--pl-tablet:10px;--pr-tablet:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1tLkb5RMT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g1tLkb5RMT">
        .g1tLkb5RMT {

}
.g1tLkb5RMT p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gxi5sut6Jb" data-id="gxi5sut6Jb"
        style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxi5sut6Jb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwVjejn3-6 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gnoxzTF8H8" data-id="gnoxzTF8H8"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnoxzTF8H8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ga9u3PVsiN gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guQht7zty6">
    <div
      parentTag="Col"
        class="guQht7zty6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguQht7zty6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-guQht7zty6">
        .guQht7zty6 {

}
.guQht7zty6 p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gXQCa6sIP5 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gNDdTo_0Zk" data-id="gNDdTo_0Zk"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:28px;--pb:28px;--pt-mobile:39px;--pb-mobile:39px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#c2818a;--bgc-mobile:#c2818a;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gNDdTo_0Zk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggroUHNP_Y gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] g5IL0CYaTP"
    >
      <div 
      data-id="g5IL0CYaTP"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#00000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:26px;--w-mobile:30px;--h:26px;--h-mobile:30px;--minw:26px;--minw-mobile:30px;--height-desktop:26px;--height-tablet:26px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-9vEGnpM1 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gG0ANfS9Y1">
    <div
      parentTag="Col"
        class="gG0ANfS9Y1 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d63837;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggG0ANfS9Y1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g5ZTGyxnGS" data-id="g5ZTGyxnGS"
        style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:#fdf5f4;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g5ZTGyxnGS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g1sVB-8QG7 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gwGRvM-FK4" data-id="gwGRvM-FK4"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:#fdf5f4;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gwGRvM-FK4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g39BuUQZOk gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTrBUhydC1">
    <div
      parentTag="Col"
        class="gTrBUhydC1 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTrBUhydC1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gTrBUhydC1">
        .gTrBUhydC1 {

}
.gTrBUhydC1 p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gH0hk0-uFk gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gGfDge5OQc" data-id="gGfDge5OQc"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:28px;--pb:28px;--pt-mobile:30px;--pb-mobile:30px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#c2818a;--bgc-mobile:#c2818a;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gGfDge5OQc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVR1F2Lwev gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] gRrIp81qod"
    >
      <div 
      data-id="gRrIp81qod"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#00000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:26px;--w-mobile:30px;--h:26px;--h-mobile:30px;--minw:26px;--minw-mobile:30px;--height-desktop:26px;--height-tablet:26px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gu3EOAeZH- gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRpv31P5Uw">
    <div
      parentTag="Col"
        class="gRpv31P5Uw "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d63837;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRpv31P5Uw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gt3kSKU-nX" data-id="gt3kSKU-nX"
        style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt3kSKU-nX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ghjTv2nOxL gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g-xIjGfmdB" data-id="g-xIjGfmdB"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-xIjGfmdB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOOTSsgGJh gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gxdCX8roEE">
    <div
      parentTag="Col"
        class="gxdCX8roEE "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxdCX8roEE_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gxdCX8roEE">
        .gxdCX8roEE {

}
.gxdCX8roEE p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="giD76qAV1i gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gsmI9cJlI6" data-id="gsmI9cJlI6"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:28px;--pb:28px;--pt-mobile:30px;--pb-mobile:30px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#c2818a;--bgc-mobile:#c2818a;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gsmI9cJlI6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkAvZiL2EJ gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] gZ3z4uo999"
    >
      <div 
      data-id="gZ3z4uo999"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#00000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:26px;--w-mobile:30px;--h:26px;--h-mobile:30px;--minw:26px;--minw-mobile:30px;--height-desktop:26px;--height-tablet:26px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRJjPN_ImQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gApm3bAa8M">
    <div
      parentTag="Col"
        class="gApm3bAa8M "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d63837;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggApm3bAa8M_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gQy-av6GGZ" data-id="gQy-av6GGZ"
        style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:#fdf5f4;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gQy-av6GGZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gC5UJ4_O7e gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gOaZoOXha9" data-id="gOaZoOXha9"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOaZoOXha9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gM3T2I7PnV gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRLwuO91As">
    <div
      parentTag="Col"
        class="gRLwuO91As "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRLwuO91As_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRLwuO91As">
        .gRLwuO91As {

}
.gRLwuO91As p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gKkADLF-OM gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gnF7qdHl5y" data-id="gnF7qdHl5y"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:28px;--pb:28px;--pt-mobile:30px;--pb-mobile:30px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#c2818a;--bgc-mobile:#c2818a;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gnF7qdHl5y gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtgpDmaKHq gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] gPD_56PVpo"
    >
      <div 
      data-id="gPD_56PVpo"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#00000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:26px;--w-mobile:30px;--h:26px;--h-mobile:30px;--minw:26px;--minw-mobile:30px;--height-desktop:26px;--height-tablet:26px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAmE6pHGK5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZYesRVLK9">
    <div
      parentTag="Col"
        class="gZYesRVLK9 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d63837;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZYesRVLK9_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g5LJBys_Kc" data-id="g5LJBys_Kc"
        style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g5LJBys_Kc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ghCRnqOIkJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ghLsH0SYL4" data-id="ghLsH0SYL4"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghLsH0SYL4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gkQTC7bKrV gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0bY80aNdc">
    <div
      parentTag="Col"
        class="g0bY80aNdc "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0bY80aNdc_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g0bY80aNdc">
        .g0bY80aNdc {

}
.g0bY80aNdc p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gFO-g-CGOn gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gVmTu1FkdJ" data-id="gVmTu1FkdJ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:28px;--pb:28px;--pt-mobile:30px;--pb-mobile:30px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#c2818a;--bgc-mobile:#c2818a;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gVmTu1FkdJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5HutdzxCg gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] g93G9SvacG"
    >
      <div 
      data-id="g93G9SvacG"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#00000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:26px;--w-mobile:30px;--h:26px;--h-mobile:30px;--minw:26px;--minw-mobile:30px;--height-desktop:26px;--height-tablet:26px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWrZj2oddX gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gf2lyICxrB">
    <div
      parentTag="Col"
        class="gf2lyICxrB "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d63837;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggf2lyICxrB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gCJ00gB0SN" data-id="gCJ00gB0SN"
        style="--bs:solid;--bw:0px 1px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--mb:48px;--mb-mobile:28px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:#fdf5f4;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gCJ00gB0SN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRKp_gJl56 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gUdW12jpb1" data-id="gUdW12jpb1"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:0px;--pl:24px;--pb:0px;--pr:24px;--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUdW12jpb1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4t6XINnQL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDEN2cXRzS">
    <div
      parentTag="Col"
        class="gDEN2cXRzS "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDEN2cXRzS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gDEN2cXRzS">
        .gDEN2cXRzS {

}
.gDEN2cXRzS p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0lDE_DqbM gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gEjLB55Nfy" data-id="gEjLB55Nfy"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:28px;--pb:28px;--pt-mobile:39px;--pb-mobile:39px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#c2818a;--bgc-mobile:#c2818a;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gEjLB55Nfy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkEadZbD9T gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
      class="gp-leading-[0] gwCAvdLXZB"
    >
      <div 
      data-id="gwCAvdLXZB"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--bg:#00000000"
      >
      <div
      
    >
      <span
        style="--c:#FFFFFF;--t:rotate(0deg);--w:26px;--w-mobile:30px;--h:26px;--h-mobile:30px;--minw:26px;--minw-mobile:30px;--height-desktop:26px;--height-tablet:26px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gTySvrX9CQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTJS0mk8_h">
    <div
      parentTag="Col"
        class="gTJS0mk8_h "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d63837;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTJS0mk8_h_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:10px;--ta:center"
    
  >
    <style>
    .gfV9fN1-Az.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 2px 2px 2px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .gfV9fN1-Az:hover::before {
      
      
    }

    .gfV9fN1-Az:hover .gp-button-icon {
      color: undefined;
    }

     .gfV9fN1-Az .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gfV9fN1-Az:hover .gp-button-price {
      color: undefined;
    }

    .gfV9fN1-Az .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gfV9fN1-Az .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gfV9fN1-Az:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#g4y2vxfb8x" target="_self" data-id="gfV9fN1-Az" aria-label="<p>Buy Now</p>"
      
      data-state="idle"
      class="gfV9fN1-Az gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#c2818a;--bg:#c2818a;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggfV9fN1-Az_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gfV9fN1-Az">
        button.gfV9fN1-Az {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:10px;--ta:left"
    
  >
    <style>
    .gVM1052JlF.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 2px 2px 2px;
  border-color: #FDF5F4;
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .gVM1052JlF:hover::before {
      
      
    }

    .gVM1052JlF:hover .gp-button-icon {
      color: undefined;
    }

     .gVM1052JlF .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gVM1052JlF:hover .gp-button-price {
      color: undefined;
    }

    .gVM1052JlF .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gVM1052JlF .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gVM1052JlF:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gFnViiAM2L" target="_self" data-id="gVM1052JlF" aria-label="<p>Buy Now</p>"
      
      data-state="idle"
      class="gVM1052JlF gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#c2818a;--bg:#C2818A;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--w:270px;--w-tablet:270px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:10px;--pb-mobile:10px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggVM1052JlF_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gVM1052JlF">
        button.gVM1052JlF {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gHjJpKMj85" data-id="gHjJpKMj85"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:16px;--mb-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHjJpKMj85 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1aLNd19ZB gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gyW-klh1dv ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gyW-klh1dv"
      data-id="gyW-klh1dv"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":16,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:16px;--mb-mobile:14px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:center">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gyW-klh1dv"
            style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg data-id="512617321974465641" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
<g clip-path="url(#clip0_614_2196)">
<path d="M5.83801 2.09C4.88559 2.35248 3.93965 2.6379 3.00101 2.946C2.91529 2.97376 2.8391 3.02504 2.78111 3.09399C2.72312 3.16295 2.68567 3.2468 2.67301 3.336C2.11901 7.493 3.39901 10.526 4.92601 12.524C5.57252 13.3784 6.34341 14.1311 7.21301 14.757C7.55901 15.001 7.86501 15.177 8.10601 15.29C8.22601 15.347 8.32401 15.385 8.39901 15.408C8.43181 15.4195 8.46562 15.4279 8.50001 15.433C8.53398 15.4275 8.56743 15.4191 8.60001 15.408C8.67601 15.385 8.77401 15.347 8.89401 15.29C9.13401 15.177 9.44101 15 9.78701 14.757C10.6566 14.1311 11.4275 13.3784 12.074 12.524C13.601 10.527 14.881 7.493 14.327 3.336C14.3145 3.24676 14.277 3.16285 14.219 3.09388C14.161 3.02491 14.0848 2.97366 13.999 2.946C13.348 2.733 12.249 2.386 11.162 2.091C10.052 1.79 9.03101 1.567 8.50001 1.567C7.97001 1.567 6.94801 1.79 5.83801 2.091V2.09ZM5.57201 1.06C6.65701 0.765 7.81001 0.5 8.50001 0.5C9.19001 0.5 10.343 0.765 11.428 1.06C12.538 1.36 13.657 1.715 14.315 1.93C14.5901 2.02085 14.834 2.18747 15.0187 2.4107C15.2034 2.63394 15.3213 2.90474 15.359 3.192C15.955 7.669 14.572 10.987 12.894 13.182C12.1824 14.121 11.334 14.9479 10.377 15.635C10.0461 15.8728 9.69549 16.0819 9.32901 16.26C9.04901 16.392 8.74801 16.5 8.50001 16.5C8.25201 16.5 7.95201 16.392 7.67101 16.26C7.30452 16.0819 6.95391 15.8728 6.62301 15.635C5.66603 14.9478 4.81759 14.121 4.10601 13.182C2.42801 10.987 1.04501 7.669 1.64101 3.192C1.67869 2.90474 1.79665 2.63394 1.98132 2.4107C2.166 2.18747 2.4099 2.02085 2.68501 1.93C3.6402 1.61681 4.60281 1.32672 5.57201 1.06Z" fill="#242424"/>
<path d="M11.3546 5.64687C11.4012 5.69331 11.4381 5.74849 11.4633 5.80923C11.4885 5.86998 11.5015 5.9351 11.5015 6.00087C11.5015 6.06663 11.4885 6.13175 11.4633 6.1925C11.4381 6.25324 11.4012 6.30842 11.3546 6.35487L8.35461 9.35487C8.30817 9.40143 8.25299 9.43837 8.19225 9.46358C8.1315 9.48878 8.06638 9.50176 8.00061 9.50176C7.93484 9.50176 7.86972 9.48878 7.80898 9.46358C7.74823 9.43837 7.69306 9.40143 7.64661 9.35487L6.14661 7.85487C6.10012 7.80838 6.06325 7.75319 6.03809 7.69245C6.01293 7.63171 5.99998 7.56661 5.99998 7.50087C5.99998 7.43512 6.01293 7.37002 6.03809 7.30928C6.06325 7.24854 6.10012 7.19335 6.14661 7.14687C6.1931 7.10038 6.24829 7.0635 6.30903 7.03834C6.36977 7.01318 6.43487 7.00023 6.50061 7.00023C6.56636 7.00023 6.63146 7.01318 6.6922 7.03834C6.75294 7.0635 6.80812 7.10038 6.85461 7.14687L8.00061 8.29387L10.6466 5.64687C10.6931 5.6003 10.7482 5.56336 10.809 5.53815C10.8697 5.51295 10.9348 5.49997 11.0006 5.49997C11.0664 5.49997 11.1315 5.51295 11.1922 5.53815C11.253 5.56336 11.3082 5.6003 11.3546 5.64687Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_614_2196">
<rect width="16" height="16" fill="white" transform="translate(0.5 0.5)"/>
</clipPath>
</defs>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.ggyW-klh1dv_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-566867452300231761 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=566867452013577297&sectionId=566867452300231761)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggQVjkdfXrL_text","label":"ggQVjkdfXrL_text","default":"<span style=\"font-size:40px;\">Think All Underwear Is Created Equal? Think Again.</span>"},{"type":"html","id":"gg7ziKJakWH_text","label":"gg7ziKJakWH_text","default":"<p><span style=\"font-size:17px;\">Your underwear is in <strong>direct contact</strong> with your intimate area all day and all night.</span></p>"},{"type":"html","id":"ggxTt5q2PrH_text","label":"ggxTt5q2PrH_text","default":"<p><span style=\"color:#000000;font-size:30px;\"><strong>The Difference.</strong></span></p>"},{"type":"html","id":"ggE3kNcHLNK_text","label":"ggE3kNcHLNK_text","default":"<p><span style=\"font-size:33px;\"><strong>Olora</strong></span></p>"},{"type":"html","id":"gg1tLkb5RMT_text","label":"gg1tLkb5RMT_text","default":"<p><span style=\"color:#000000;font-size:30px;\">Regular Panties</span></p>"},{"type":"html","id":"gguQht7zty6_text","label":"gguQht7zty6_text","default":"<p><strong>Antimicrobial</strong> - actively fights odor-causing bacteria</p>"},{"type":"html","id":"ggG0ANfS9Y1_text","label":"ggG0ANfS9Y1_text","default":"<p><span style=\"font-size:25px;\"><strong>X</strong></span></p>"},{"type":"html","id":"ggTrBUhydC1_text","label":"ggTrBUhydC1_text","default":"<p><strong>Breathable</strong> - helps maintain a healthy pH balance</p>"},{"type":"html","id":"ggRpv31P5Uw_text","label":"ggRpv31P5Uw_text","default":"<p><span style=\"font-size:25px;\"><strong>X</strong></span></p>"},{"type":"html","id":"ggxdCX8roEE_text","label":"ggxdCX8roEE_text","default":"<p><strong>Moisture Wicking </strong>- controls sweat build up</p>"},{"type":"html","id":"ggApm3bAa8M_text","label":"ggApm3bAa8M_text","default":"<p><span style=\"font-size:25px;\"><strong>X</strong></span></p>"},{"type":"html","id":"ggRLwuO91As_text","label":"ggRLwuO91As_text","default":"<p><strong>Extra Wide Gusset</strong> - prevents light leaks &amp; discharge</p>"},{"type":"html","id":"ggZYesRVLK9_text","label":"ggZYesRVLK9_text","default":"<p><span style=\"font-size:25px;\"><strong>X</strong></span></p>"},{"type":"html","id":"gg0bY80aNdc_text","label":"gg0bY80aNdc_text","default":"<p><strong>Molds To Your Skin</strong> - stays put, preventing itchiness &amp; irritation</p>"},{"type":"html","id":"ggf2lyICxrB_text","label":"ggf2lyICxrB_text","default":"<p><span style=\"font-size:25px;\"><strong>X</strong></span></p>"},{"type":"html","id":"ggDEN2cXRzS_text","label":"ggDEN2cXRzS_text","default":"<p><strong>Seamless </strong>- no visible panty lines</p>"},{"type":"html","id":"ggTJS0mk8_h_text","label":"ggTJS0mk8_h_text","default":"<p><span style=\"font-size:25px;\"><strong>X</strong></span></p>"},{"type":"html","id":"ggfV9fN1-Az_label","label":"ggfV9fN1-Az_label","default":"<p>Buy Now</p>"},{"type":"html","id":"ggVM1052JlF_label","label":"ggVM1052JlF_label","default":"<p>Buy Now</p>"},{"type":"html","id":"ggyW-klh1dv_childItem_0","label":"ggyW-klh1dv_childItem_0","default":"<p>90-day money-back guarantee included&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
