

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-566760492095439953.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-566760492095439953.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-566760492095439953.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-566760492095439953.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-566760492095439953.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-566760492095439953.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-566760492095439953.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-566760492095439953.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-566760492095439953.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-566760492095439953.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-566760492095439953.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-566760492095439953.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-566760492095439953.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-566760492095439953.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-566760492095439953.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-566760492095439953.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-566760492095439953.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-566760492095439953.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-566760492095439953.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-566760492095439953.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-566760492095439953.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-566760492095439953.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-566760492095439953.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-566760492095439953.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-566760492095439953.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-566760492095439953.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-566760492095439953.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-566760492095439953.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-566760492095439953.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-566760492095439953.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-566760492095439953.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-566760492095439953.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-566760492095439953.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-566760492095439953.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-566760492095439953.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-566760492095439953.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-566760492095439953.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-566760492095439953.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-566760492095439953.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-566760492095439953.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-566760492095439953.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-566760492095439953.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-566760492095439953.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-566760492095439953.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-566760492095439953.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-566760492095439953.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-566760492095439953.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-566760492095439953.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-566760492095439953.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-566760492095439953.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-566760492095439953.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-566760492095439953.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-566760492095439953.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-566760492095439953.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-566760492095439953.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-566760492095439953.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-566760492095439953.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-566760492095439953.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-566760492095439953.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-566760492095439953.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-566760492095439953.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-566760492095439953.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-566760492095439953.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-566760492095439953.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-566760492095439953.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-566760492095439953.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-566760492095439953.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-566760492095439953.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-566760492095439953.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-566760492095439953.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-566760492095439953.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-566760492095439953.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-566760492095439953.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-566760492095439953.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-566760492095439953.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-566760492095439953.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-566760492095439953.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-566760492095439953.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-566760492095439953.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-566760492095439953.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-566760492095439953.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-566760492095439953.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-566760492095439953.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-566760492095439953 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-566760492095439953 .gp-relative{position:relative}.gps-566760492095439953 .gp-z-1{z-index:1}.gps-566760492095439953 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-566760492095439953 .gp-mb-0{margin-bottom:0}.gps-566760492095439953 .gp-flex{display:flex}.gps-566760492095439953 .gp-inline-flex{display:inline-flex}.gps-566760492095439953 .gp-grid{display:grid}.gps-566760492095439953 .\!gp-hidden{display:none!important}.gps-566760492095439953 .gp-hidden{display:none}.gps-566760492095439953 .gp-h-full{height:100%}.gps-566760492095439953 .gp-w-full{width:100%}.gps-566760492095439953 .gp-max-w-full{max-width:100%}.gps-566760492095439953 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-566760492095439953 .gp-flex-col{flex-direction:column}.gps-566760492095439953 .gp-flex-wrap{flex-wrap:wrap}.gps-566760492095439953 .gp-items-center{align-items:center}.gps-566760492095439953 .gp-justify-center{justify-content:center}.gps-566760492095439953 .gp-gap-y-0{row-gap:0}.gps-566760492095439953 .gp-overflow-hidden{overflow:hidden}.gps-566760492095439953 .gp-break-words{overflow-wrap:break-word}.gps-566760492095439953 .gp-rounded-none{border-radius:0}.gps-566760492095439953 .gp-text-center{text-align:center}.gps-566760492095439953 .gp-leading-\[0\]{line-height:0}.gps-566760492095439953 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-566760492095439953 .gp-no-underline{text-decoration-line:none}.gps-566760492095439953 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566760492095439953 .gp-duration-200{transition-duration:.2s}.gps-566760492095439953 .gp-duration-300{transition-duration:.3s}.gps-566760492095439953 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566760492095439953 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-566760492095439953 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-566760492095439953 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-566760492095439953 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-566760492095439953 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-566760492095439953 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-566760492095439953 .tablet\:\!gp-hidden{display:none!important}.gps-566760492095439953 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-566760492095439953 .mobile\:\!gp-hidden{display:none!important}.gps-566760492095439953 .mobile\:gp-hidden{display:none}}.gps-566760492095439953 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-566760492095439953 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-566760492095439953 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-566760492095439953 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-566760492095439953 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-566760492095439953 .\[\&_p\]\:gp-inline p{display:inline}.gps-566760492095439953 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-566760492095439953 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-566760492095439953 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gFFhGsTtg-" data-id="gFFhGsTtg-"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:15px;--pb-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFFhGsTtg- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFnkjQX1-p gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gpRndexOWw" data-id="gpRndexOWw"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--ml:auto;--mr:auto;--pt:20px;--pb:20px;--pr:0px;--pt-mobile:21px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:553px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgc-mobile:#ffffff;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gpRndexOWw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSBR46WcFs gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="giP2Vm8e5F" data-id="giP2Vm8e5F"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:12px;--mt-mobile:0px;--mb-mobile:7px;--cg:10px;--cg-mobile:6px;--pc:center;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giP2Vm8e5F gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g2oQuMMzhz gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="g6ZEkB-0YK"
      
      data-id="g6ZEkB-0YK"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:2px;--jc:left;--jc-mobile:right">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gEaCx1yocT ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gHsI3nzcIR"
    >
      <div 
      data-id="gHsI3nzcIR"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="giijqjEcQP ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gPjwuEiuDA"
    >
      <div 
      data-id="gPjwuEiuDA"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gHOnMoLZql ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gHojkHJxfa"
    >
      <div 
      data-id="gHojkHJxfa"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gk1_VrLiyJ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] g5xTK4S1-C"
    >
      <div 
      data-id="g5xTK4S1-C"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gG45jCA5kR ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gAPI3V6dG2"
    >
      <div 
      data-id="gAPI3V6dG2"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gGfgjaaVnK gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gkYsM6xWkZ">
    <div
      parentTag="Col"
        class="gkYsM6xWkZ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:normal;--size:12px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggkYsM6xWkZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gkYsM6xWkZ">
        .gkYsM6xWkZ {

}
.gkYsM6xWkZ p {

}
      </style>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghBEJ9dtVw">
    <div
      parentTag="Col"
        class="ghBEJ9dtVw "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:12px;--mb-mobile:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--ls:normal;--size:29px;--size-tablet:42px;--size-mobile:25px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghBEJ9dtVw_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHXm-YmAlA">
    <div
      parentTag="Col"
        class="gHXm-YmAlA "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHXm-YmAlA_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfL7mReRaR">
    <div
      parentTag="Col"
        class="gfL7mReRaR "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:32px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:553px;--w-tablet:553px;--w-mobile:553px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfL7mReRaR_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gfL7mReRaR">
        .gfL7mReRaR {

}
.gfL7mReRaR p {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:16px;--ta:center"
    
  >
    <style>
    .gowKbQdR7C.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .gowKbQdR7C:hover::before {
      
      
    }

    .gowKbQdR7C:hover .gp-button-icon {
      color: undefined;
    }

     .gowKbQdR7C .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gowKbQdR7C:hover .gp-button-price {
      color: undefined;
    }

    .gowKbQdR7C .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gowKbQdR7C .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gowKbQdR7C:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gFnViiAM2L" target="_self" data-id="gowKbQdR7C" aria-label="Shop Now"
      
      data-state="idle"
      class="gowKbQdR7C gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#8A00AD;--bg:#C564DD;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--w:270px;--w-tablet:270px;--w-mobile:270px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggowKbQdR7C_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gowKbQdR7C">
        button.gowKbQdR7C {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--ta:left"
    
  >
    <style>
    .g6WpXfkljQ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 2px 2px 2px;
  border-color: #FDF5F4;
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .g6WpXfkljQ:hover::before {
      
      
    }

    .g6WpXfkljQ:hover .gp-button-icon {
      color: undefined;
    }

     .g6WpXfkljQ .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g6WpXfkljQ:hover .gp-button-price {
      color: undefined;
    }

    .g6WpXfkljQ .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g6WpXfkljQ .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g6WpXfkljQ:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gOT3IHB1zS" target="_self" data-id="g6WpXfkljQ" aria-label="<p>see Why</p>"
      
      data-state="idle"
      class="g6WpXfkljQ gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#c2818a;--bg:#C2818A;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--w:270px;--w-tablet:270px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:10px;--pb-mobile:10px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gg6WpXfkljQ_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-g6WpXfkljQ">
        button.g6WpXfkljQ {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gCqMnQSVrr" data-id="gCqMnQSVrr"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--ml:auto;--mr:auto;--pt:20px;--pb:20px;--pr:0px;--pt-mobile:21px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgc-mobile:#ffffff;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gCqMnQSVrr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEzfDHwR9w gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g_hti7QJDl" data-id="g_hti7QJDl"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:12px;--mt-mobile:0px;--mb-mobile:7px;--cg:10px;--cg-mobile:6px;--pc:center;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_hti7QJDl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gkvzdwfwzn gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
    data-id="g2p0cTWlfW"
      
      data-id="g2p0cTWlfW"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:2px;--jc:left;--jc-mobile:right">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gONxISaLFx ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gelQ-rZrKe"
    >
      <div 
      data-id="gelQ-rZrKe"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gi7gqRJVmr ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gJpysBrdUL"
    >
      <div 
      data-id="gJpysBrdUL"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gxW4BTfez9 ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gyZ6IDmBlX"
    >
      <div 
      data-id="gyZ6IDmBlX"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g-E_U1YwPM ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gPuoSYQgkn"
    >
      <div 
      data-id="gPuoSYQgkn"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gkDizxLLGw ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
      class="gp-leading-[0] gziizyvryd"
    >
      <div 
      data-id="gziizyvryd"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#c2818a;--t:rotate(0deg);--w:12px;--h:12px;--minw:12px;--height-desktop:12px;--height-tablet:12px;--height-mobile:12px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gyrK3aDYu9 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTO-VIg7xF">
    <div
      parentTag="Col"
        class="gTO-VIg7xF "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:normal;--size:12px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTO-VIg7xF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gTO-VIg7xF">
        .gTO-VIg7xF {

}
.gTO-VIg7xF p {

}
      </style>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ge4fmAa5pY">
    <div
      parentTag="Col"
        class="ge4fmAa5pY "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:20px;--pl:0px;--pr:0px;--mb-mobile:5px"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:150%;--w-tablet:150%;--w-mobile:150%;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:500;--ls:normal;--size:40px;--size-tablet:42px;--size-mobile:29px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gge4fmAa5pY_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gntO5l5Qq3">
    <div
      parentTag="Col"
        class="gntO5l5Qq3 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggntO5l5Qq3_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:16px;--ta:center"
    
  >
    <style>
    .gm9_VRRzFy.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 2px 2px 2px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .gm9_VRRzFy:hover::before {
      
      
    }

    .gm9_VRRzFy:hover .gp-button-icon {
      color: undefined;
    }

     .gm9_VRRzFy .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gm9_VRRzFy:hover .gp-button-price {
      color: undefined;
    }

    .gm9_VRRzFy .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gm9_VRRzFy .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gm9_VRRzFy:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gOT3IHB1zS" target="_self" data-id="gm9_VRRzFy" aria-label="<p>See Why</p>"
      
      data-state="idle"
      class="gm9_VRRzFy gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#c2818a;--bg:#c2818a;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--w:270px;--w-tablet:270px;--w-mobile:270px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggm9_VRRzFy_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gm9_VRRzFy">
        button.gm9_VRRzFy {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--ta:left"
    
  >
    <style>
    .g6bGeRUK9A.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 2px 2px 2px;
  border-color: #FDF5F4;
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .g6bGeRUK9A:hover::before {
      
      
    }

    .g6bGeRUK9A:hover .gp-button-icon {
      color: undefined;
    }

     .g6bGeRUK9A .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g6bGeRUK9A:hover .gp-button-price {
      color: undefined;
    }

    .g6bGeRUK9A .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g6bGeRUK9A .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g6bGeRUK9A:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#gFnViiAM2L" target="_self" data-id="g6bGeRUK9A" aria-label="<p>see Why</p>"
      
      data-state="idle"
      class="g6bGeRUK9A gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#c2818a;--bg:#C2818A;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--w:270px;--w-tablet:270px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:10px;--pb-mobile:10px;--c:var(--g-c-text-3, text-3);--size:19px;--size-tablet:19px;--size-mobile:17px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:capitalize"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:19px;--size-tablet:19px;--size-mobile:17px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gg6bGeRUK9A_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-g6bGeRUK9A">
        button.g6bGeRUK9A {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-566760492095439953 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=566760491741873233&sectionId=566760492095439953)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggkYsM6xWkZ_text","label":"ggkYsM6xWkZ_text","default":"<p>5,800+ Happy Customers</p>"},{"type":"html","id":"gghBEJ9dtVw_text","label":"gghBEJ9dtVw_text","default":"<span style=\"font-size:26px;\">Say Goodbye To Vaginal Odor &amp; Fishy Discharge <strong><u>WITHOUT</u></strong> Taking Supplements&nbsp;</span>"},{"type":"html","id":"ggHXm-YmAlA_text","label":"ggHXm-YmAlA_text","default":"<p>pssst... your <strong>underwear</strong> is the problem!</p>"},{"type":"html","id":"ggfL7mReRaR_text","label":"ggfL7mReRaR_text","default":"<p>Experience a revitalizing journey throughout your day as you savor the refreshing essence of our <strong>Kombucha Bliss,</strong> one sip at a time.</p>"},{"type":"html","id":"ggowKbQdR7C_label","label":"ggowKbQdR7C_label","default":"Shop Now"},{"type":"html","id":"gg6WpXfkljQ_label","label":"gg6WpXfkljQ_label","default":"<p>see Why</p>"},{"type":"html","id":"ggTO-VIg7xF_text","label":"ggTO-VIg7xF_text","default":"<p>5,800+ Happy Customers</p>"},{"type":"html","id":"gge4fmAa5pY_text","label":"gge4fmAa5pY_text","default":"<span style=\"font-size:40px;\">Say Goodbye To Vaginal Odor &amp; Fishy</span><br><span style=\"font-size:40px;\">Discharge <strong><u>WITHOUT</u></strong> Taking Supplements&nbsp;</span>"},{"type":"html","id":"ggntO5l5Qq3_text","label":"ggntO5l5Qq3_text","default":"<p><span style=\"font-size:18px;\">pssst... your <strong>underwear</strong> is the problem!</span></p>"},{"type":"html","id":"ggm9_VRRzFy_label","label":"ggm9_VRRzFy_label","default":"<p>See Why</p>"},{"type":"html","id":"gg6bGeRUK9A_label","label":"gg6bGeRUK9A_label","default":"<p>see Why</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
