
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-563533401827967762.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-563533401827967762.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-563533401827967762.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-563533401827967762.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-563533401827967762.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-563533401827967762.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-563533401827967762.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-563533401827967762.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-563533401827967762.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-563533401827967762.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-563533401827967762.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-563533401827967762.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-563533401827967762.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-563533401827967762.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-563533401827967762.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-563533401827967762.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-563533401827967762.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-563533401827967762.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-563533401827967762.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-563533401827967762.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-563533401827967762.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-563533401827967762.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-563533401827967762.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-563533401827967762.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-563533401827967762.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-563533401827967762.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-563533401827967762.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-563533401827967762.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-563533401827967762.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-563533401827967762.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-563533401827967762.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-563533401827967762.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-563533401827967762.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-563533401827967762.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-563533401827967762.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-563533401827967762.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-563533401827967762.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-563533401827967762.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-563533401827967762.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-563533401827967762.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-563533401827967762.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-563533401827967762.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-563533401827967762.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-563533401827967762.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-563533401827967762.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-563533401827967762.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-563533401827967762.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-563533401827967762.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-563533401827967762.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-563533401827967762.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-563533401827967762.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-563533401827967762.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-563533401827967762.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-563533401827967762.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-563533401827967762.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-563533401827967762.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-563533401827967762.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-563533401827967762.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-563533401827967762.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-563533401827967762.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-563533401827967762.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-563533401827967762.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-563533401827967762.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-563533401827967762.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-563533401827967762.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-563533401827967762.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-563533401827967762.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-563533401827967762.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-563533401827967762.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-563533401827967762.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-563533401827967762.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-563533401827967762.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-563533401827967762.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-563533401827967762.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-563533401827967762.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-563533401827967762.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-563533401827967762.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-563533401827967762.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-563533401827967762.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-563533401827967762.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-563533401827967762.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-563533401827967762.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-563533401827967762.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-563533401827967762.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-563533401827967762.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-563533401827967762.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-563533401827967762.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-563533401827967762.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-563533401827967762 .gp-rotate-0,.gps-563533401827967762 .gp-rotate-180,.gps-563533401827967762 .group-hover\/hero\:gp-scale-\[var\(--scale\)\],.gps-563533401827967762 .mobile\:gp-rotate-0,.gps-563533401827967762 .mobile\:gp-rotate-180,.gps-563533401827967762 .tablet\:gp-rotate-0,.gps-563533401827967762 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-563533401827967762 .gp-invisible{visibility:hidden}.gps-563533401827967762 .gp-absolute{position:absolute}.gps-563533401827967762 .gp-relative{position:relative}.gps-563533401827967762 .gp-inset-0{inset:0}.gps-563533401827967762 .gp-left-0{left:0}.gps-563533401827967762 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-563533401827967762 .gp-right-0{right:0}.gps-563533401827967762 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-563533401827967762 .-gp-z-1{z-index:-1}.gps-563533401827967762 .gp-z-1{z-index:1}.gps-563533401827967762 .gp-z-2{z-index:2}.gps-563533401827967762 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-563533401827967762 .gp-my-0{margin-bottom:0;margin-top:0}.gps-563533401827967762 .gp-mb-0{margin-bottom:0}.gps-563533401827967762 .gp-block{display:block}.gps-563533401827967762 .gp-flex{display:flex}.gps-563533401827967762 .gp-grid{display:grid}.gps-563533401827967762 .\!gp-hidden{display:none!important}.gps-563533401827967762 .gp-hidden{display:none}.gps-563533401827967762 .gp-h-full{height:100%}.gps-563533401827967762 .\!gp-min-h-full{min-height:100%!important}.gps-563533401827967762 .gp-w-full{width:100%}.gps-563533401827967762 .gp-max-w-full{max-width:100%}.gps-563533401827967762 .gp-flex-1{flex:1 1 0%}.gps-563533401827967762 .gp-shrink-0{flex-shrink:0}.gps-563533401827967762 .gp-rotate-0{--tw-rotate:0deg}.gps-563533401827967762 .gp-rotate-0,.gps-563533401827967762 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-563533401827967762 .gp-rotate-180{--tw-rotate:180deg}.gps-563533401827967762 .gp-cursor-pointer{cursor:pointer}.gps-563533401827967762 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-563533401827967762 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-563533401827967762 .\!gp-flex-row{flex-direction:row!important}.gps-563533401827967762 .gp-flex-row{flex-direction:row}.gps-563533401827967762 .gp-flex-col{flex-direction:column}.gps-563533401827967762 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-563533401827967762 .\!gp-content-stretch{align-content:stretch!important}.gps-563533401827967762 .gp-items-center{align-items:center}.gps-563533401827967762 .gp-justify-end{justify-content:flex-end}.gps-563533401827967762 .gp-justify-center{justify-content:center}.gps-563533401827967762 .gp-justify-between{justify-content:space-between}.gps-563533401827967762 .gp-gap-2{gap:8px}.gps-563533401827967762 .gp-self-center{align-self:center}.gps-563533401827967762 .gp-overflow-hidden{overflow:hidden}.gps-563533401827967762 .gp-text-center{text-align:center}.gps-563533401827967762 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-563533401827967762 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563533401827967762 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563533401827967762 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563533401827967762 .gp-duration-200{transition-duration:.2s}.gps-563533401827967762 .gp-duration-300{transition-duration:.3s}.gps-563533401827967762 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-563533401827967762 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-563533401827967762 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-563533401827967762 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-563533401827967762 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-563533401827967762 .tablet\:gp-static{position:static}.gps-563533401827967762 .tablet\:\!gp-relative{position:relative!important}.gps-563533401827967762 .tablet\:gp-left-0{left:0}.gps-563533401827967762 .tablet\:gp-right-0{right:0}.gps-563533401827967762 .tablet\:gp-block{display:block}.gps-563533401827967762 .tablet\:\!gp-hidden{display:none!important}.gps-563533401827967762 .tablet\:gp-hidden{display:none}.gps-563533401827967762 .tablet\:gp-h-full{height:100%}.gps-563533401827967762 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-563533401827967762 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-563533401827967762 .tablet\:gp-rotate-0,.gps-563533401827967762 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-563533401827967762 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-563533401827967762 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-563533401827967762 .tablet\:gp-flex-row{flex-direction:row}.gps-563533401827967762 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-563533401827967762 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-563533401827967762 .tablet\:gp-justify-end{justify-content:flex-end}.gps-563533401827967762 .tablet\:gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-563533401827967762 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-563533401827967762 .mobile\:\!gp-absolute{position:absolute!important}.gps-563533401827967762 .mobile\:gp-absolute{position:absolute}.gps-563533401827967762 .mobile\:\!gp-relative{position:relative!important}.gps-563533401827967762 .mobile\:gp-left-0{left:0}.gps-563533401827967762 .mobile\:gp-right-0{right:0}.gps-563533401827967762 .mobile\:gp-z-2{z-index:2}.gps-563533401827967762 .mobile\:gp-block{display:block}.gps-563533401827967762 .mobile\:\!gp-flex{display:flex!important}.gps-563533401827967762 .mobile\:\!gp-hidden{display:none!important}.gps-563533401827967762 .mobile\:gp-hidden{display:none}.gps-563533401827967762 .mobile\:\!gp-h-auto{height:auto!important}.gps-563533401827967762 .mobile\:gp-h-full{height:100%}.gps-563533401827967762 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-563533401827967762 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-563533401827967762 .mobile\:gp-rotate-0,.gps-563533401827967762 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-563533401827967762 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-563533401827967762 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-563533401827967762 .mobile\:gp-flex-row{flex-direction:row}.gps-563533401827967762 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-563533401827967762 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-563533401827967762 .mobile\:gp-justify-end{justify-content:flex-end}.gps-563533401827967762 .mobile\:gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-563533401827967762 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-563533401827967762 .\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}@media (max-width:1024px){.gps-563533401827967762 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-563533401827967762 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-563533401827967762 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-563533401827967762 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-563533401827967762 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gw5HPS7DN9"}' data-id="gw5HPS7DN9" id="gw5HPS7DN9" data-same-height-subgrid-container class="gw5HPS7DN9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:3px;--pl:15px;--pb:var(--g-s-xl);--pr:15px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:var(--g-s-xxs);--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYAvezcLx- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g3Y8YcyHCe"}' data-id="g3Y8YcyHCe" id="g3Y8YcyHCe" data-same-height-subgrid-container class="g3Y8YcyHCe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3SYMwCBcD gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel gp-data='{"id":"gIOUcQ9ouS","setting":{"animationMode":"ease-in","arrow":{"desktop":true,"mobile":false},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817550821818728\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z\" /></svg>","arrowCustomColor":"#ffffff","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":4,"childItem":["Slide 3","Slide 2","Slide 5"],"controlOverContent":{"desktop":false,"tablet":false},"dot":{"desktop":false,"mobile":false,"tablet":true},"dotActiveColor":{"desktop":"#242424"},"dotColor":{"desktop":"#242424"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"inside","mobile":"inside","tablet":"outside"},"enableDrag":{"desktop":false},"itemNumber":{"desktop":3,"mobile":2,"tablet":3},"loop":{"desktop":false,"mobile":true,"tablet":false},"navigationEnable":{"desktop":false,"mobile":true,"tablet":false},"navigationStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"pauseOnHover":false,"roundedArrow":{"desktop":{"radiusType":"small"}},"runPreview":false,"sneakPeak":{"desktop":false,"mobile":true,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":71,"tablet":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"100%"},"mobile":{"customShapeValue":"","gap":"","height":"auto","shape":"","shapeValue":"","width":"100%"},"tablet":{"width":"100%"}},"spacing":{"desktop":"10","mobile":"5"}}}' data-id="gIOUcQ9ouS" id="gp-root-carousel-gIOUcQ9ouS" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="gIOUcQ9ouS gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:auto;--h-mobile:100%;gap:16px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gIOUcQ9ouS gIOUcQ9ouS gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--d:none;--d-tablet:none;--d-mobile:flex;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:16px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gIOUcQ9ouS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gIOUcQ9ouS::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gIOUcQ9ouS {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gIOUcQ9ouS::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gIOUcQ9ouS {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gIOUcQ9ouS::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#ffffff;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550821818728">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z" /></svg>
    </div>
  
    </button>
  
          <div id="gp-carousel-gIOUcQ9ouS" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-gIOUcQ9ouS mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:5px;--cg-tablet:10px;--cg:10px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gIOUcQ9ouS gp-child-item-gIOUcQ9ouS guKW81nf9k"
      style="--minw:calc(100% / 3 - 6.666666666666667px);--minw-tablet:calc(100% / 3 - 6.666666666666667px);--minw-mobile:calc(100% / 1.29 - 1.124031007751938px);--maxw:calc(100% / 3 - 6.666666666666667px);--maxw-tablet:calc(100% / 3 - 6.666666666666667px);--maxw-mobile:calc(100% / 1.29 - 1.124031007751938px);--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        
      >
      
      <gp-hero-banner
        
        data-id="gWgw-hmoW_"
        class="gWgw-hmoW_ gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:var(--g-ct-w);--w-tablet:100%;--w-mobile:100%;--aspect:auto;--h:100vh;--h-tablet:494px;--h-mobile:460px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":660,"src":"https://placehold.co/408x660","storage":"FILE_CONTENT","width":408},"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://cdn.shopify.com/videos/c/o/v/a498ea5d847046bb8a71bfaefaa1d972.mp4","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/6352d18ed2f54623ae95f40d28a50521.mp4","videoType":"html5"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":660,"src":"https://placehold.co/408x660","storage":"FILE_CONTENT","width":408},"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://cdn.shopify.com/videos/c/o/v/a498ea5d847046bb8a71bfaefaa1d972.mp4","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/6352d18ed2f54623ae95f40d28a50521.mp4","videoType":"html5"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":660,"src":"https://placehold.co/408x660","storage":"FILE_CONTENT","width":408},"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://cdn.shopify.com/videos/c/o/v/a498ea5d847046bb8a71bfaefaa1d972.mp4","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/6352d18ed2f54623ae95f40d28a50521.mp4","videoType":"html5"}},"uid":"gWgw-hmoW_","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"},"aspectRatio":{"desktop":"auto"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:100vh;--h-tablet:494px;--h-mobile:460px;--aspect:auto;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
          
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gWgw-hmoW_" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/6352d18ed2f54623ae95f40d28a50521.mp4" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-relative tablet:gp-h-full tablet:gp-object-cover mobile:gp-h-full mobile:gp-object-cover gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--bgc:#121212;--op:20%;--hvr-op:20%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-end tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gjVi_l462x gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="https://placehold.co/408x660" srcset="https://placehold.co/408x660" />
      <source media="(max-width: 1024px)" data-srcSet="https://placehold.co/408x660" srcset="https://placehold.co/408x660" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="https://placehold.co/408x660" data-src="https://placehold.co/408x660"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:100vh;--h-tablet:494px;--h-mobile:460px;--w:var(--g-ct-w);--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gIOUcQ9ouS gp-child-item-gIOUcQ9ouS gVtI5-U28r"
      style="--minw:calc(100% / 3 - 6.666666666666667px);--minw-tablet:calc(100% / 3 - 6.666666666666667px);--minw-mobile:calc(100% / 1.29 - 1.124031007751938px);--maxw:calc(100% / 3 - 6.666666666666667px);--maxw-tablet:calc(100% / 3 - 6.666666666666667px);--maxw-mobile:calc(100% / 1.29 - 1.124031007751938px);--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        
      >
      
      <gp-hero-banner
        
        data-id="gwtldVrqCG"
        class="gwtldVrqCG gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--h:100vh;--h-tablet:494px;--h-mobile:460px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1463,"src":"https://placehold.co/1170x1463","storage":"FILE_CONTENT","width":1170},"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://cdn.shopify.com/videos/c/o/v/cab708a631294acc8238ac71dec4ea35.mp4","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/cb1c3e6a67824eed9946e741f1618018.mp4","videoType":"html5"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1463,"src":"https://placehold.co/1170x1463","storage":"FILE_CONTENT","width":1170},"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://cdn.shopify.com/videos/c/o/v/cab708a631294acc8238ac71dec4ea35.mp4","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/cb1c3e6a67824eed9946e741f1618018.mp4","videoType":"html5"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1463,"src":"https://placehold.co/1170x1463","storage":"FILE_CONTENT","width":1170},"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://cdn.shopify.com/videos/c/o/v/cab708a631294acc8238ac71dec4ea35.mp4","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/cb1c3e6a67824eed9946e741f1618018.mp4","videoType":"html5"}},"uid":"gwtldVrqCG","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"},"aspectRatio":{"desktop":"auto"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:100vh;--h-tablet:494px;--h-mobile:460px;--aspect:auto;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
          
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gwtldVrqCG" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/cb1c3e6a67824eed9946e741f1618018.mp4" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-relative tablet:gp-h-full tablet:gp-object-cover mobile:gp-h-full mobile:gp-object-cover gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--bgc:#121212;--op:20%;--hvr-op:20%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-end tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="geNP22Himu gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="https://placehold.co/1170x1463" srcset="https://placehold.co/1170x1463" />
      <source media="(max-width: 1024px)" data-srcSet="https://placehold.co/1170x1463" srcset="https://placehold.co/1170x1463" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="https://placehold.co/1170x1463" data-src="https://placehold.co/1170x1463"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:100vh;--h-tablet:494px;--h-mobile:460px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gIOUcQ9ouS gp-child-item-gIOUcQ9ouS guA6AA1lYT"
      style="--minw:calc(100% / 3 - 6.666666666666667px);--minw-tablet:calc(100% / 3 - 6.666666666666667px);--minw-mobile:calc(100% / 1.29 - 1.124031007751938px);--maxw:calc(100% / 3 - 6.666666666666667px);--maxw-tablet:calc(100% / 3 - 6.666666666666667px);--maxw-mobile:calc(100% / 1.29 - 1.124031007751938px);--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        
      >
      
      <gp-hero-banner
        
        data-id="g1DH2pMte6"
        class="g1DH2pMte6 gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--h:100vh;--h-tablet:494px;--h-mobile:460px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1728,"src":"https://placehold.co/1179x1728","storage":"FILE_CONTENT","width":1179},"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://cdn.shopify.com/videos/c/o/v/f505b57acc7449f3aa954804fb7d0873.mp4","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/3016bbdd70f64f0a913751d7b68e1139.mp4","videoType":"html5"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1728,"src":"https://placehold.co/1179x1728","storage":"FILE_CONTENT","width":1179},"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://cdn.shopify.com/videos/c/o/v/f505b57acc7449f3aa954804fb7d0873.mp4","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/3016bbdd70f64f0a913751d7b68e1139.mp4","videoType":"html5"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":1728,"src":"https://placehold.co/1179x1728","storage":"FILE_CONTENT","width":1179},"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","video":"https://cdn.shopify.com/videos/c/o/v/f505b57acc7449f3aa954804fb7d0873.mp4","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/3016bbdd70f64f0a913751d7b68e1139.mp4","videoType":"html5"}},"uid":"g1DH2pMte6","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"bottom"},"aspectRatio":{"desktop":"auto"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:100vh;--h-tablet:494px;--h-mobile:460px;--aspect:auto;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2)">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
          
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-g1DH2pMte6" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/3016bbdd70f64f0a913751d7b68e1139.mp4" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-relative tablet:gp-h-full tablet:gp-object-cover mobile:gp-h-full mobile:gp-object-cover gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--bgc:#121212;--op:20%;--hvr-op:20%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-end tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gjNTKp4gyz gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="https://placehold.co/1179x1728" srcset="https://placehold.co/1179x1728" />
      <source media="(max-width: 1024px)" data-srcSet="https://placehold.co/1179x1728" srcset="https://placehold.co/1179x1728" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="https://placehold.co/1179x1728" data-src="https://placehold.co/1179x1728"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:100vh;--h-tablet:494px;--h-mobile:460px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-gIOUcQ9ouS gIOUcQ9ouS gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--d:none;--d-tablet:none;--d-mobile:flex;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:16px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-gIOUcQ9ouS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gIOUcQ9ouS::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-gIOUcQ9ouS {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gIOUcQ9ouS::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-gIOUcQ9ouS {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-gIOUcQ9ouS::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#ffffff;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550821818728">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z" /></svg>
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-gIOUcQ9ouS gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--mt-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:flex;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-563533401827967762 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=563533401643025170&sectionId=563533401827967762)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}