

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-533348757429814519.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-533348757429814519.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-533348757429814519.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-533348757429814519.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-533348757429814519.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-533348757429814519.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-533348757429814519.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-533348757429814519.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-533348757429814519.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-533348757429814519.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-533348757429814519.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-533348757429814519.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-533348757429814519.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-533348757429814519.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-533348757429814519.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-533348757429814519.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-533348757429814519.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-533348757429814519.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-533348757429814519.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-533348757429814519.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-533348757429814519.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-533348757429814519.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-533348757429814519.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-533348757429814519.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-533348757429814519.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-533348757429814519.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-533348757429814519.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-533348757429814519.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-533348757429814519.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-533348757429814519.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-533348757429814519.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-533348757429814519.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-533348757429814519.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-533348757429814519.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-533348757429814519.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-533348757429814519.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-533348757429814519.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-533348757429814519.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-533348757429814519.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-533348757429814519.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-533348757429814519.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-533348757429814519.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-533348757429814519.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-533348757429814519.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-533348757429814519.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-533348757429814519.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-533348757429814519.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-533348757429814519.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-533348757429814519.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-533348757429814519.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-533348757429814519.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-533348757429814519.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-533348757429814519.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-533348757429814519.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-533348757429814519.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-533348757429814519.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-533348757429814519.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-533348757429814519.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-533348757429814519.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-533348757429814519.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-533348757429814519.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-533348757429814519.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-533348757429814519.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-533348757429814519.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-533348757429814519.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-533348757429814519.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-533348757429814519.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-533348757429814519.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-533348757429814519.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-533348757429814519.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-533348757429814519.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-533348757429814519.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-533348757429814519.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-533348757429814519 .gp-relative{position:relative}.gps-533348757429814519 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-533348757429814519 .gp-mb-0{margin-bottom:0}.gps-533348757429814519 .\!gp-inline{display:inline!important}.gps-533348757429814519 .gp-flex{display:flex}.gps-533348757429814519 .gp-grid{display:grid}.gps-533348757429814519 .\!gp-hidden{display:none!important}.gps-533348757429814519 .gp-hidden{display:none}.gps-533348757429814519 .gp-h-full{height:100%}.gps-533348757429814519 .gp-w-full{width:100%}.gps-533348757429814519 .gp-max-w-full{max-width:100%}.gps-533348757429814519 .gp-flex-col{flex-direction:column}.gps-533348757429814519 .gp-gap-y-0{row-gap:0}.gps-533348757429814519 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533348757429814519 .gp-duration-200{transition-duration:.2s}.gps-533348757429814519 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-533348757429814519 .tablet\:\!gp-hidden{display:none!important}.gps-533348757429814519 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-533348757429814519 .mobile\:\!gp-hidden{display:none!important}.gps-533348757429814519 .mobile\:gp-hidden{display:none}}.gps-533348757429814519 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-533348757429814519 .\[\&_p\]\:gp-inline p{display:inline}.gps-533348757429814519 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-533348757429814519 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2ld632a0a901"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:1px;--pl-mobile:0px;--pb-mobile:1px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff"
        class="i2ld632a0a901 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-kMoUDafCkJxD gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="ttGLOVbMfJxl"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--border:[object Object];--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:16px;--pb:30px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:auto;--pb-mobile:4px;--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:840px;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgc-mobile:#00000000"
        class="ttGLOVbMfJxl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-DzTwivFskYuc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gFiREkaw_Q "
        style="--ta:right;--d:none;--d-mobile:block;--d-tablet:none;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFiREkaw_Q_text | downcase }}</div>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image DzTwivFskYuc"
    style="--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:13px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-ad114611-9028-457b-bc5f-6c136066b745.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-ad114611-9028-457b-bc5f-6c136066b745.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2l4bd6cfd5a4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="wnRyjBkuUICo "
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gwnRyjBkuUICo_text | downcase }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="iDpbKcTeJdwq "
        style="--ta:right;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.giDpbKcTeJdwq_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="PZOaEpZptBwP"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--border:[object Object];--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:16px;--pb:30px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-l);--mr-mobile:auto;--pt-mobile:var(--g-s-2xl);--pl-mobile:auto;--pb-mobile:8px;--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:843px;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000"
        class="PZOaEpZptBwP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-FVyTJNrainAG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gfLsoFFcFA "
        style="--ta:center;--d:none;--d-mobile:block;--d-tablet:none;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(1, 1, 1);--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggfLsoFFcFA_text | downcase }}</h2>
      </div>
    </div><div
    
    role="presentation"
    class="gp-group/image FVyTJNrainAG"
    style="--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--rounded:[object Object];--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:13px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-6759818b-4a61-4018-a25f-da0268e4d8ad.jpg" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-6759818b-4a61-4018-a25f-da0268e4d8ad.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="i2lf408d0499d gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ymKitmAnAsqL "
        style="--ta:center;--d:block;--d-mobile:none;--d-tablet:block;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:32px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(1, 1, 1);--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.gymKitmAnAsqL_text | downcase }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="aNvsqcYtrpbz "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gaNvsqcYtrpbz_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-533348757429814519 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=533348757245592823&sectionId=533348757429814519)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggFiREkaw_Q_text","label":"ggFiREkaw_Q_text","default":"<p><span style=\"font-size:26px;\"><strong>4. They're Absorbent</strong></span></p>"},{"type":"html","id":"gwnRyjBkuUICo_text","label":"gwnRyjBkuUICo_text","default":"<p><span style=\"font-size:26px;\"><strong>4. Non-Chafing Design</strong></span></p>"},{"type":"html","id":"giDpbKcTeJdwq_text","label":"giDpbKcTeJdwq_text","default":"<p>Enjoy all-day comfort, even after the gym, with soft, non-irritating fabric that moves with you.</p>"},{"type":"html","id":"ggfLsoFFcFA_text","label":"ggfLsoFFcFA_text","default":"<span style=\"font-size:26px;\"><strong>5. They Even Work In Nike Pro's!</strong></span>"},{"type":"html","id":"gymKitmAnAsqL_text","label":"gymKitmAnAsqL_text","default":"<span style=\"font-size:26px;\"><strong>5. Perfect for Active Lifestyles</strong></span>"},{"type":"html","id":"gaNvsqcYtrpbz_text","label":"gaNvsqcYtrpbz_text","default":"<p>Whether you’re lifting weights, running, or practising yoga, this thong is designed to keep up with your every move while keeping you sweat-free.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
