
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555429941941437629.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-555429941941437629.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-555429941941437629.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555429941941437629.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-555429941941437629.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555429941941437629.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555429941941437629.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555429941941437629.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-555429941941437629.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555429941941437629.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555429941941437629.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555429941941437629.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555429941941437629.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-555429941941437629.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-555429941941437629.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555429941941437629.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-555429941941437629.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-555429941941437629.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555429941941437629.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-555429941941437629.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-555429941941437629.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-555429941941437629.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-555429941941437629.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-555429941941437629.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-555429941941437629.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-555429941941437629.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-555429941941437629.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-555429941941437629.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555429941941437629.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-555429941941437629.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-555429941941437629.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-555429941941437629.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-555429941941437629.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-555429941941437629.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-555429941941437629.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-555429941941437629.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-555429941941437629.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-555429941941437629.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555429941941437629.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555429941941437629.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555429941941437629.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555429941941437629.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-555429941941437629.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555429941941437629.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555429941941437629.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555429941941437629.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555429941941437629.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555429941941437629.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-555429941941437629.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-555429941941437629.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-555429941941437629.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555429941941437629.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-555429941941437629.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-555429941941437629.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-555429941941437629.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-555429941941437629.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-555429941941437629.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555429941941437629.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555429941941437629.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555429941941437629.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555429941941437629.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555429941941437629.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555429941941437629.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555429941941437629.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555429941941437629.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555429941941437629.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-555429941941437629.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555429941941437629.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-555429941941437629.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-555429941941437629.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-555429941941437629.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-555429941941437629.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555429941941437629.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-555429941941437629.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-555429941941437629.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-555429941941437629.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555429941941437629.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555429941941437629.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-555429941941437629.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-555429941941437629.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-555429941941437629.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555429941941437629.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-555429941941437629.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-555429941941437629.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-555429941941437629.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-555429941941437629.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-555429941941437629.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-555429941941437629.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-555429941941437629.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-555429941941437629.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555429941941437629.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555429941941437629.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555429941941437629.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-555429941941437629.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-555429941941437629.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-555429941941437629.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-555429941941437629 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-555429941941437629 .gp-pointer-events-none{pointer-events:none}.gps-555429941941437629 .gp-absolute{position:absolute}.gps-555429941941437629 .gp-relative{position:relative}.gps-555429941941437629 .gp-inset-0{inset:0}.gps-555429941941437629 .gp-z-1{z-index:1}.gps-555429941941437629 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555429941941437629 .gp-mb-0{margin-bottom:0}.gps-555429941941437629 .gp-inline-block{display:inline-block}.gps-555429941941437629 .gp-flex{display:flex}.gps-555429941941437629 .gp-inline-flex{display:inline-flex}.gps-555429941941437629 .gp-grid{display:grid}.gps-555429941941437629 .gp-contents{display:contents}.gps-555429941941437629 .\!gp-hidden{display:none!important}.gps-555429941941437629 .gp-hidden{display:none}.gps-555429941941437629 .gp-h-auto{height:auto}.gps-555429941941437629 .gp-h-full{height:100%}.gps-555429941941437629 .gp-w-full{width:100%}.gps-555429941941437629 .gp-w-max{width:-moz-max-content;width:max-content}.gps-555429941941437629 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-555429941941437629 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-555429941941437629 .gp-max-w-full{max-width:100%}.gps-555429941941437629 .gp-flex-1{flex:1 1 0%}.gps-555429941941437629 .gp-flex-none{flex:none}.gps-555429941941437629 .gp-shrink-0{flex-shrink:0}.gps-555429941941437629 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-555429941941437629 .gp-flex-col{flex-direction:column}.gps-555429941941437629 .gp-flex-wrap{flex-wrap:wrap}.gps-555429941941437629 .gp-items-center{align-items:center}.gps-555429941941437629 .gp-justify-center{justify-content:center}.gps-555429941941437629 .gp-overflow-hidden{overflow:hidden}.gps-555429941941437629 .gp-break-words{overflow-wrap:break-word}.gps-555429941941437629 .gp-text-center{text-align:center}.gps-555429941941437629 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-555429941941437629 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-555429941941437629 .gp-no-underline{text-decoration-line:none}.gps-555429941941437629 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555429941941437629 .gp-duration-200{transition-duration:.2s}.gps-555429941941437629 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555429941941437629 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-555429941941437629 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-555429941941437629 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-555429941941437629 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-555429941941437629 .tablet\:\!gp-hidden{display:none!important}.gps-555429941941437629 .tablet\:gp-hidden{display:none}.gps-555429941941437629 .tablet\:gp-h-auto{height:auto}.gps-555429941941437629 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-555429941941437629 .mobile\:\!gp-hidden{display:none!important}.gps-555429941941437629 .mobile\:gp-hidden{display:none}.gps-555429941941437629 .mobile\:gp-h-auto{height:auto}.gps-555429941941437629 .mobile\:gp-flex-none{flex:none}}.gps-555429941941437629 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-555429941941437629 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-555429941941437629 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-555429941941437629 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-555429941941437629 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555429941941437629 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v24/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnEGE.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EDE0DC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gBm-wEGmvP"}' data-id="gBm-wEGmvP" id="gBm-wEGmvP" data-same-height-subgrid-container class="gBm-wEGmvP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--pt:var(--g-s-2xl);--pl:var(--g-s-4xl);--pb:var(--g-s-2xl);--pr:var(--g-s-4xl);--mr-mobile:auto;--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-m);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-m);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EDE0DC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gY07ibv5KO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyJN68-C5N"}' data-id="gyJN68-C5N" id="gyJN68-C5N" data-same-height-subgrid-container class="gyJN68-C5N gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:dashed;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:0px;--pt:var(--g-s-m);--pl:var(--g-s-s);--pb:var(--g-s-m);--pr:var(--g-s-s);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwsBvAoV-s gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpO3eygdiO"
        class="gpO3eygdiO"
        style="--ta:center;--d:none;--d-mobile:block;--d-tablet:none;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:33px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(40, 46, 62);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpO3eygdiO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggHTAwl7Ob"
        class="ggHTAwl7Ob"
        style="--ta:center;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:39px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(40, 46, 62);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggHTAwl7Ob_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNVo8IStZx"}' data-id="gNVo8IStZx" id="gNVo8IStZx" data-same-height-subgrid-container class="gNVo8IStZx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-s);--pl:var(--g-s-s);--pb:var(--g-s-s);--pr:var(--g-s-s);--cg:20px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gwvXLqvcct gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gh5ywN4jT1"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:2.4492935982947064e-16px 4px 12px 0px rgba(0, 0, 0, 0.20);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--mb:10px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--ta:center"
      class="gp-group/image gp-relative force-publish-1765454834171 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gh5ywN4jT1"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-a19e1e1f-cffe-40b4-9b02-dd8a6ee09163.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_510135694635565882-a19e1e1f-cffe-40b4-9b02-dd8a6ee09163.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_510135694635565882-a19e1e1f-cffe-40b4-9b02-dd8a6ee09163.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_510135694635565882-a19e1e1f-cffe-40b4-9b02-dd8a6ee09163.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gh5ywN4jT1">
        .gh5ywN4jT1 {

}
.gh5ywN4jT1 > figure > img {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKY_MxvTaO"}' data-id="gKY_MxvTaO" id="gKY_MxvTaO" data-same-height-subgrid-container class="gKY_MxvTaO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_LP6B57D2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzyHGPYTw1"
        class="gzyHGPYTw1"
        style="--ta:center;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:10px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:10px;--pl-mobile:0px;--pb-mobile:5px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzyHGPYTw1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZbOHiKdO2"}' data-id="gZbOHiKdO2" id="gZbOHiKdO2" data-same-height-subgrid-container class="gZbOHiKdO2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:2px 2px 2px 2px;--bc:#121212;--pageType:GP_STATIC;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gv93sH-ySq gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://oloraofficial.com/products/olora-invisible-camel-toe-thong-high-rise-advanced","selectedTab":"products","target":"_self","title":"Aura™ Invisible Camel Toe Thong"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:10px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:8px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center" >
        <style>[data-id="gCyleWDUuD"].gp-button-base::before, [data-id="gCyleWDUuD-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gCyleWDUuD"]:hover::before, [data-id="gCyleWDUuD-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gCyleWDUuD" dataId="gCyleWDUuD" data-state="idle" aria-label="<p>CLAIM OFFER</p>"
          
          href="https://oloraofficial.com/products/olora-invisible-camel-toe-thong-high-rise-advanced" target="_self"
          style="--w:500px;--w-tablet:500px;--w-mobile:500px;--h:57px;--h-tablet:57px;--h-mobile:57px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#121212;--c:rgb(253, 253, 253);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:21px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
          class="gCyleWDUuD gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:21px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:21px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggCyleWDUuD_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdnTsczz8Y"}' data-id="gdnTsczz8Y" id="gdnTsczz8Y" data-same-height-subgrid-container class="gdnTsczz8Y gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:10px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:8px;--cg-tablet:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g1I-xlKOc7 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdXJMD0eF_"
        class="gdXJMD0eF_"
        style="--ta:left;--bs:none;--bw:2px 2px 2px 2px;--bc:#121212;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--size:17px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:rgb(1, 1, 1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdXJMD0eF__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g-s5dMGA22 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:2px 2px 2px 2px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:var(--g-s-xs);--pb-mobile:var(--g-s-xs)" class="guTznHw3g0 ">
      
    <gp-countdown-timer
        data-id="guTznHw3g0"
        gp-href="#"
        class="gp-flex"
        style="--jc:left;--jc-mobile:left"
        gp-data='{"behaviour":"evergreen","dateStandard":1714922987126,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1714454591745,"hours":7,"mins":22,"startTime":1714318187126},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"guTznHw3g0","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"2px","color":"#121212","isCustom":true,"width":"2px 2px 2px 2px"}},"position":"all"},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"12px","color":"rgba(0, 0, 0, 0.20)","distance":"4px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":0}},"mobile":{"link":false,"margin":{"bottom":0},"padding":{"bottom":"var(--g-s-xs)","top":"var(--g-s-xs)"}}}},"label":"Countdown Timer","settings":{"behaviour":"evergreen","dateStandard":1714922987126,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1714454591745,"hours":7,"mins":22,"startTime":1714318187126},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#00000000","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"0px","itemPadding":{"desktop":{"bottom":"0px","left":"0px","right":"0px","top":"0px"},"mobile":{"bottom":"0px","left":"4px","right":"4px","top":"0px"}},"labelTypo":{"attrs":{"bold":true,"color":"text-1"},"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"12px","mobile":"7px","tablet":"12px"},"fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"700","lineHeight":{"desktop":"75%","mobile":"75%","tablet":"75%"}},"type":"paragraph-1"},"numTypo":{"attrs":{"bold":true,"color":"#FF0509"},"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"15px","mobile":"12px","tablet":"20px"},"fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"400","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"heading-2"},"roundedState":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"custom"}},"textAlign":{"desktop":"left","mobile":"left"},"verticalGap":"0px"},"tag":"Countdown","uid":"guTznHw3g0","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:0px;--jc:left;--jc-mobile:left">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
          
    <div style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:0px;--pb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guTznHw3g0-text" id="hour"
        class="guTznHw3g0"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:15px;--size-tablet:20px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FF0509;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guTznHw3g0-text"
        class="guTznHw3g0"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:12px;--size-tablet:12px;--size-mobile:7px;--lh:75%;--lh-tablet:75%;--lh-mobile:75%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguTznHw3g0_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:0px;--pb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guTznHw3g0-text" id="minute"
        class="guTznHw3g0"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:15px;--size-tablet:20px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FF0509;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guTznHw3g0-text"
        class="guTznHw3g0"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:12px;--size-tablet:12px;--size-mobile:7px;--lh:75%;--lh-tablet:75%;--lh-mobile:75%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguTznHw3g0_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:0px;--pb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guTznHw3g0-text" id="second"
        class="guTznHw3g0"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:15px;--size-tablet:20px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FF0509;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guTznHw3g0-text"
        class="guTznHw3g0"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:12px;--size-tablet:12px;--size-mobile:7px;--lh:75%;--lh-tablet:75%;--lh-mobile:75%;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguTznHw3g0_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gErYNWty_1"}' data-id="gErYNWty_1" id="gErYNWty_1" data-same-height-subgrid-container class="gErYNWty_1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:28px;--cg-tablet:28px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRTswwElpE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#BABABA","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g91_5LtXNc"}' data-id="g91_5LtXNc" id="g91_5LtXNc" data-same-height-subgrid-container class="g91_5LtXNc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:var(--g-s-m);--pb:var(--g-s-m);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:1100px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#BABABA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_lGjSzSf0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXOo9lkPay"
        class="gXOo9lkPay"
        style="--ta:left;--bs:solid;--bw:0px 1px 0px 0px;--bc:#121212;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:var(--g-s-s);--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:auto;--pb-mobile:0px;--pr-mobile:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXOo9lkPay_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gO1YtEkWUG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvV06QBWd7"
        class="gvV06QBWd7"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvV06QBWd7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#BABABA","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvoLqXLBO9"}' data-id="gvoLqXLBO9" id="gvoLqXLBO9" data-same-height-subgrid-container class="gvoLqXLBO9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:var(--g-s-m);--pb:var(--g-s-m);--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:500px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#BABABA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCKJKerZjZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHpYoOY6mx"
        class="gHpYoOY6mx"
        style="--ta:left;--bs:solid;--bw:0px 1px 0px 0px;--bc:#121212;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:var(--g-s-s);--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:auto;--pb-mobile:0px;--pr-mobile:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHpYoOY6mx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gv88crjR8q gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV8x0BR5bq"
        class="gV8x0BR5bq"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#121212;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggV8x0BR5bq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_BnC69q3V"
        class="g_BnC69q3V"
        style="--ta:center;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:rgb(31, 31, 31);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_BnC69q3V_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-555429941941437629 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=555429941840184509&sectionId=555429941941437629)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggpO3eygdiO_text","label":"ggpO3eygdiO_text","default":"<p><span style=\"background-color:rgba(255,5,5,0);color:#000000;font-size:34px;\"><strong>BUY 3 </strong></span><span style=\"background-color:rgba(255,5,5,0);color:#FF0000;font-size:34px;\"><strong><u>GET 3 FREE</u></strong></span><span style=\"background-color:rgba(255,5,5,0);color:#000000;font-size:30px;\">&nbsp;</span><br><span style=\"color:#000000;font-size:19px;\"><i><strong>FOR&nbsp;A LIMITED TIME&nbsp;ONLY!</strong></i></span></p>"},{"type":"html","id":"gggHTAwl7Ob_text","label":"gggHTAwl7Ob_text","default":"<p><span style=\"background-color:rgba(255,5,5,0);color:#000000;font-size:57px;\"><strong>BUY 3 </strong></span><span style=\"background-color:rgba(255,5,5,0);color:#FF0000;font-size:57px;\"><strong><u>GET 3 FREE</u></strong></span><span style=\"background-color:rgba(255,5,5,0);color:#000000;font-size:57px;\">&nbsp;</span><br><span style=\"color:#000000;font-size:32px;\"><i><strong>FOR&nbsp;A LIMITED TIME&nbsp;ONLY!</strong></i></span></p>"},{"type":"html","id":"ggzyHGPYTw1_text","label":"ggzyHGPYTw1_text","default":"<p>This limited-time deal is in high demand and stock keeps selling out.</p>"},{"type":"html","id":"ggCyleWDUuD_label","label":"ggCyleWDUuD_label","default":"<p>CLAIM OFFER</p>"},{"type":"html","id":"ggdXJMD0eF__text","label":"ggdXJMD0eF__text","default":"DEAL ENDING IN:"},{"type":"html","id":"gguTznHw3g0_dayLabel","label":"gguTznHw3g0_dayLabel","default":"Days"},{"type":"html","id":"gguTznHw3g0_hourLabel","label":"gguTznHw3g0_hourLabel","default":"Hours"},{"type":"html","id":"gguTznHw3g0_minuteLabel","label":"gguTznHw3g0_minuteLabel","default":"Minutes"},{"type":"html","id":"gguTznHw3g0_secondLabel","label":"gguTznHw3g0_secondLabel","default":"Seconds"},{"type":"html","id":"gguTznHw3g0_weekLabel","label":"gguTznHw3g0_weekLabel","default":"Weeks"},{"type":"html","id":"ggXOo9lkPay_text","label":"ggXOo9lkPay_text","default":"<p><span style=\"font-size:13px;\"><strong>&nbsp; Sell-Out Risk: </strong></span><span style=\"color:#FF0000;font-size:13px;\"><strong>High</strong></span></p>"},{"type":"html","id":"ggvV06QBWd7_text","label":"ggvV06QBWd7_text","default":"<p><span style=\"font-size:14px;\">Buy 3 Get 3<strong> FREE</strong></span></p>"},{"type":"html","id":"ggHpYoOY6mx_text","label":"ggHpYoOY6mx_text","default":"<p><span style=\"font-size:17px;\"><strong>&nbsp; Sell-Out Risk: </strong></span><span style=\"color:#FF0000;font-size:17px;\"><strong>High</strong></span></p>"},{"type":"html","id":"ggV8x0BR5bq_text","label":"ggV8x0BR5bq_text","default":"<p><span style=\"font-size:16px;\">Buy 3 Get 3<strong> FREE</strong></span></p>"},{"type":"html","id":"gg_BnC69q3V_text","label":"gg_BnC69q3V_text","default":"<p><span style=\"font-size:14px;\">Experience peace of mind with our 90 fit exchange guarantee.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}