

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-527419049882158104.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-527419049882158104.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-527419049882158104.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-527419049882158104.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-527419049882158104.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-527419049882158104.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-527419049882158104.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-527419049882158104.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-527419049882158104.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-527419049882158104.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-527419049882158104.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-527419049882158104.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-527419049882158104.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-527419049882158104.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-527419049882158104.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-527419049882158104.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-527419049882158104.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-527419049882158104.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-527419049882158104.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-527419049882158104.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-527419049882158104.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-527419049882158104.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-527419049882158104.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-527419049882158104.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-527419049882158104.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-527419049882158104.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-527419049882158104.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-527419049882158104.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-527419049882158104.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-527419049882158104.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-527419049882158104.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-527419049882158104.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-527419049882158104.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-527419049882158104.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-527419049882158104.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-527419049882158104.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-527419049882158104.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-527419049882158104.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-527419049882158104.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-527419049882158104.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-527419049882158104.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-527419049882158104.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-527419049882158104.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-527419049882158104.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-527419049882158104.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-527419049882158104.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-527419049882158104.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-527419049882158104.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-527419049882158104.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-527419049882158104 .gp-relative{position:relative}.gps-527419049882158104 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-527419049882158104 .gp-mb-0{margin-bottom:0}.gps-527419049882158104 .\!gp-inline{display:inline!important}.gps-527419049882158104 .gp-flex{display:flex}.gps-527419049882158104 .gp-grid{display:grid}.gps-527419049882158104 .\!gp-hidden{display:none!important}.gps-527419049882158104 .gp-hidden{display:none}.gps-527419049882158104 .gp-h-full{height:100%}.gps-527419049882158104 .gp-w-full{width:100%}.gps-527419049882158104 .gp-max-w-full{max-width:100%}.gps-527419049882158104 .gp-flex-col{flex-direction:column}.gps-527419049882158104 .gp-gap-y-0{row-gap:0}.gps-527419049882158104 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-527419049882158104 .gp-duration-200{transition-duration:.2s}.gps-527419049882158104 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-527419049882158104 .tablet\:\!gp-hidden{display:none!important}.gps-527419049882158104 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-527419049882158104 .mobile\:\!gp-hidden{display:none!important}.gps-527419049882158104 .mobile\:gp-hidden{display:none}}.gps-527419049882158104 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gHbydY6Zz1" data-id="gHbydY6Zz1"
        style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--pt:26px;--pl:25px;--pb:34px;--pr:25px;--pt-mobile:18px;--pl-mobile:var(--g-s-s);--pb-mobile:22px;--pr-mobile:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFE3D6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHbydY6Zz1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5CtnTF5IA gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbCIbjfZk8" data-id="gbCIbjfZk8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbCIbjfZk8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvcREDyX7K gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gbescl1mNB"
    role="presentation"
    class="gp-group/image gbescl1mNB"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-a3c580eb-dfdd-4ca9-beef-f39be7309436_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1001/186;--aspect-tablet:1001/186;--aspect-mobile:1200/319;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-a3c580eb-dfdd-4ca9-beef-f39be7309436_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1001/186;--aspect-tablet:1001/186;--aspect-mobile:1200/319;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gbescl1mNB">
        .gbescl1mNB {

}
.gbescl1mNB > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gM-OM3h0dn gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g8zjYf9IeZ"
    role="presentation"
    class="gp-group/image g8zjYf9IeZ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-1630ee9c-47a9-47d3-8650-c09cf3a85f46_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-1630ee9c-47a9-47d3-8650-c09cf3a85f46_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-1630ee9c-47a9-47d3-8650-c09cf3a85f46.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1280/197;--aspect-tablet:1280/197;--aspect-mobile:1280/197;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-1630ee9c-47a9-47d3-8650-c09cf3a85f46_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-1630ee9c-47a9-47d3-8650-c09cf3a85f46_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-1630ee9c-47a9-47d3-8650-c09cf3a85f46.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1280/197;--aspect-tablet:1280/197;--aspect-mobile:1280/197;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-g8zjYf9IeZ">
        .g8zjYf9IeZ {

}
.g8zjYf9IeZ > figure > img {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gIhPfxhSc3 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gahzKVmi7y"
    role="presentation"
    class="gp-group/image gahzKVmi7y"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-a3c580eb-dfdd-4ca9-beef-f39be7309436_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-a3c580eb-dfdd-4ca9-beef-f39be7309436.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1200/319;--aspect-tablet:1200/319;--aspect-mobile:1001/186;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-6c8e31e5-f024-4b15-908a-a4023801d15e_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-a3c580eb-dfdd-4ca9-beef-f39be7309436_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-a3c580eb-dfdd-4ca9-beef-f39be7309436.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1200/319;--aspect-tablet:1200/319;--aspect-mobile:1001/186;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gahzKVmi7y">
        .gahzKVmi7y {

}
.gahzKVmi7y > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-527419049882158104 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=527419049664054296&sectionId=527419049882158104)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
