
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-553282095284224831.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-553282095284224831.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-553282095284224831.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-553282095284224831.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-553282095284224831.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-553282095284224831.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-553282095284224831.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-553282095284224831.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-553282095284224831.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-553282095284224831.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-553282095284224831.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-553282095284224831.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-553282095284224831.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-553282095284224831.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-553282095284224831.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-553282095284224831.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-553282095284224831.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-553282095284224831.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-553282095284224831.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-553282095284224831.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-553282095284224831.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-553282095284224831.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-553282095284224831.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-553282095284224831.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-553282095284224831.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-553282095284224831.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-553282095284224831.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-553282095284224831.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-553282095284224831.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-553282095284224831.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-553282095284224831.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-553282095284224831.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-553282095284224831.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-553282095284224831.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-553282095284224831.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-553282095284224831.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-553282095284224831.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-553282095284224831.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-553282095284224831.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-553282095284224831.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-553282095284224831.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-553282095284224831.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-553282095284224831.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-553282095284224831.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-553282095284224831.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-553282095284224831.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-553282095284224831.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-553282095284224831.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-553282095284224831.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-553282095284224831.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-553282095284224831.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-553282095284224831.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-553282095284224831.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-553282095284224831.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-553282095284224831.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-553282095284224831.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-553282095284224831.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-553282095284224831.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-553282095284224831.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-553282095284224831.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-553282095284224831.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-553282095284224831.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-553282095284224831.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-553282095284224831.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-553282095284224831.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-553282095284224831.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-553282095284224831.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-553282095284224831.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-553282095284224831.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-553282095284224831.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-553282095284224831.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-553282095284224831.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-553282095284224831 .gp-relative{position:relative}.gps-553282095284224831 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553282095284224831 .gp-mb-0{margin-bottom:0}.gps-553282095284224831 .gp-flex{display:flex}.gps-553282095284224831 .gp-grid{display:grid}.gps-553282095284224831 .\!gp-hidden{display:none!important}.gps-553282095284224831 .gp-hidden{display:none}.gps-553282095284224831 .gp-w-full{width:100%}.gps-553282095284224831 .gp-max-w-full{max-width:100%}.gps-553282095284224831 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-553282095284224831 .gp-flex-col{flex-direction:column}.gps-553282095284224831 .gp-overflow-hidden{overflow:hidden}.gps-553282095284224831 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553282095284224831 .gp-duration-200{transition-duration:.2s}.gps-553282095284224831 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-553282095284224831 .tablet\:\!gp-hidden{display:none!important}.gps-553282095284224831 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-553282095284224831 .mobile\:\!gp-hidden{display:none!important}.gps-553282095284224831 .mobile\:gp-hidden{display:none}}.gps-553282095284224831 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRwevIjDhd"}' data-id="gRwevIjDhd" id="gRwevIjDhd" data-same-height-subgrid-container class="gRwevIjDhd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:42px;--pb:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:25px;--pb-mobile:var(--g-s-2xl);--pr-mobile:25px;--pt-tablet:80px;--pl-tablet:25px;--pb-tablet:117px;--pr-tablet:25px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gX9R07WM0q gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6UBpoBs8E"}' data-id="g6UBpoBs8E" id="g6UBpoBs8E" data-same-height-subgrid-container class="g6UBpoBs8E gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:716px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g78Ayh8-kv gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzkQWNllFi"
        class="gzkQWNllFi"
        style="--ta:left;--ta-tablet:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:20px;--pl-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-tablet:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:36px;--size-tablet:43px;--size-mobile:21px;--lh:54px;--lh-tablet:130%;--lh-mobile:35px;--ls:0px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzkQWNllFi_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqC-1ZtbmD"
        class="gqC-1ZtbmD"
        style="--ta:left;--ta-tablet:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:25px;--mb-mobile:20px;--pl-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-tablet:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:31px;--size-tablet:43px;--size-mobile:26px;--lh:40px;--lh-tablet:130%;--lh-mobile:35px;--ls:0px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqC-1ZtbmD_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gyBIbVsqgh ">
      
    <div class="gp-flex gp-w-full gp-overflow-hidden" style="border-radius:inherit">
      
    <gp-image-comparison
      data-id="gyBIbVsqgh"
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gp-w-full gp-flex"
      gp-data='{"hover":false,"handle":null,"vertical":false,"leftImage":{"backupFileKey":"gempages_510135694635565882-11667a8d-64f2-4a22-8f71-b0c291d2cdfd.png","height":3375,"src":"https://cdn.shopify.com/s/files/1/0824/1882/7590/files/gempages_510135694635565882-11667a8d-64f2-4a22-8f71-b0c291d2cdfd.png","storage":"FILE_CONTENT","width":3375},"rightImage":{"backupFileKey":"gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png","height":3375,"src":"https://cdn.shopify.com/s/files/1/0824/1882/7590/files/gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png","storage":"FILE_CONTENT","width":3375},"handleSize":40,"aspectRatio":{"desktop":"1","tablet":"1","mobile":"1"},"defaultRatio":"3375/3375","componentUid":"gyBIbVsqgh","leftImageCss":{},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.53}'
    >
      <div id="img-comparison-wrapper-gyBIbVsqgh" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
        <div
          id="img-comparison-container-gyBIbVsqgh"
          data-testid="container"
          style="height:auto;overflow:hidden;position:relative;box-sizing:border-box;display:block;--aspect:1;--aspect-tablet:1;--aspect-mobile:1"
        >
          
      <img alt="" src width="3375" height="3375" data-testid="temp-image" style="--pos:static;--op:0;--aspect:1;--aspect-tablet:1;--aspect-mobile:1" />
    
          
    <img
      data-testid="right-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png" | file_url }}" data-src="{{ "gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png" | file_url }}" data-srcset="{{ "gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png" | file_url }}"
      id="right-image-gyBIbVsqgh"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      class="gp_lazyload"
    />
          
    <img
      data-testid="left-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_510135694635565882-11667a8d-64f2-4a22-8f71-b0c291d2cdfd.png" | file_url }}" data-src="{{ "gempages_510135694635565882-11667a8d-64f2-4a22-8f71-b0c291d2cdfd.png" | file_url }}" data-srcset="{{ "gempages_510135694635565882-11667a8d-64f2-4a22-8f71-b0c291d2cdfd.png" | file_url }}"
      id="left-image-gyBIbVsqgh"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:cover"
      class="gp_lazyload"
    />
          
    <div id="image-comparison-slider-gyBIbVsqgh" style="z-index:2;display:flex;position:absolute;align-items:center;justify-content:center;cursor:ew-resize;flex-direction:column;height:100%;width:40px">
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
      <div style="display:flex;flex:1 0 auto;align-items:center;box-sizing:border-box;justify-content:center;border-radius:100%;width:40px;height:40px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);transform:none;border:2px solid #ffffff">
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 2px 0 0"
            width="6" height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 0 0 2px"
            width="6"
            height="12"
            viewBox="0 0 6 12" fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
    </div>
  
          
          
        </div>
      </div>
    </gp-image-comparison>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-553282095284224831 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=553282095133229887&sectionId=553282095284224831)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggzkQWNllFi_text","label":"ggzkQWNllFi_text","default":"<span style=\"background-color:#ffffff;color:#000000;font-size:26px;\"><strong>All Day Freshness, Comfort &amp; Protection</strong>&nbsp;</span><br><span style=\"background-color:#ffffff;color:#000000;font-size:21px;\"><u>3 Reasons Why You Need</u></span><br><span style=\"background-color:#ffffff;color:#000000;font-size:21px;\"><u>To Try It Yourself.</u></span>"},{"type":"html","id":"ggqC-1ZtbmD_text","label":"ggqC-1ZtbmD_text","default":"<span style=\"background-color:#ffffff;color:#000000;font-size:34px;\"><strong>All Day Freshness, Comfort &amp; Protection</strong>&nbsp;</span><br><span style=\"background-color:#ffffff;color:#000000;font-size:30px;\"><u>3 Reasons Why You Need To Try It Yourself.</u></span>"},{"type":"html","id":"ggyBIbVsqgh_leftImageLabel","label":"ggyBIbVsqgh_leftImageLabel","default":"Before"},{"type":"html","id":"ggyBIbVsqgh_rightImageLabel","label":"ggyBIbVsqgh_rightImageLabel","default":"After"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}