
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586463905652474386.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586463905652474386.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586463905652474386.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586463905652474386.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586463905652474386.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586463905652474386.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586463905652474386.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586463905652474386.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586463905652474386.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586463905652474386.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586463905652474386.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586463905652474386.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586463905652474386.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586463905652474386.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586463905652474386.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586463905652474386.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586463905652474386.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586463905652474386.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586463905652474386.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586463905652474386.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586463905652474386.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-586463905652474386.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-586463905652474386.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-586463905652474386.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-586463905652474386.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586463905652474386.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586463905652474386.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586463905652474386.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-586463905652474386.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-586463905652474386.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586463905652474386.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586463905652474386.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586463905652474386.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-586463905652474386.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586463905652474386.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586463905652474386.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586463905652474386.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586463905652474386.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586463905652474386.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586463905652474386.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586463905652474386.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586463905652474386.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-586463905652474386.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-586463905652474386.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586463905652474386.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-586463905652474386.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-586463905652474386.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586463905652474386.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586463905652474386.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586463905652474386.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-586463905652474386.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586463905652474386.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-586463905652474386.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-586463905652474386.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-586463905652474386.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586463905652474386.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586463905652474386.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-586463905652474386.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-586463905652474386.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-586463905652474386.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-586463905652474386.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586463905652474386.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586463905652474386.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-586463905652474386.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-586463905652474386.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586463905652474386.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-586463905652474386.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-586463905652474386.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586463905652474386.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586463905652474386.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586463905652474386.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586463905652474386.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-586463905652474386.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-586463905652474386.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-586463905652474386.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586463905652474386.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586463905652474386 .focus-visible\:gp-shadow-none,.gps-586463905652474386 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-586463905652474386 .gp-fixed{position:fixed}.gps-586463905652474386 .gp-absolute{position:absolute}.gps-586463905652474386 .gp-relative{position:relative}.gps-586463905652474386 .gp-inset-0{inset:0}.gps-586463905652474386 .gp-right-0{right:0}.gps-586463905652474386 .gp-top-0{top:0}.gps-586463905652474386 .gp-z-1{z-index:1}.gps-586463905652474386 .gp-z-50{z-index:50}.gps-586463905652474386 .gp-z-\[999999\]{z-index:999999}.gps-586463905652474386 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586463905652474386 .gp-mb-0{margin-bottom:0}.gps-586463905652474386 .gp-block{display:block}.gps-586463905652474386 .gp-inline-block{display:inline-block}.gps-586463905652474386 .gp-flex{display:flex}.gps-586463905652474386 .gp-inline-flex{display:inline-flex}.gps-586463905652474386 .gp-grid{display:grid}.gps-586463905652474386 .\!gp-hidden{display:none!important}.gps-586463905652474386 .gp-hidden{display:none}.gps-586463905652474386 .gp-h-full{height:100%}.gps-586463905652474386 .gp-h-screen{height:100vh}.gps-586463905652474386 .\!gp-max-h-screen{max-height:100vh!important}.gps-586463905652474386 .gp-max-h-full{max-height:100%}.gps-586463905652474386 .gp-w-full{width:100%}.gps-586463905652474386 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-586463905652474386 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-586463905652474386 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586463905652474386 .gp-flex-col{flex-direction:column}.gps-586463905652474386 .gp-items-center{align-items:center}.gps-586463905652474386 .gp-justify-center{justify-content:center}.gps-586463905652474386 .gp-overflow-hidden{overflow:hidden}.gps-586463905652474386 .gp-overflow-y-auto{overflow-y:auto}.gps-586463905652474386 .gp-overflow-x-hidden{overflow-x:hidden}.gps-586463905652474386 .gp-bg-transparent{background-color:transparent}.gps-586463905652474386 .gp-align-middle{vertical-align:middle}.gps-586463905652474386 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-586463905652474386 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-586463905652474386 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586463905652474386 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586463905652474386 .gp-duration-100{transition-duration:.1s}.gps-586463905652474386 .gp-duration-200{transition-duration:.2s}.gps-586463905652474386 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586463905652474386 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-586463905652474386 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-586463905652474386 .tablet\:\!gp-hidden{display:none!important}.gps-586463905652474386 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-586463905652474386 .mobile\:\!gp-hidden{display:none!important}.gps-586463905652474386 .mobile\:gp-hidden{display:none}}.gps-586463905652474386 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-586463905652474386 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-586463905652474386 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    <gp-dialog
      data-id="gIptQssH1X"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"gIptQssH1X","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog
        aria-label="Zinc’s antimicrobial proof Popup"
        data-gp-dialog-id="gIptQssH1X"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-mobile:auto;--pe-tablet:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.72;--bgc:#000000;--d:block;--d-mobile:block;--d-tablet:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--d:block;--d-mobile:block;--d-tablet:block;--w:363px;--w-tablet:363px;--w-mobile:350px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:32px;--h:32px;--c:#000000;--bgc:transparent"
            >
              <span style="--height-icon:23px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg height="20" width="20" data-name="x-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817659317518696">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M204.24,195.76a6,6,0,1,1-8.48,8.48L128,136.49,60.24,204.24a6,6,0,0,1-8.48-8.48L119.51,128,51.76,60.24a6,6,0,0,1,8.48-8.48L128,119.51l67.76-67.75a6,6,0,0,1,8.48,8.48L136.49,128Z" /></svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--op:100%;--pageType:GP_PRODUCT;--pt:35px;--pl:20px;--pb:0px;--pr:0px;--pt-mobile:35px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:35px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:0px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;border-radius:inherit;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
    

    

    
    <gp-row gp-data='{"uid":"glxvCzv7Vm"}' data-id="glxvCzv7Vm" id="glxvCzv7Vm" data-same-height-subgrid-container class="glxvCzv7Vm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(67, 45, 45, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gT1SAQW3TM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5oUXkZJRA"
        class="g5oUXkZJRA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--ls:0px;--c:#432D2D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5oUXkZJRA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gfgGMLJmT7 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gXajgS8DSA"}' data-id="gXajgS8DSA" id="gXajgS8DSA" data-same-height-subgrid-container class="gXajgS8DSA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0px 1px;--bc:rgba(67, 45, 45, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:37px;--pb:13px;--pr:20px;--pt-mobile:12px;--pl-mobile:37px;--pb-mobile:13px;--pr-mobile:20px;--pt-tablet:12px;--pl-tablet:37px;--pb-tablet:13px;--pr-tablet:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIZOnhzK71 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4nDwr-NRN"
        class="g4nDwr-NRN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--ls:0px;--c:#432D2D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4nDwr-NRN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"g8IWysHr6U"}' data-id="g8IWysHr6U" id="g8IWysHr6U" data-same-height-subgrid-container class="g8IWysHr6U gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(67, 45, 45, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjpZao8HnM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVj9IiFsmb"
        class="gVj9IiFsmb"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:19px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:19px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:19px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:600;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--ls:0px;--c:#432D2D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVj9IiFsmb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gKrGKIFheN gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gsk4-nAj2W"}' data-id="gsk4-nAj2W" id="gsk4-nAj2W" data-same-height-subgrid-container class="gsk4-nAj2W gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0px 1px;--bc:rgba(67, 45, 45, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:19px;--pl:18px;--pb:18px;--pr:24px;--pt-mobile:19px;--pl-mobile:18px;--pb-mobile:18px;--pr-mobile:24px;--pt-tablet:19px;--pl-tablet:18px;--pb-tablet:18px;--pr-tablet:24px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPV3fNBLzo gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxuP6AXq_m"
        class="gxuP6AXq_m"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--ls:0px;--c:#432D2D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxuP6AXq_m_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gxuP6AXq_m">
        .gxuP6AXq_m strong{
    font-weight: 500 !important;
}
.gxuP6AXq_m p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"g3c7e8udN_"}' data-id="g3c7e8udN_" id="g3c7e8udN_" data-same-height-subgrid-container class="g3c7e8udN_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:rgba(67, 45, 45, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0NqOodDM_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyGdpxS9Nc"
        class="gyGdpxS9Nc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:19px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:19px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:19px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:600;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--ls:0px;--c:#432D2D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyGdpxS9Nc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gVrjtGwpJw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gQ3aDpslat"}' data-id="gQ3aDpslat" id="gQ3aDpslat" data-same-height-subgrid-container class="gQ3aDpslat gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0px 1px;--bc:rgba(67, 45, 45, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:19px;--pl:18px;--pb:18px;--pr:20px;--pt-mobile:19px;--pl-mobile:18px;--pb-mobile:18px;--pr-mobile:20px;--pt-tablet:19px;--pl-tablet:18px;--pb-tablet:18px;--pr-tablet:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbu8ve8yGf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gm5-O1T7hQ"
        class="gm5-O1T7hQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--ls:0px;--c:#432D2D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggm5-O1T7hQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gm5-O1T7hQ">
        .gm5-O1T7hQ strong{
    font-weight: 500 !important;
}
.gm5-O1T7hQ p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gbvtQiEjxN"}' data-id="gbvtQiEjxN" id="gbvtQiEjxN" data-same-height-subgrid-container class="gbvtQiEjxN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gS-2-vhLRt gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUEoO-LS2P"
        class="gUEoO-LS2P"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:19px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:19px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:19px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:139px;--w-tablet:139px;--w-mobile:139px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:600;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--ls:0px;--c:#432D2D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUEoO-LS2P_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="glFQzSwMKU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gEgKcqWqsh"}' data-id="gEgKcqWqsh" id="gEgKcqWqsh" data-same-height-subgrid-container class="gEgKcqWqsh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0px 1px;--bc:rgba(67, 45, 45, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:19px;--pl:18px;--pb:18px;--pr:20px;--pt-mobile:19px;--pl-mobile:18px;--pb-mobile:18px;--pr-mobile:20px;--pt-tablet:19px;--pl-tablet:18px;--pb-tablet:18px;--pr-tablet:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gI7eVEABOS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6dSct14TS"
        class="g6dSct14TS"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--ls:0px;--c:#432D2D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6dSct14TS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g6dSct14TS">
        .g6dSct14TS strong{
    font-weight: 500 !important;
}
.g6dSct14TS p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <style id="custom-css-gIptQssH1X">
        [data-gp-dialog-id="gIptQssH1X"] button[data-gp-dialog-close]{
    margin-top: 13px;
    margin-right: 13px;
}
      </style>
    
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-586463905652474386 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=586463905417527826&sectionId=586463905652474386)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5oUXkZJRA_text","label":"gg5oUXkZJRA_text","default":"<p>Study</p>"},{"type":"html","id":"gg4nDwr-NRN_text","label":"gg4nDwr-NRN_text","default":"<p>Key Insights</p>"},{"type":"html","id":"ggVj9IiFsmb_text","label":"ggVj9IiFsmb_text","default":"<p>Zinc Nanocomposite Textiles (Nature)</p>"},{"type":"html","id":"ggxuP6AXq_m_text","label":"ggxuP6AXq_m_text","default":"<p>Showed up to <strong>99.9999%</strong> <strong>bacterial reduction</strong> within 24 h using in-situ zinc nanoparticles, and retained effectiveness even after <strong>100 laundry cycles.</strong></p>"},{"type":"html","id":"ggyGdpxS9Nc_text","label":"ggyGdpxS9Nc_text","default":"<p>Zinc Oxide (ZnO) Nanoparticles – Antibacterial Mechanisms Review</p>"},{"type":"html","id":"ggm5-O1T7hQ_text","label":"ggm5-O1T7hQ_text","default":"<p>Details how <strong>zinc ions and reactive oxygen species (ROS) </strong>damage bacterial membranes, disrupt growth, and lead to cell death—offering a trustworthy path beyond antibiotics.</p>"},{"type":"html","id":"ggUEoO-LS2P_text","label":"ggUEoO-LS2P_text","default":"<p>Antibacterial ZnO Textile Coating (International Journal of Engineering, Science and Technology)</p>"},{"type":"html","id":"gg6dSct14TS_text","label":"gg6dSct14TS_text","default":"<p>Demonstrated <strong>99.9% reduction of Staph</strong>. aureus and <strong>80% against E. coli on ZnO-treated fabrics</strong>—even after <strong>25 wash cycles</strong>, indicating durability.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}