

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-536728184884822930.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-536728184884822930.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-536728184884822930.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-536728184884822930.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-536728184884822930.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-536728184884822930.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-536728184884822930.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-536728184884822930.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-536728184884822930.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-536728184884822930.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-536728184884822930.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-536728184884822930.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-536728184884822930.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-536728184884822930.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-536728184884822930.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-536728184884822930.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-536728184884822930.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-536728184884822930.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-536728184884822930.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-536728184884822930.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-536728184884822930.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-536728184884822930.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-536728184884822930.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-536728184884822930.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-536728184884822930.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-536728184884822930.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-536728184884822930.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-536728184884822930.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-536728184884822930.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-536728184884822930.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-536728184884822930.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-536728184884822930.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-536728184884822930.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-536728184884822930.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-536728184884822930.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-536728184884822930.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-536728184884822930.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-536728184884822930.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-536728184884822930.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-536728184884822930.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-536728184884822930.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-536728184884822930.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-536728184884822930.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-536728184884822930.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-536728184884822930.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-536728184884822930.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-536728184884822930.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-536728184884822930.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-536728184884822930.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-536728184884822930.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-536728184884822930.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-536728184884822930.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-536728184884822930.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-536728184884822930.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-536728184884822930.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-536728184884822930.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-536728184884822930.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-536728184884822930.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-536728184884822930.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-536728184884822930.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-536728184884822930.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-536728184884822930.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-536728184884822930.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-536728184884822930.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-536728184884822930.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-536728184884822930.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-536728184884822930.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-536728184884822930.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-536728184884822930.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-536728184884822930.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-536728184884822930.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-536728184884822930.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-536728184884822930.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-536728184884822930.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-536728184884822930.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-536728184884822930 .gp-relative{position:relative}.gps-536728184884822930 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-536728184884822930 .gp-mb-0{margin-bottom:0}.gps-536728184884822930 .\!gp-inline{display:inline!important}.gps-536728184884822930 .gp-flex{display:flex}.gps-536728184884822930 .gp-grid{display:grid}.gps-536728184884822930 .\!gp-hidden{display:none!important}.gps-536728184884822930 .gp-hidden{display:none}.gps-536728184884822930 .gp-h-full{height:100%}.gps-536728184884822930 .gp-w-full{width:100%}.gps-536728184884822930 .gp-max-w-full{max-width:100%}.gps-536728184884822930 .gp-flex-col{flex-direction:column}.gps-536728184884822930 .gp-gap-y-0{row-gap:0}.gps-536728184884822930 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536728184884822930 .gp-duration-200{transition-duration:.2s}.gps-536728184884822930 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-536728184884822930 .tablet\:\!gp-hidden{display:none!important}.gps-536728184884822930 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-536728184884822930 .mobile\:\!gp-hidden{display:none!important}.gps-536728184884822930 .mobile\:gp-hidden{display:none}}.gps-536728184884822930 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-536728184884822930 .\[\&_p\]\:gp-inline p{display:inline}.gps-536728184884822930 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-536728184884822930 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gjmT1wCpf3" data-id="gjmT1wCpf3"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjmT1wCpf3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gsz9Oy4hsn gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gcoVW62HQM" data-id="gcoVW62HQM"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcoVW62HQM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0GHpvDUEV gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gU-N-OthJs"
    role="presentation"
    class="gp-group/image gU-N-OthJs"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:8px;--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-9530f73c-ab06-4775-b6d1-4c79ad786a1f_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-9530f73c-ab06-4775-b6d1-4c79ad786a1f_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-9530f73c-ab06-4775-b6d1-4c79ad786a1f.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-9530f73c-ab06-4775-b6d1-4c79ad786a1f_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-9530f73c-ab06-4775-b6d1-4c79ad786a1f_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-9530f73c-ab06-4775-b6d1-4c79ad786a1f.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gIR3ajeKS9">
    <div
      parentTag="Col"
        class="gIR3ajeKS9 "
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:16px;--mb:8px;--mt-mobile:10px;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIR3ajeKS9_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gIR3ajeKS9">
        .gIR3ajeKS9 {

}
.gIR3ajeKS9 p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g1DeHhaGOp">
    <div
      parentTag="Col"
        class="g1DeHhaGOp "
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:35px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1DeHhaGOp_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g1DeHhaGOp">
        .g1DeHhaGOp {

}
.g1DeHhaGOp p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gU3yje_03W" data-id="gU3yje_03W"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gU3yje_03W gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXfApTOT5T gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gkWXe2F1Ik"
    role="presentation"
    class="gp-group/image gkWXe2F1Ik"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:8px;--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-fc2b4051-2f7e-40f6-9145-a2c87e6e73e8_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-fc2b4051-2f7e-40f6-9145-a2c87e6e73e8_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-fc2b4051-2f7e-40f6-9145-a2c87e6e73e8.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-fc2b4051-2f7e-40f6-9145-a2c87e6e73e8_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-fc2b4051-2f7e-40f6-9145-a2c87e6e73e8_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-fc2b4051-2f7e-40f6-9145-a2c87e6e73e8.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gUhihB5Dxx">
    <div
      parentTag="Col"
        class="gUhihB5Dxx "
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:16px;--mb:8px;--mt-mobile:10px;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUhihB5Dxx_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gUhihB5Dxx">
        .gUhihB5Dxx {

}
.gUhihB5Dxx p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gaVoiSbIJu">
    <div
      parentTag="Col"
        class="gaVoiSbIJu "
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggaVoiSbIJu_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gaVoiSbIJu">
        .gaVoiSbIJu {

}
.gaVoiSbIJu p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gzfSu682_Y gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g7800ZqObv"
    role="presentation"
    class="gp-group/image g7800ZqObv"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-c2ce2355-ba9e-4e38-86fe-35d998b6f20d_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-c2ce2355-ba9e-4e38-86fe-35d998b6f20d_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-c2ce2355-ba9e-4e38-86fe-35d998b6f20d.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:2160/2160;--aspect-tablet:2160/2160;--aspect-mobile:2160/2160;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-c2ce2355-ba9e-4e38-86fe-35d998b6f20d_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-c2ce2355-ba9e-4e38-86fe-35d998b6f20d_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-c2ce2355-ba9e-4e38-86fe-35d998b6f20d.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:2160/2160;--aspect-tablet:2160/2160;--aspect-mobile:2160/2160;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="guMD6PZbIz gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gsoHaZu-Rg" data-id="gsoHaZu-Rg"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsoHaZu-Rg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gW3y5_B-uB gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gwW9C6P5fc"
    role="presentation"
    class="gp-group/image gwW9C6P5fc"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:8px;--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-97446f97-136d-4bc9-8959-797363ad9f87_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-97446f97-136d-4bc9-8959-797363ad9f87_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-97446f97-136d-4bc9-8959-797363ad9f87.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-97446f97-136d-4bc9-8959-797363ad9f87_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-97446f97-136d-4bc9-8959-797363ad9f87_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-97446f97-136d-4bc9-8959-797363ad9f87.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gBSJMZaC4T">
    <div
      parentTag="Col"
        class="gBSJMZaC4T "
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:16px;--mb:8px;--mt-mobile:10px;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBSJMZaC4T_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gBSJMZaC4T">
        .gBSJMZaC4T {

}
.gBSJMZaC4T p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gfOYEKIhKv">
    <div
      parentTag="Col"
        class="gfOYEKIhKv "
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:35px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfOYEKIhKv_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gfOYEKIhKv">
        .gfOYEKIhKv {

}
.gfOYEKIhKv p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gkQYMmaX9c" data-id="gkQYMmaX9c"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb-mobile:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkQYMmaX9c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goRCDQXsYG gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gYiJ5M8Kzh"
    role="presentation"
    class="gp-group/image gYiJ5M8Kzh"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mb:8px;--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--ta:center;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_510135694635565882-6f2b9f38-efdc-49df-81b2-2fa939b4f4a4_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_510135694635565882-6f2b9f38-efdc-49df-81b2-2fa939b4f4a4_1024x1024.png" | file_url }}" />
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_510135694635565882-6f2b9f38-efdc-49df-81b2-2fa939b4f4a4.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-6f2b9f38-efdc-49df-81b2-2fa939b4f4a4_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-6f2b9f38-efdc-49df-81b2-2fa939b4f4a4_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_510135694635565882-6f2b9f38-efdc-49df-81b2-2fa939b4f4a4.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:50px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="g5dvi48hCF">
    <div
      parentTag="Col"
        class="g5dvi48hCF "
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:16px;--mb:8px;--mt-mobile:10px;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5dvi48hCF_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g5dvi48hCF">
        .g5dvi48hCF {

}
.g5dvi48hCF p {

}
      </style>
    
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-text.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-text data-id="gsOCPaF0wZ">
    <div
      parentTag="Col"
        class="gsOCPaF0wZ "
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:245px;--w-tablet:245px;--w-mobile:245px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggsOCPaF0wZ_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gsOCPaF0wZ">
        .gsOCPaF0wZ {

}
.gsOCPaF0wZ p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-536728184884822930 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=526334685966500747&sectionId=536728184884822930)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggIR3ajeKS9_text","label":"ggIR3ajeKS9_text","default":"<p>No More Camel Toe</p>"},{"type":"html","id":"gg1DeHhaGOp_text","label":"gg1DeHhaGOp_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(95,99,104);font-size:14px;\">Our thong contains a breathable, padded insert that keeps you 100% protected from camel toe.</span></p>"},{"type":"html","id":"ggUhihB5Dxx_text","label":"ggUhihB5Dxx_text","default":"<p>No More Sweat Patches</p>"},{"type":"html","id":"ggaVoiSbIJu_text","label":"ggaVoiSbIJu_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(95,99,104);font-size:14px;\">We’re putting a stop to embarrassing sweaty crotch and butt prints that make it look like you've wet yourself.</span></p>"},{"type":"html","id":"ggBSJMZaC4T_text","label":"ggBSJMZaC4T_text","default":"<p>No More Panty Lines</p>"},{"type":"html","id":"ggfOYEKIhKv_text","label":"ggfOYEKIhKv_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(95,99,104);font-size:14px;\">Designed from seamless fabrics our thong is completely undetectable under any leggings or tight pants!</span></p>"},{"type":"html","id":"gg5dvi48hCF_text","label":"gg5dvi48hCF_text","default":"<p>All-Day Comfort That Stays Put</p>"},{"type":"html","id":"ggsOCPaF0wZ_text","label":"ggsOCPaF0wZ_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(95,99,104);font-size:14px;\">Elegantly designed from breathable &amp; moisture wicking fabrics, with a wide absorbent gusset that stays in place.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
