
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-563801900131091218.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-563801900131091218.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-563801900131091218.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-563801900131091218.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-563801900131091218.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-563801900131091218.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-563801900131091218.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-563801900131091218.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-563801900131091218.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-563801900131091218.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-563801900131091218.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-563801900131091218.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-563801900131091218.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-563801900131091218.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-563801900131091218.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-563801900131091218.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-563801900131091218.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-563801900131091218.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-563801900131091218.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-563801900131091218.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-563801900131091218.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-563801900131091218.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-563801900131091218.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-563801900131091218.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-563801900131091218.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-563801900131091218.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-563801900131091218.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-563801900131091218.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-563801900131091218.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-563801900131091218.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-563801900131091218.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-563801900131091218.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-563801900131091218.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-563801900131091218.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-563801900131091218.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-563801900131091218.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-563801900131091218.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-563801900131091218.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-563801900131091218.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-563801900131091218.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-563801900131091218.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-563801900131091218.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-563801900131091218.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-563801900131091218.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-563801900131091218.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-563801900131091218.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-563801900131091218.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-563801900131091218.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-563801900131091218.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-563801900131091218.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-563801900131091218.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-563801900131091218.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-563801900131091218.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-563801900131091218.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-563801900131091218.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-563801900131091218.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-563801900131091218.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-563801900131091218.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-563801900131091218.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-563801900131091218.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-563801900131091218.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-563801900131091218.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-563801900131091218.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-563801900131091218.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-563801900131091218.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-563801900131091218.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-563801900131091218.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-563801900131091218.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-563801900131091218.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-563801900131091218.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-563801900131091218.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-563801900131091218.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-563801900131091218.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-563801900131091218.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-563801900131091218.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-563801900131091218.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-563801900131091218.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-563801900131091218.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-563801900131091218.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-563801900131091218.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-563801900131091218.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-563801900131091218.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-563801900131091218.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-563801900131091218.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-563801900131091218.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-563801900131091218.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-563801900131091218.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-563801900131091218.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-563801900131091218.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-563801900131091218.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-563801900131091218.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-563801900131091218.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-563801900131091218.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-563801900131091218.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-563801900131091218.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-563801900131091218.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-563801900131091218.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-563801900131091218.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-563801900131091218.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-563801900131091218.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-563801900131091218.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-563801900131091218.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-563801900131091218.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-563801900131091218.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-563801900131091218.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-563801900131091218.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-563801900131091218.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-563801900131091218 .gp-relative{position:relative}.gps-563801900131091218 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-563801900131091218 .gp-mb-0{margin-bottom:0}.gps-563801900131091218 .gp-inline-block{display:inline-block}.gps-563801900131091218 .gp-flex{display:flex}.gps-563801900131091218 .gp-inline-flex{display:inline-flex}.gps-563801900131091218 .gp-grid{display:grid}.gps-563801900131091218 .\!gp-hidden{display:none!important}.gps-563801900131091218 .gp-hidden{display:none}.gps-563801900131091218 .gp-h-auto{height:auto}.gps-563801900131091218 .gp-h-full{height:100%}.gps-563801900131091218 .gp-w-full{width:100%}.gps-563801900131091218 .gp-max-w-full{max-width:100%}.gps-563801900131091218 .gp-flex-none{flex:none}.gps-563801900131091218 .gp-shrink-0{flex-shrink:0}.gps-563801900131091218 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-563801900131091218 .gp-flex-col{flex-direction:column}.gps-563801900131091218 .gp-flex-wrap{flex-wrap:wrap}.gps-563801900131091218 .gp-items-center{align-items:center}.gps-563801900131091218 .gp-justify-center{justify-content:center}.gps-563801900131091218 .gp-overflow-hidden{overflow:hidden}.gps-563801900131091218 .gp-break-words{overflow-wrap:break-word}.gps-563801900131091218 .gp-border{border-width:1px}.gps-563801900131091218 .gp-border-transparent{border-color:transparent}.gps-563801900131091218 .gp-text-left{text-align:left}.gps-563801900131091218 .gp-text-center{text-align:center}.gps-563801900131091218 .gp-leading-\[0\]{line-height:0}.gps-563801900131091218 .gp-no-underline{text-decoration-line:none}.gps-563801900131091218 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563801900131091218 .gp-duration-200{transition-duration:.2s}.gps-563801900131091218 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-563801900131091218 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-563801900131091218 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-563801900131091218 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-563801900131091218 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-563801900131091218 .tablet\:\!gp-hidden{display:none!important}.gps-563801900131091218 .tablet\:gp-hidden{display:none}.gps-563801900131091218 .tablet\:gp-h-auto{height:auto}.gps-563801900131091218 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-563801900131091218 .mobile\:\!gp-hidden{display:none!important}.gps-563801900131091218 .mobile\:gp-hidden{display:none}.gps-563801900131091218 .mobile\:gp-h-auto{height:auto}.gps-563801900131091218 .mobile\:gp-flex-none{flex:none}}.gps-563801900131091218 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-563801900131091218 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-563801900131091218 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-563801900131091218 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-563801900131091218 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-563801900131091218 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-563801900131091218 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-563801900131091218 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-563801900131091218 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-563801900131091218 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-563801900131091218 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-563801900131091218 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:none;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"i2lc3449cd24e"}' data-id="i2lc3449cd24e" id="i2lc3449cd24e" data-same-height-subgrid-container class="i2lc3449cd24e gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:none;--d-mobile:grid;--d-tablet:none;--op:23%;--op-mobile:100%;--op-tablet:23%;--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:var(--g-s-s);--pl-mobile:0px;--pb-mobile:var(--g-s-s);--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:rgb(254, 254, 254);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-i2l1e6695dadf gp-relative gp-flex gp-flex-col"
    >
      
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type == 'product'
          if 'static' == 'static'
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at' | reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        else
          if 'latest' == 'latest'
            paginate collections.all.products by 100000
              assign product = collections.all.products | sort: 'created_at'| reverse | first
            endpaginate
          else
            assign product = all_products['']
            assign productId = 'latest' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "i2l1e6695dadf" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="i2l1e6695dadf"
        data-id="i2l1e6695dadf"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"uid":"i2l1e6695dadf"}' data-id="i2l1e6695dadf-row" id="i2l1e6695dadf" data-same-height-subgrid-container class="i2l1e6695dadf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:410px;--w-tablet:100%;--w-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-rewrap_row_YrIaktCuQFNP gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"rewrap_row_YrIaktCuQFNP"}' data-id="rewrap_row_YrIaktCuQFNP" id="rewrap_row_YrIaktCuQFNP" data-same-height-subgrid-container class="rewrap_row_YrIaktCuQFNP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(0, 0, 0);--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:20px;--pl:16px;--pb:20px;--pr:12px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:15px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:20px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(254, 254, 254);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-p-wrapper-i2l9783a96003 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"p-wrapper-i2l9783a96003"}' data-id="p-wrapper-i2l9783a96003" id="p-wrapper-i2l9783a96003" data-same-height-subgrid-container class="p-wrapper-i2l9783a96003 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-sp-i2l9783a96003 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"sp-i2l9783a96003"}' data-id="sp-i2l9783a96003" id="sp-i2l9783a96003" data-same-height-subgrid-container class="sp-i2l9783a96003 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:20px;--pl:0px;--pb:20px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l9783a96003 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gjaKGVI57H"}' data-id="gjaKGVI57H" id="gjaKGVI57H" data-same-height-subgrid-container class="gjaKGVI57H gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:0px;--cg:8px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gxNr4iIA52 gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="glUa60ueN6"  style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:0px;--mb-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:0px;--jc:left;--jc-mobile:right">
            <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gjLyQCold5 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gMdnqEqeyU" class="gp-leading-[0] gMdnqEqeyU" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gMdnqEqeyU" class="icon-wrapper gp-inline-flex gp-overflow-hidden gMdnqEqeyU " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#f2a73b;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:16px;--h:21px;--h-tablet:21px;--h-mobile:16px;--minw:21px;--minw-tablet:21px;--minw-mobile:16px;--height-desktop:21px;--height-tablet:21px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g5wZBWS62I ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gGYIOICnjS" class="gp-leading-[0] gGYIOICnjS" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gGYIOICnjS" class="icon-wrapper gp-inline-flex gp-overflow-hidden gGYIOICnjS " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#f2a73b;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:16px;--h:21px;--h-tablet:21px;--h-mobile:16px;--minw:21px;--minw-tablet:21px;--minw-mobile:16px;--height-desktop:21px;--height-tablet:21px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gx4x3il7x_ ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gCWqo1gw9V" class="gp-leading-[0] gCWqo1gw9V" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gCWqo1gw9V" class="icon-wrapper gp-inline-flex gp-overflow-hidden gCWqo1gw9V " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#f2a73b;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:16px;--h:21px;--h-tablet:21px;--h-mobile:16px;--minw:21px;--minw-tablet:21px;--minw-mobile:16px;--height-desktop:21px;--height-tablet:21px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gIOeAT1PEB ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gvxqmtt27J" class="gp-leading-[0] gvxqmtt27J" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="gvxqmtt27J" class="icon-wrapper gp-inline-flex gp-overflow-hidden gvxqmtt27J " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#f2a73b;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:16px;--h:21px;--h-tablet:21px;--h-mobile:16px;--minw:21px;--minw-tablet:21px;--minw-mobile:16px;--height-desktop:21px;--height-tablet:21px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gFJyIJWWW6 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gRE00rMyzm" class="gp-leading-[0] gRE00rMyzm" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gRE00rMyzm" class="icon-wrapper gp-inline-flex gp-overflow-hidden gRE00rMyzm " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#f2a73b;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:16px;--h:21px;--h-tablet:21px;--h-mobile:16px;--minw:21px;--minw-tablet:21px;--minw-mobile:16px;--height-desktop:21px;--height-tablet:21px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gIca4PNw4u gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="bVddMYhkgayz"
        class="bVddMYhkgayz"
        style="--ta:center;--op:100%;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:18px;--size-mobile:14px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gbVddMYhkgayz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="dIKQBkLHXDvw"
        class="dIKQBkLHXDvw"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--size:28px;--size-tablet:25px;--size-mobile:20px;--weight:bold;--c:rgb(0, 0, 0);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gdIKQBkLHXDvw_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtQnKIuALg"
        class="gtQnKIuALg"
        style="--ta:left;--ta-tablet:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left;--jc-tablet:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:338px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:27px;--lh-tablet:180%;--lh-mobile:18px;--ls:0px;--c:#FFB08C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtQnKIuALg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gtQnKIuALg">
        .gtQnKIuALg {

}
.gtQnKIuALg p {

}
      </style>
    
    <div
      role="presentation"
      data-id="bQsdCtSBwRaA"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1765454820972 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto bQsdCtSBwRaA"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1410" height="1182" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_510135694635565882-2b574b52-c444-4f64-ad32-7b685d440cb0.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_510135694635565882-2b574b52-c444-4f64-ad32-7b685d440cb0.png" | file_url }}" loading="lazy"
      id=""
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1410/1182;--aspect-tablet:1410/1182;--aspect-mobile:1410/1182;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  <div gp-el-wrapper  class="gIPidMqnaj ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gIPidMqnaj"
      data-id="gIPidMqnaj"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:11px;--mb-mobile:0px;--jc:left;--jc-mobile:left"
      className="gIPidMqnaj"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":25,"mobile":25,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left;--jc-mobile:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:14px;--rg-mobile:8px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIPidMqnaj"
                      style="--cg:16px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#ffffff;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#F0D3CB;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:16px;--size-mobile:25px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIPidMqnaj_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIPidMqnaj"
                      style="--cg:16px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#ffffff;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#F0D3CB;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:16px;--size-mobile:25px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIPidMqnaj_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIPidMqnaj"
                      style="--cg:16px;--cg-mobile:7px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#ffffff;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#F0D3CB;--w:100%;--h:100%;--size-desktop:25px;--size-tablet:16px;--size-mobile:25px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIPidMqnaj_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"https://official-aura.com/products/aura-invisible-camel-toe-thong","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:14px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center" >
        <style>[data-id="g3pkr8nEDC"].gp-button-base::before, [data-id="g3pkr8nEDC-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="g3pkr8nEDC"]:hover::before, [data-id="g3pkr8nEDC-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g3pkr8nEDC" dataId="g3pkr8nEDC" data-state="idle" aria-label="<p>TRY NOW</p>"
          
          href="https://official-aura.com/products/aura-invisible-camel-toe-thong" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:57px;--h-tablet:57px;--h-mobile:44px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#000000;--bg:#000000;--c:rgb(253, 253, 253);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:21px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase"
          class="g3pkr8nEDC gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:21px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg3pkr8nEDC_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-563801900131091218 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=563801900030362386&sectionId=563801900131091218)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gbVddMYhkgayz_text","label":"gbVddMYhkgayz_text","default":"<p>4.8/5 (5,841+ Reviews)</p>"},{"type":"html","id":"gdIKQBkLHXDvw_text","label":"gdIKQBkLHXDvw_text","default":"<span style=\"font-size:21px;\"><u>No Adjusting, No Sweat, No Panty Lines. Meet Your New Everyday Essential.</u></span>"},{"type":"html","id":"ggtQnKIuALg_text","label":"ggtQnKIuALg_text","default":"<p><span style=\"color:#111111;font-size:15px;\">If you thought thongs were uncomfortable, you haven't tried this one! From white pants to fitted dresses to leggings at the gym, this is the <strong>only thong you'll ever need.</strong></span></p>"},{"type":"html","id":"ggIPidMqnaj_childItem_0","label":"ggIPidMqnaj_childItem_0","default":"<p><strong>Invisible Under Any Outfit </strong>- No Wardrobe Limitations</p>"},{"type":"html","id":"ggIPidMqnaj_childItem_1","label":"ggIPidMqnaj_childItem_1","default":"<p><strong>Keeps You Fresh All Day </strong>- No Sweaty Crotch Or Camel Toe</p>"},{"type":"html","id":"ggIPidMqnaj_childItem_2","label":"ggIPidMqnaj_childItem_2","default":"<p><strong>Stays In Place All Day </strong>- No Adjusting Or Bunching&nbsp;</p>"},{"type":"html","id":"gg3pkr8nEDC_label","label":"gg3pkr8nEDC_label","default":"<p>TRY NOW</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}