
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538432098722120700.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-538432098722120700.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-538432098722120700.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538432098722120700.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538432098722120700.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538432098722120700.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538432098722120700.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538432098722120700.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538432098722120700.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538432098722120700.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538432098722120700.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-538432098722120700.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538432098722120700.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-538432098722120700.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-538432098722120700.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538432098722120700.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-538432098722120700.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-538432098722120700.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-538432098722120700.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538432098722120700.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538432098722120700.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538432098722120700.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538432098722120700.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-538432098722120700.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538432098722120700.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-538432098722120700.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538432098722120700.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-538432098722120700.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538432098722120700.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-538432098722120700.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-538432098722120700.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-538432098722120700.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538432098722120700.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538432098722120700.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-538432098722120700.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-538432098722120700.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-538432098722120700.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-538432098722120700.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538432098722120700.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538432098722120700.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538432098722120700.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538432098722120700.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538432098722120700.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538432098722120700.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538432098722120700.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538432098722120700.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-538432098722120700.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538432098722120700.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-538432098722120700.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-538432098722120700.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538432098722120700.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538432098722120700.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-538432098722120700.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-538432098722120700.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-538432098722120700.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-538432098722120700.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538432098722120700.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-538432098722120700.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-538432098722120700.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-538432098722120700.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-538432098722120700.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538432098722120700.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538432098722120700.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538432098722120700.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538432098722120700.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-538432098722120700.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538432098722120700.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538432098722120700.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-538432098722120700.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-538432098722120700.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-538432098722120700.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538432098722120700.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-538432098722120700.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-538432098722120700.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-538432098722120700.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-538432098722120700.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-538432098722120700.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538432098722120700.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538432098722120700.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-538432098722120700.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-538432098722120700.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538432098722120700.gps.gpsil [style*="--z-mobile:"]{z-index:var(--z-mobile)}.gps-538432098722120700.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538432098722120700 .gp-g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-538432098722120700 .gp-relative{position:relative}.gps-538432098722120700 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538432098722120700 .gp-mb-0{margin-bottom:0}.gps-538432098722120700 .gp-inline-block{display:inline-block}.gps-538432098722120700 .gp-flex{display:flex}.gps-538432098722120700 .gp-grid{display:grid}.gps-538432098722120700 .gp-contents{display:contents}.gps-538432098722120700 .\!gp-hidden{display:none!important}.gps-538432098722120700 .gp-hidden{display:none}.gps-538432098722120700 .gp-h-auto{height:auto}.gps-538432098722120700 .gp-h-full{height:100%}.gps-538432098722120700 .gp-w-full{width:100%}.gps-538432098722120700 .gp-max-w-full{max-width:100%}.gps-538432098722120700 .gp-flex-none{flex:none}.gps-538432098722120700 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-538432098722120700 .gp-flex-col{flex-direction:column}.gps-538432098722120700 .gp-overflow-hidden{overflow:hidden}.gps-538432098722120700 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538432098722120700 .gp-duration-200{transition-duration:.2s}.gps-538432098722120700 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-538432098722120700 .tablet\:\!gp-hidden{display:none!important}.gps-538432098722120700 .tablet\:gp-hidden{display:none}.gps-538432098722120700 .tablet\:gp-h-auto{height:auto}.gps-538432098722120700 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-538432098722120700 .mobile\:\!gp-hidden{display:none!important}.gps-538432098722120700 .mobile\:gp-hidden{display:none}.gps-538432098722120700 .mobile\:gp-h-auto{height:auto}.gps-538432098722120700 .mobile\:gp-flex-none{flex:none}}.gps-538432098722120700 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:none;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"#ffffff","type":"color"}},"uid":"i2l1ccd9c4c45"}' data-id="i2l1ccd9c4c45" id="i2l1ccd9c4c45" data-same-height-subgrid-container class="i2l1ccd9c4c45 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:1px;--pl-mobile:0px;--pb-mobile:1px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#ffffff;--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-bfYOVfbpMvxE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"#ffffff","type":"color"}},"uid":"bfYOVfbpMvxE"}' data-id="bfYOVfbpMvxE" id="bfYOVfbpMvxE" data-same-height-subgrid-container class="bfYOVfbpMvxE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:16px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:10px;--pl-mobile:auto;--pb-mobile:8px;--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:841px;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="c-aJZUEIJxsUkh gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEOyBjZhTs"
        class="gEOyBjZhTs"
        style="--ta:left;--d:none;--d-mobile:block;--d-tablet:none;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(1, 1, 1);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEOyBjZhTs_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--pos:relative;--pos-mobile:relative;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--z:1;--z-mobile:1" class="gfVzHOzK6I ">
      
    <div class="gp-flex gp-w-full gp-overflow-hidden" style="border-radius:inherit">
      
    <gp-image-comparison
      data-id="gfVzHOzK6I"
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gp-w-full gp-flex"
      gp-data='{"hover":false,"handle":null,"vertical":false,"leftImage":{"backupFileKey":"gempages_510135694635565882-46e65f21-93bb-4931-9f4d-cf8f5c8ebe49.png","height":3375,"src":"https://cdn.shopify.com/s/files/1/0824/1882/7590/files/gempages_510135694635565882-46e65f21-93bb-4931-9f4d-cf8f5c8ebe49.png","storage":"FILE_CONTENT","width":3375},"rightImage":{"backupFileKey":"gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png","height":3375,"src":"https://cdn.shopify.com/s/files/1/0824/1882/7590/files/gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png","storage":"FILE_CONTENT","width":3375},"handleSize":40,"aspectRatio":{"desktop":"1","tablet":"1","mobile":"1"},"defaultRatio":"3375/3375","componentUid":"gfVzHOzK6I","leftImageCss":{},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.53}'
    >
      <div id="img-comparison-wrapper-gfVzHOzK6I" style="--w:3375px;--w-tablet:3375px;--w-mobile:3375px">
        <div
          id="img-comparison-container-gfVzHOzK6I"
          data-testid="container"
          style="height:auto;overflow:hidden;position:relative;box-sizing:border-box;display:block;--aspect:1;--aspect-tablet:1;--aspect-mobile:1"
        >
          
      <img alt="" src width="3375" height="3375" data-testid="temp-image" style="--pos:static;--op:0;--aspect:1;--aspect-tablet:1;--aspect-mobile:1" />
    
          
    <img
      data-testid="right-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png" | file_url }}" data-src="{{ "gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png" | file_url }}" data-srcset="{{ "gempages_510135694635565882-ee2f2772-12d3-4c20-a548-4941e5a9466c.png" | file_url }}"
      id="right-image-gfVzHOzK6I"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:fill"
      class="gp_lazyload"
    />
          
    <img
      data-testid="left-image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "gempages_510135694635565882-46e65f21-93bb-4931-9f4d-cf8f5c8ebe49.png" | file_url }}" data-src="{{ "gempages_510135694635565882-46e65f21-93bb-4931-9f4d-cf8f5c8ebe49.png" | file_url }}" data-srcset="{{ "gempages_510135694635565882-46e65f21-93bb-4931-9f4d-cf8f5c8ebe49.png" | file_url }}"
      id="left-image-gfVzHOzK6I"
      style="top:0;width:100%;height:100%;display:block;position:absolute;--objf:fill"
      class="gp_lazyload"
    />
          
    <div id="image-comparison-slider-gfVzHOzK6I" style="z-index:2;display:flex;position:absolute;align-items:center;justify-content:center;cursor:ew-resize;flex-direction:column;height:100%;width:40px">
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
      <div style="display:flex;flex:1 0 auto;align-items:center;box-sizing:border-box;justify-content:center;border-radius:100%;width:40px;height:40px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);transform:none;border:2px solid #ffffff">
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 2px 0 0"
            width="6" height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg
            style="filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px);margin:0 0 0 2px"
            width="6"
            height="12"
            viewBox="0 0 6 12" fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
      <div style="display:block;flex:0 1 auto;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);height:100%;width:2px"></div>
    </div>
  
          
          
        </div>
      </div>
    </gp-image-comparison>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-image-comparison-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="i2l348cd5db63 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="hfoSgrcDBnrm"
        class="hfoSgrcDBnrm"
        style="--ta:left;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:24px;--size-tablet:25px;--size-mobile:23px;--c:#000000;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ghfoSgrcDBnrm_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ldwbURlRcgHJ"
        class="ldwbURlRcgHJ"
        style="--ta:center;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:var(--g-s-xs);--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:var(--g-s-s);--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:18px;--size-mobile:18px;--lh:28px;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gldwbURlRcgHJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"#00000000","type":"color"}},"uid":"gUHg2Lh3BX"}' data-id="gUHg2Lh3BX" id="gUHg2Lh3BX" data-same-height-subgrid-container class="gUHg2Lh3BX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mr:auto;--pt:4px;--pl:16px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:45px;--pl-mobile:auto;--pb-mobile:8px;--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:851px;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gMz7twdxSx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfudJXJPpY"
        class="gfudJXJPpY"
        style="--ta:left;--d:none;--d-mobile:block;--d-tablet:none;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(1, 1, 1);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfudJXJPpY_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gmZzFX2hpB"
      style="--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:13px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765454875686 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gmZzFX2hpB"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-8ff2faee-53d2-411a-8b44-f960d8bf7e97.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_510135694635565882-8ff2faee-53d2-411a-8b44-f960d8bf7e97.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_510135694635565882-8ff2faee-53d2-411a-8b44-f960d8bf7e97.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_510135694635565882-8ff2faee-53d2-411a-8b44-f960d8bf7e97.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="grH3dhc7g1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gArkq2zgaQ"
        class="gArkq2zgaQ"
        style="--ta:left;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:24px;--size-tablet:24px;--size-mobile:23px;--c:#000000;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggArkq2zgaQ_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEqBFvwwzQ"
        class="gEqBFvwwzQ"
        style="--ta:center;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:28px;--lh-tablet:150%;--lh-mobile:150%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEqBFvwwzQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"#ffffff","type":"color"}},"uid":"kMoUDafCkJxD"}' data-id="kMoUDafCkJxD" id="kMoUDafCkJxD" data-same-height-subgrid-container class="kMoUDafCkJxD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mr:auto;--pt:4px;--pl:16px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:45px;--pl-mobile:auto;--pb-mobile:8px;--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:851px;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="c-eVTCTTfXFDyb gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-aMfEZZz5"
        class="g-aMfEZZz5"
        style="--ta:left;--d:none;--d-mobile:block;--d-tablet:none;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-aMfEZZz5_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="eVTCTTfXFDyb"
      style="--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:13px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765454875697 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto eVTCTTfXFDyb"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-b34ef1d2-0cc6-4eb5-b887-5d2b647e7b88.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_510135694635565882-b34ef1d2-0cc6-4eb5-b887-5d2b647e7b88.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_510135694635565882-b34ef1d2-0cc6-4eb5-b887-5d2b647e7b88.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_510135694635565882-b34ef1d2-0cc6-4eb5-b887-5d2b647e7b88.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="i2l4f31136dad gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="MujvfveEWDpr"
        class="MujvfveEWDpr"
        style="--ta:left;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gMujvfveEWDpr_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="mCykmPiFyWii"
        class="mCykmPiFyWii txt-btn-three"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:28px;--lh-tablet:150%;--lh-mobile:150%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gmCykmPiFyWii_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"#ffffff","type":"color"}},"uid":"guXCvzzsls"}' data-id="guXCvzzsls" id="guXCvzzsls" data-same-height-subgrid-container class="guXCvzzsls gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mr:auto;--pt:4px;--pl:16px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-l);--mr-mobile:auto;--pt-mobile:45px;--pl-mobile:auto;--pb-mobile:8px;--pr-mobile:auto;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:851px;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gL5yunEo3c gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gY3PWfVdvw"
        class="gY3PWfVdvw"
        style="--ta:left;--d:none;--d-mobile:block;--d-tablet:none;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggY3PWfVdvw_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gxdR5_Jcj9"
      style="--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:13px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765454875703 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gxdR5_Jcj9"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-f90feec9-c2a0-4a9e-9e0c-92df24a2f041.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_510135694635565882-f90feec9-c2a0-4a9e-9e0c-92df24a2f041.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_510135694635565882-f90feec9-c2a0-4a9e-9e0c-92df24a2f041.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_510135694635565882-f90feec9-c2a0-4a9e-9e0c-92df24a2f041.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g2J9huBSZI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBXa-cwxbD"
        class="gBXa-cwxbD"
        style="--ta:left;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgb(2, 2, 2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBXa-cwxbD_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIAcWoeA_O"
        class="gIAcWoeA_O txt-btn-three"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:28px;--lh-tablet:150%;--lh-mobile:150%;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIAcWoeA_O_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-538432098722120700 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538432098604680188&sectionId=538432098722120700)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEOyBjZhTs_text","label":"ggEOyBjZhTs_text","default":"<p><span style=\"font-size:22px;\"><strong>1. you'll never have a camel toe again</strong></span></p>"},{"type":"html","id":"ggfVzHOzK6I_leftImageLabel","label":"ggfVzHOzK6I_leftImageLabel","default":"Before"},{"type":"html","id":"ggfVzHOzK6I_rightImageLabel","label":"ggfVzHOzK6I_rightImageLabel","default":"After"},{"type":"html","id":"ghfoSgrcDBnrm_text","label":"ghfoSgrcDBnrm_text","default":"<p><span style=\"font-size:26px;\"><strong>1. you'll never have a camel toe again</strong></span></p>"},{"type":"html","id":"gldwbURlRcgHJ_text","label":"gldwbURlRcgHJ_text","default":"<p><span style=\"font-size:18px;\">Say goodbye to constant gusset checks and awkward adjustments because these things actually work! Wear them under the thinnest of leggings and you won't see a thing. No more camel toes and no more front wedgies ever again!</span></p>"},{"type":"html","id":"ggfudJXJPpY_text","label":"ggfudJXJPpY_text","default":"<p><span style=\"font-size:22px;\"><strong>2. no one will know you have them on!</strong></span></p>"},{"type":"html","id":"ggArkq2zgaQ_text","label":"ggArkq2zgaQ_text","default":"<p><span style=\"font-size:26px;\"><strong>2. no one will know you have them on!</strong></span></p>"},{"type":"html","id":"ggEqBFvwwzQ_text","label":"ggEqBFvwwzQ_text","default":"<p><span style=\"font-size:18px;\">If you prefer the pantyless look, but dread the consequential crotch malfunctions, then these are definitely for you. Olora crafted these from 100% seamless fabrics so you won't see a single panty line when you're wearing them.&nbsp;</span></p>"},{"type":"html","id":"gg-aMfEZZz5_text","label":"gg-aMfEZZz5_text","default":"<p><span style=\"font-size:22px;\"><strong>3. you can say goodbye to sweaty crotch</strong></span></p>"},{"type":"html","id":"gMujvfveEWDpr_text","label":"gMujvfveEWDpr_text","default":"<p><span style=\"font-size:26px;\"><strong>3. You Can say goodbye to sweaty crotch</strong></span></p>"},{"type":"html","id":"gmCykmPiFyWii_text","label":"gmCykmPiFyWii_text","default":"<p><span style=\"font-size:18px;\">No one wants to deal with sweaty crotch, embarrassing butt prints and looking like you've wet yourself. Thats why Olora designed this thong with active women in mind: featuring an absorbent, breathable gusset and a moisture-wicking fabric blend, it keeps you cool, dry, and worry-free through every workout.</span></p>"},{"type":"html","id":"ggY3PWfVdvw_text","label":"ggY3PWfVdvw_text","default":"<p><span style=\"font-size:22px;\"><strong>4. all-day comfort for every shape and size</strong></span></p>"},{"type":"html","id":"ggBXa-cwxbD_text","label":"ggBXa-cwxbD_text","default":"<p><span style=\"font-size:26px;\"><strong>4. All-Day Comfort for Every Shape and Size</strong></span></p>"},{"type":"html","id":"ggIAcWoeA_O_text","label":"ggIAcWoeA_O_text","default":"<p><span style=\"font-size:18px;\">Designed to feel like second skin, if you love the comfort and freedom of going commando you'll love Olora's Invisible Camel Toe Thong. Olora describe the fit as 'it molds to the body'.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}