
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586463905568588306.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586463905568588306.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586463905568588306.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586463905568588306.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586463905568588306.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586463905568588306.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586463905568588306.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586463905568588306.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586463905568588306.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586463905568588306.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586463905568588306.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586463905568588306.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586463905568588306.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586463905568588306.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586463905568588306.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586463905568588306.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586463905568588306.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586463905568588306.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586463905568588306.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586463905568588306.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586463905568588306.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-586463905568588306.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-586463905568588306.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-586463905568588306.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-586463905568588306.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586463905568588306.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586463905568588306.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586463905568588306.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-586463905568588306.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-586463905568588306.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586463905568588306.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586463905568588306.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586463905568588306.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586463905568588306.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586463905568588306.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586463905568588306.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586463905568588306.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586463905568588306.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586463905568588306.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586463905568588306.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586463905568588306.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586463905568588306.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-586463905568588306.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-586463905568588306.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586463905568588306.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-586463905568588306.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-586463905568588306.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586463905568588306.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586463905568588306.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586463905568588306.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-586463905568588306.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586463905568588306.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-586463905568588306.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-586463905568588306.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-586463905568588306.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586463905568588306.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586463905568588306.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-586463905568588306.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-586463905568588306.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-586463905568588306.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586463905568588306.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586463905568588306.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-586463905568588306.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586463905568588306.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-586463905568588306.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586463905568588306.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586463905568588306.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586463905568588306.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586463905568588306.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586463905568588306.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-586463905568588306.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-586463905568588306.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586463905568588306.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586463905568588306 .focus-visible\:gp-shadow-none,.gps-586463905568588306 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-586463905568588306 .gp-fixed{position:fixed}.gps-586463905568588306 .gp-absolute{position:absolute}.gps-586463905568588306 .gp-relative{position:relative}.gps-586463905568588306 .gp-inset-0{inset:0}.gps-586463905568588306 .gp-right-0{right:0}.gps-586463905568588306 .gp-top-0{top:0}.gps-586463905568588306 .gp-z-1{z-index:1}.gps-586463905568588306 .gp-z-50{z-index:50}.gps-586463905568588306 .gp-z-\[999999\]{z-index:999999}.gps-586463905568588306 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586463905568588306 .gp-mb-0{margin-bottom:0}.gps-586463905568588306 .gp-block{display:block}.gps-586463905568588306 .gp-inline-block{display:inline-block}.gps-586463905568588306 .gp-flex{display:flex}.gps-586463905568588306 .gp-inline-flex{display:inline-flex}.gps-586463905568588306 .gp-grid{display:grid}.gps-586463905568588306 .\!gp-hidden{display:none!important}.gps-586463905568588306 .gp-hidden{display:none}.gps-586463905568588306 .gp-h-full{height:100%}.gps-586463905568588306 .gp-h-screen{height:100vh}.gps-586463905568588306 .\!gp-max-h-screen{max-height:100vh!important}.gps-586463905568588306 .gp-max-h-full{max-height:100%}.gps-586463905568588306 .gp-w-full{width:100%}.gps-586463905568588306 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-586463905568588306 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-586463905568588306 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586463905568588306 .gp-flex-col{flex-direction:column}.gps-586463905568588306 .gp-items-center{align-items:center}.gps-586463905568588306 .gp-justify-center{justify-content:center}.gps-586463905568588306 .gp-overflow-hidden{overflow:hidden}.gps-586463905568588306 .gp-overflow-y-auto{overflow-y:auto}.gps-586463905568588306 .gp-overflow-x-hidden{overflow-x:hidden}.gps-586463905568588306 .gp-bg-transparent{background-color:transparent}.gps-586463905568588306 .gp-align-middle{vertical-align:middle}.gps-586463905568588306 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-586463905568588306 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-586463905568588306 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586463905568588306 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586463905568588306 .gp-duration-100{transition-duration:.1s}.gps-586463905568588306 .gp-duration-200{transition-duration:.2s}.gps-586463905568588306 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586463905568588306 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-586463905568588306 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-586463905568588306 .tablet\:\!gp-hidden{display:none!important}.gps-586463905568588306 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-586463905568588306 .mobile\:\!gp-hidden{display:none!important}.gps-586463905568588306 .mobile\:gp-hidden{display:none}}.gps-586463905568588306 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-586463905568588306 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-586463905568588306 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    <gp-dialog
      data-id="g1zz-BqzhA"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"g1zz-BqzhA","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog
        aria-label="Perfect Fit Promise Popup"
        data-gp-dialog-id="g1zz-BqzhA"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-mobile:auto;--pe-tablet:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.72;--bgc:#000000;--d:block;--d-mobile:block;--d-tablet:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--d:block;--d-mobile:block;--d-tablet:block;--w:350px;--w-tablet:350px;--w-mobile:350px;--h:505px;--h-tablet:505px;--h-mobile:505px"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:32px;--h:32px;--c:#000000;--bgc:transparent"
            >
              <span style="--height-icon:32px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg height="20" width="20" data-name="x-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817659317518696">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M204.24,195.76a6,6,0,1,1-8.48,8.48L128,136.49,60.24,204.24a6,6,0,0,1-8.48-8.48L119.51,128,51.76,60.24a6,6,0,0,1,8.48-8.48L128,119.51l67.76-67.75a6,6,0,0,1,8.48,8.48L136.49,128Z" /></svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--h:505px;--h-tablet:505px;--h-mobile:505px;border-radius:inherit;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
    

    

    
    <gp-row gp-data='{"uid":"g6p2rlp9-p"}' data-id="g6p2rlp9-p" id="g6p2rlp9-p" data-same-height-subgrid-container class="g6p2rlp9-p gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gW8P_1DLje gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gasyM5wEdO"
        class="gasyM5wEdO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:47px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:40px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:47px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827637"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--ls:0px;--size:24px;--size-tablet:24px;--size-mobile:24px;--lh:113%;--lh-tablet:113%;--lh-mobile:113%;--c:var(--g-c-text-1, text-1);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggasyM5wEdO_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaPk4ZxBDf"
        class="gaPk4ZxBDf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827638"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaPk4ZxBDf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga99YYyvRF"
        class="ga99YYyvRF"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:23px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:23px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:23px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827640"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:264px;--w-tablet:264px;--w-mobile:264px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--c:#272727;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga99YYyvRF_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvjhw7Q-vu"
        class="gvjhw7Q-vu"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827641"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvjhw7Q-vu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIjhEydeiT"
        class="gIjhEydeiT"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:23px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:23px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:23px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827642"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:264px;--w-tablet:264px;--w-mobile:264px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--c:#272727;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIjhEydeiT_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guvnuVrTEb"
        class="guvnuVrTEb"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827643"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguvnuVrTEb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gR1zKA8srq"
        class="gR1zKA8srq"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827648"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:264px;--w-tablet:264px;--w-mobile:264px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--ls:0px;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:142%;--lh-tablet:142%;--lh-mobile:142%;--c:#272727;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggR1zKA8srq_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <style id="custom-css-g1zz-BqzhA">
        [data-gp-dialog-id="g1zz-BqzhA"] [aria-label="Dialog body"] > div{
    height: 100%;
}

[data-gp-dialog-id="g1zz-BqzhA"] button[data-gp-dialog-close]{
    margin-top: 30px;
    margin-right: 13px;
}
      </style>
    
    
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-586463905568588306 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=586463905417527826&sectionId=586463905568588306)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggasyM5wEdO_text","label":"ggasyM5wEdO_text","default":"<p>Perfect Fit Promise</p>"},{"type":"html","id":"ggaPk4ZxBDf_text","label":"ggaPk4ZxBDf_text","default":"<p>1. Try it on</p>"},{"type":"html","id":"gga99YYyvRF_text","label":"gga99YYyvRF_text","default":"<p>Slip into Olora risk-free - test the fit, stretch, and comfort at home.</p>"},{"type":"html","id":"ggvjhw7Q-vu_text","label":"ggvjhw7Q-vu_text","default":"<p>2. Love it or swap it&nbsp;</p>"},{"type":"html","id":"ggIjhEydeiT_text","label":"ggIjhEydeiT_text","default":"<p>Not the perfect size? We’ll exchange it for free until you find your ideal fit.</p>"},{"type":"html","id":"gguvnuVrTEb_text","label":"gguvnuVrTEb_text","default":"<p>3. No stress returns&nbsp;</p>"},{"type":"html","id":"ggR1zKA8srq_text","label":"ggR1zKA8srq_text","default":"<p>Still not right? Send it back hassle-free for a full refund.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  