

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-542025466467779588.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-542025466467779588.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-542025466467779588.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-542025466467779588.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-542025466467779588.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-542025466467779588.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-542025466467779588.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-542025466467779588.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-542025466467779588.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-542025466467779588.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-542025466467779588.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-542025466467779588.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-542025466467779588.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-542025466467779588.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-542025466467779588.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-542025466467779588.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-542025466467779588.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-542025466467779588.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-542025466467779588.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-542025466467779588.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-542025466467779588.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-542025466467779588.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-542025466467779588.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-542025466467779588.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-542025466467779588.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-542025466467779588.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-542025466467779588.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-542025466467779588.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-542025466467779588.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-542025466467779588.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-542025466467779588.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-542025466467779588.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-542025466467779588.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-542025466467779588.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-542025466467779588.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-542025466467779588.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-542025466467779588.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-542025466467779588.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-542025466467779588.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-542025466467779588.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-542025466467779588.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-542025466467779588.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-542025466467779588.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-542025466467779588.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-542025466467779588.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-542025466467779588.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-542025466467779588.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-542025466467779588.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-542025466467779588.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-542025466467779588.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-542025466467779588.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-542025466467779588.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-542025466467779588.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-542025466467779588.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-542025466467779588.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-542025466467779588.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-542025466467779588.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-542025466467779588.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-542025466467779588.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-542025466467779588.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-542025466467779588.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-542025466467779588.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-542025466467779588.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-542025466467779588.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-542025466467779588.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-542025466467779588.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-542025466467779588.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-542025466467779588.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-542025466467779588.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-542025466467779588.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-542025466467779588.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-542025466467779588.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-542025466467779588.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-542025466467779588.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-542025466467779588.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-542025466467779588.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-542025466467779588.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-542025466467779588.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-542025466467779588.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-542025466467779588.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-542025466467779588.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-542025466467779588 .gp-absolute{position:absolute}.gps-542025466467779588 .gp-relative{position:relative}.gps-542025466467779588 .gp-inset-0{inset:0}.gps-542025466467779588 .gp-z-1{z-index:1}.gps-542025466467779588 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-542025466467779588 .gp-mb-0{margin-bottom:0}.gps-542025466467779588 .gp-flex{display:flex}.gps-542025466467779588 .gp-inline-flex{display:inline-flex}.gps-542025466467779588 .gp-grid{display:grid}.gps-542025466467779588 .gp-contents{display:contents}.gps-542025466467779588 .\!gp-hidden{display:none!important}.gps-542025466467779588 .gp-hidden{display:none}.gps-542025466467779588 .gp-h-full{height:100%}.gps-542025466467779588 .gp-w-full{width:100%}.gps-542025466467779588 .gp-w-max{width:-moz-max-content;width:max-content}.gps-542025466467779588 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-542025466467779588 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-542025466467779588 .gp-max-w-full{max-width:100%}.gps-542025466467779588 .gp-flex-1{flex:1 1 0%}.gps-542025466467779588 .gp-shrink-0{flex-shrink:0}.gps-542025466467779588 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-542025466467779588 .gp-flex-col{flex-direction:column}.gps-542025466467779588 .gp-flex-wrap{flex-wrap:wrap}.gps-542025466467779588 .gp-items-center{align-items:center}.gps-542025466467779588 .gp-justify-center{justify-content:center}.gps-542025466467779588 .gp-gap-y-0{row-gap:0}.gps-542025466467779588 .gp-overflow-hidden{overflow:hidden}.gps-542025466467779588 .gp-break-words{overflow-wrap:break-word}.gps-542025466467779588 .gp-rounded-none{border-radius:0}.gps-542025466467779588 .gp-text-center{text-align:center}.gps-542025466467779588 .gp-no-underline{text-decoration-line:none}.gps-542025466467779588 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542025466467779588 .gp-duration-200{transition-duration:.2s}.gps-542025466467779588 .gp-duration-300{transition-duration:.3s}.gps-542025466467779588 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542025466467779588 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-542025466467779588 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-542025466467779588 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-542025466467779588 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-542025466467779588 .tablet\:\!gp-hidden{display:none!important}.gps-542025466467779588 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-542025466467779588 .mobile\:\!gp-hidden{display:none!important}.gps-542025466467779588 .mobile\:gp-hidden{display:none}}.gps-542025466467779588 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-542025466467779588 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-542025466467779588 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-542025466467779588 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-542025466467779588 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-542025466467779588 .\[\&_p\]\:gp-inline p{display:inline}.gps-542025466467779588 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-542025466467779588 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-542025466467779588 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gEOnl8J6cn" data-id="gEOnl8J6cn"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:50px;--pl:20px;--pb:30px;--pr:20px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:1px;--pl-mobile:0px;--pb-mobile:30px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#ffffff"
        class="gEOnl8J6cn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggIDJDHgLv gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gqB6d1iY8H">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gqB6d1iY8H "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:26px;--size-tablet:30px;--size-mobile:36px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqB6d1iY8H_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '9014950461766' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['aura-invisible-camel-toe-thong']
                assign productId = '9014950461766' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '9014950461766' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['aura-invisible-camel-toe-thong']
              assign productId = '9014950461766' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId = 49825107673414 -%}
      {%- assign product_form_id = 'product-form-' | append: "gSxeorom6E" -%}
      {%- assign variant = product.variants | where: 'id', initVariantId | first -%}
      {%- assign productSelectedVariant = product.variants | where: 'id', initVariantId | first -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="gSxeorom6E" data-id="gSxeorom6E"   gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="gSxeorom6E" data-id="gSxeorom6E-row"
        style="--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:900px;--w-tablet:100%;--w-mobile:100%"
        class="gSxeorom6E gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gj9WO3-YzH gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gM-49vdrgs">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gM-49vdrgs para-desc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pl-mobile:15px;--pb-mobile:10px;--pr-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:22px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggM-49vdrgs_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gg_INbuk-p">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gg_INbuk-p para-desc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pl-mobile:15px;--pr-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:22px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggg_INbuk-p_text }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gXIIAM6Vid" data-id="gXIIAM6Vid"
        style="--bs:dotted;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--mt:0px;--ml:auto;--mr:auto;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:var(--g-s-m);--pl-mobile:16px;--pb-mobile:var(--g-s-m);--pr-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:900px;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgc-mobile:#00000000"
        class="gXIIAM6Vid gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="geE3CVTtlq gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gDYAttNWbD">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gDYAttNWbD "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:15px;--pt-mobile:15px;--pb-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:34px;--size-tablet:30px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDYAttNWbD_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gjJnYdP-Gf">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjJnYdP-Gf no-letter"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:20px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:330px;--w-tablet:330px;--w-mobile:330px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:28px;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggjJnYdP-Gf_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:10px;--pr:0px;--ta:center"
    class="btn-letter"
  >
    <style>
    .gzVjJFN6gM.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
    }

    .gzVjJFN6gM:hover::before {
      
      
    }

    .gzVjJFN6gM:hover .gp-button-icon {
      color: #000000;
    }

     .gzVjJFN6gM .gp-button-icon {
      color: #000000;
    }

    .gzVjJFN6gM:hover .gp-button-price {
      color: #000000;
    }

    .gzVjJFN6gM .gp-button-price {
      color: #000000;
    }

    .gzVjJFN6gM .gp-product-dot-price {
       color: #000000;
    }

    .gzVjJFN6gM:hover .gp-product-dot-price {
      color: #000000;
    }
  </style>
    <a
      href="https://official-aura.com/products/aura-invisible-camel-toe-thong-2001" target="_self" data-id="gzVjJFN6gM" aria-label="<p><span style='color:#191919;font-size:16px;'><strong>Claim offer now</strong></span></p>"
      
      data-state="idle"
      class="gzVjJFN6gM gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#F0D3CB;--bg:rgba(240, 211, 203, 0);--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--w:280px;--w-tablet:280px;--w-mobile:270px;--h:50px;--h-tablet:50px;--h-mobile:50px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#000000;--c:#000000;--size:18px;--size-tablet:18px;--size-mobile:14px;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824440168">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:18px;--size-tablet:18px;--size-mobile:14px"
      >
        {{ section.settings.ggzVjJFN6gM_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gUSz-zJW_x" data-id="gUSz-zJW_x"
        style="--mt:0px;--ml:auto;--mb:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:8px;--cg-tablet:8px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUSz-zJW_x gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvk6zRIKc9 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gJpAcvCjbM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJpAcvCjbM no-letter"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:right;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJpAcvCjbM_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHJC9PobUs gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:2px 2px 2px 2px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt-mobile:var(--g-s-xs);--pb-mobile:var(--g-s-xs)" class="g7-t64RwWv ">
      
    <gp-countdown-timer
      data-id="g7-t64RwWv"
     class="gp-flex "
     gp-data='{"behaviour":"evergreen","dateStandard":1714922987126,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":2,"mins":30},"timerEverygreen":{"days":0,"endTime":1726130855015,"hours":2,"mins":30,"startTime":1714318187126},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"g7-t64RwWv","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"2px","color":"#121212","isCustom":true,"width":"2px 2px 2px 2px"}},"position":"all"},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"12px","color":"rgba(0, 0, 0, 0.20)","distance":"4px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":0}},"mobile":{"link":false,"margin":{"bottom":0},"padding":{"bottom":"var(--g-s-xs)","top":"var(--g-s-xs)"}}}},"label":"Countdown Timer","settings":{"behaviour":"evergreen","dateStandard":1714922987126,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Seconds","timeZone":"UTC-4","timerDaily":{"format":"am","hours":2,"mins":30},"timerEverygreen":{"days":0,"endTime":1726130855015,"hours":2,"mins":30,"startTime":1714318187126},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#00000000","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","horizontalGap":"6px","itemPadding":{"custom":{"desktop":{"horizontal":"0px","vertical":"0px"},"mobile":{"horizontal":"4px","vertical":"0px"}}},"labelTypo":{"attrs":{"bold":false,"color":"text-1"},"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"12px","mobile":"7px","tablet":"12px"},"fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"700","lineHeight":{"desktop":"75%","mobile":"75%","tablet":"75%"}},"type":"paragraph-1"},"numTypo":{"attrs":{"bold":true,"color":"#FF0509"},"custom":{"fontFamily":"64e37ad9837e9a29e6445768_filsonprobold-webfont2","fontSize":{"desktop":"15px","mobile":"12px","tablet":"20px"},"fontVariants":["400"],"fontWeight":"400","lineHeight":{"desktop":"130%","mobile":"130%","tablet":"130%"}},"type":"heading-2"},"roundedState":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"custom"}},"textAlign":{"desktop":"left","mobile":"left"},"verticalGap":"0px"},"tag":"Countdown","uid":"g7-t64RwWv","childrens":[],"type":"component"}}'
     gp-href="#"
     style="--jc:left;--jc-mobile:left"
     >
      <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:6px;--jc:left;--jc-mobile:left">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1"
          > </a>
          
          
          
    <div
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:0px;--pb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="g7-t64RwWv-text">
    <div
      id="hour"
        class="g7-t64RwWv "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-64e37ad9837e9a29e6445768_filsonprobold-webfont2, '64e37ad9837e9a29e6445768_filsonprobold-webfont2'), var(--g-font-heading, heading);--size:15px;--size-tablet:20px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FF0509;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="g7-t64RwWv-text">
    <div
      
        class="g7-t64RwWv "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:12px;--size-tablet:12px;--size-mobile:7px;--lh:75%;--lh-tablet:75%;--lh-mobile:75%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7-t64RwWv_hourLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:0px;--pb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="g7-t64RwWv-text">
    <div
      id="minute"
        class="g7-t64RwWv "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-64e37ad9837e9a29e6445768_filsonprobold-webfont2, '64e37ad9837e9a29e6445768_filsonprobold-webfont2'), var(--g-font-heading, heading);--size:15px;--size-tablet:20px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FF0509;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="g7-t64RwWv-text">
    <div
      
        class="g7-t64RwWv "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:12px;--size-tablet:12px;--size-mobile:7px;--lh:75%;--lh-tablet:75%;--lh-mobile:75%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7-t64RwWv_minuteLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
          
    <div
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-mobile:4px;--pr-mobile:4px;--pt-mobile:0px;--pb-mobile:0px;--bs:none;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bg:#00000000"
    class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
  <gp-text data-id="g7-t64RwWv-text">
    <div
      id="second"
        class="g7-t64RwWv "
        style="--mb:0px;--c:var(--g-c-text-2, text-2)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-countdown-number"
          style="--w:100%;--ff:var(--g-font-64e37ad9837e9a29e6445768_filsonprobold-webfont2, '64e37ad9837e9a29e6445768_filsonprobold-webfont2'), var(--g-font-heading, heading);--size:15px;--size-tablet:20px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#FF0509;word-break:break-word;overflow:hidden"
        >00</div>
      </div>
    </div>
    </gp-text>
    
    
  <gp-text data-id="g7-t64RwWv-text">
    <div
      
        class="g7-t64RwWv "
        style="--c:var(--g-c-text-1, text-1)"
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:700;--size:12px;--size-tablet:12px;--size-mobile:7px;--lh:75%;--lh-tablet:75%;--lh-mobile:75%;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7-t64RwWv_secondLabel }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    
      </div>
     </gp-countdown-timer>
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gkSzXkuCKN" data-id="gkSzXkuCKN"
        style="--bs:none;--bw:2px 2px 2px 2px;--bc:#121212;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkSzXkuCKN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9e8-a3y6c gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gsOVMwhilF" data-id="gsOVMwhilF"
        style="--mt:0px;--ml:auto;--mb:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:28px;--cg-tablet:28px;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsOVMwhilF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQHLCF_EbM gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gXTHBgXenT" data-id="gXTHBgXenT"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--pt:var(--g-s-m);--pb:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:330px;--w-tablet:330px;--w-mobile:300px;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXTHBgXenT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqvV_cnxZJ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gPDCgz4oA3">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gPDCgz4oA3 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPDCgz4oA3_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  <gp-text data-id="gXrya1zu-o">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gXrya1zu-o no-letter"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggXrya1zu-o_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="g5KWCPEvYe gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gIQCW8wchW"
    role="presentation"
    class="gp-group/image gIQCW8wchW"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-944d549d-7e98-4136-a379-a83a301d4e7a_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-944d549d-7e98-4136-a379-a83a301d4e7a_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMzc1LTMzNzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMzNzUiIGhlaWdodD0iMzM3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzM3NSIgaGVpZ2h0PSIzMzc1IiBmaWxsPSJ1cmwoI2ctMzM3NS0zMzc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzM3NSIgdG89IjMzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_510135694635565882-944d549d-7e98-4136-a379-a83a301d4e7a.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gIQCW8wchW">
        .gIQCW8wchW {

}
.gIQCW8wchW > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-542025466467779588 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=542025466383434756&sectionId=542025466467779588)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggqB6d1iY8H_text","label":"ggqB6d1iY8H_text","default":"It Sounds Expensive..."},{"type":"html","id":"ggM-49vdrgs_text","label":"ggM-49vdrgs_text","default":"<p>Auras thong is surprisingly affordable right now, thanks to their current offer, where the more you buy the more you save. I looked at it as a great opportunity to stock up, especially if youre looking to add something reliable and comfortable to your fitness wardrobe.</p>"},{"type":"html","id":"ggg_INbuk-p_text","label":"ggg_INbuk-p_text","default":"<p>Im not sure how long this offer will last, so if youre interested, now is a good time to take advantage of it.</p>"},{"type":"html","id":"ggDYAttNWbD_text","label":"ggDYAttNWbD_text","default":"Buy More Save More"},{"type":"html","id":"ggjJnYdP-Gf_text","label":"ggjJnYdP-Gf_text","default":"<p>The limited-time deal is in high demandand stock keeps selling out.</p>"},{"type":"html","id":"ggzVjJFN6gM_label","label":"ggzVjJFN6gM_label","default":"<p><span style=\"color:#191919;font-size:16px;\"><strong>Claim offer now</strong></span></p>"},{"type":"html","id":"ggJpAcvCjbM_text","label":"ggJpAcvCjbM_text","default":"Deal ending in:"},{"type":"html","id":"gg7-t64RwWv_dayLabel","label":"gg7-t64RwWv_dayLabel","default":"Days"},{"type":"html","id":"gg7-t64RwWv_hourLabel","label":"gg7-t64RwWv_hourLabel","default":"Hours"},{"type":"html","id":"gg7-t64RwWv_minuteLabel","label":"gg7-t64RwWv_minuteLabel","default":"Minutes"},{"type":"html","id":"gg7-t64RwWv_secondLabel","label":"gg7-t64RwWv_secondLabel","default":"Seconds"},{"type":"html","id":"gg7-t64RwWv_weekLabel","label":"gg7-t64RwWv_weekLabel","default":"Weeks"},{"type":"html","id":"ggPDCgz4oA3_text","label":"ggPDCgz4oA3_text","default":"<p><span style=\"font-size:14px;\">Sell-Out Risk: </span><span style=\"color:#FF0000;font-size:14px;\"><strong>High</strong></span><span style=\"font-size:14px;\"> | FREE Shipping</span></p>"},{"type":"html","id":"ggXrya1zu-o_text","label":"ggXrya1zu-o_text","default":"<p><span style=\"font-size:13px;\">Try today with a 90 day money back guarantee.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
