

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-542025466467582980.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-542025466467582980.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-542025466467582980.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-542025466467582980.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-542025466467582980.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-542025466467582980.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-542025466467582980.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-542025466467582980.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-542025466467582980.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-542025466467582980.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-542025466467582980.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-542025466467582980.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-542025466467582980.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-542025466467582980.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-542025466467582980.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-542025466467582980.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-542025466467582980.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-542025466467582980.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-542025466467582980.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-542025466467582980.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-542025466467582980.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-542025466467582980.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-542025466467582980.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-542025466467582980.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-542025466467582980.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-542025466467582980.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-542025466467582980.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-542025466467582980.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-542025466467582980.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-542025466467582980.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-542025466467582980.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-542025466467582980.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-542025466467582980.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-542025466467582980.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-542025466467582980.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-542025466467582980.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-542025466467582980.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-542025466467582980.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-542025466467582980.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-542025466467582980.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-542025466467582980.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-542025466467582980.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-542025466467582980.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-542025466467582980.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-542025466467582980.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-542025466467582980.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-542025466467582980.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-542025466467582980.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-542025466467582980.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-542025466467582980.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-542025466467582980.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-542025466467582980.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-542025466467582980.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-542025466467582980.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-542025466467582980.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-542025466467582980.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-542025466467582980.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-542025466467582980.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-542025466467582980.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-542025466467582980.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-542025466467582980.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-542025466467582980.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-542025466467582980.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-542025466467582980.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-542025466467582980 .-gp-translate-x-1\/2,.gps-542025466467582980 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-542025466467582980 .gp-absolute{position:absolute}.gps-542025466467582980 .gp-relative{position:relative}.gps-542025466467582980 .gp-left-0{left:0}.gps-542025466467582980 .gp-left-1\/2{left:50%}.gps-542025466467582980 .gp-top-0{top:0}.gps-542025466467582980 .gp-top-1\/2{top:50%}.gps-542025466467582980 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-542025466467582980 .gp-mb-0{margin-bottom:0}.gps-542025466467582980 .gp-flex{display:flex}.gps-542025466467582980 .gp-grid{display:grid}.gps-542025466467582980 .\!gp-hidden{display:none!important}.gps-542025466467582980 .gp-hidden{display:none}.gps-542025466467582980 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-542025466467582980 .gp-h-full{height:100%}.gps-542025466467582980 .gp-w-14{width:56px}.gps-542025466467582980 .gp-w-5{width:20px}.gps-542025466467582980 .gp-w-full{width:100%}.gps-542025466467582980 .\!gp-max-w-none{max-width:none!important}.gps-542025466467582980 .gp-max-w-full{max-width:100%}.gps-542025466467582980 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-542025466467582980 .-gp-translate-x-1\/2,.gps-542025466467582980 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-542025466467582980 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-542025466467582980 .gp-flex-col{flex-direction:column}.gps-542025466467582980 .gp-items-center{align-items:center}.gps-542025466467582980 .gp-justify-center{justify-content:center}.gps-542025466467582980 .gp-gap-y-0{row-gap:0}.gps-542025466467582980 .gp-overflow-hidden{overflow:hidden}.gps-542025466467582980 .gp-rounded{border-radius:4px}.gps-542025466467582980 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-542025466467582980 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-542025466467582980 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-542025466467582980 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-542025466467582980 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542025466467582980 .gp-duration-200{transition-duration:.2s}.gps-542025466467582980 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-542025466467582980 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1023px){.gps-542025466467582980 .tablet\:\!gp-hidden{display:none!important}.gps-542025466467582980 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-542025466467582980 .mobile\:\!gp-hidden{display:none!important}.gps-542025466467582980 .mobile\:gp-hidden{display:none}}.gps-542025466467582980 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-542025466467582980 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-542025466467582980 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-542025466467582980 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-542025466467582980 .\[\&_p\]\:gp-inline p{display:inline}.gps-542025466467582980 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-542025466467582980 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="goggcxOQD-" data-id="goggcxOQD-"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goggcxOQD- col-abt-dndr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_yFQp2ODn gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gwLPyxnrjy" data-id="gwLPyxnrjy"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwLPyxnrjy same-row gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCvGmqCbUE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="ggTtDPk-PN"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative ggTtDPk-PN"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-ggTtDPk-PN"
      class=" gp-w-full gp-object-cover"
      style="--aspect:9/16"
      controls
      
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/0e0339dc1205432d9903c50c7a46c62a.mp4"
      src="https://cdn.shopify.com/videos/c/o/v/0e0339dc1205432d9903c50c7a46c62a.mp4"
      poster=""
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/0e0339dc1205432d9903c50c7a46c62a.mp4" src="https://cdn.shopify.com/videos/c/o/v/0e0339dc1205432d9903c50c7a46c62a.mp4" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:9/16"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsOYnLROG4 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gIh9qF8F-L">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gIh9qF8F-L "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--mb:var(--g-s-l);--pb:10px;--mb-mobile:0px;--pt-mobile:15px;--pl-mobile:15px;--pb-mobile:10px;--pr-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:34px;--size-tablet:30px;--size-mobile:21px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIh9qF8F-L_text | downcase }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g8kRZ6_SF3">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8kRZ6_SF3 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--pb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--size:26px;--size-tablet:30px;--size-mobile:36px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8kRZ6_SF3_text | downcase }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gsK8fcDarn">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gsK8fcDarn para-desc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:22px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggsK8fcDarn_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gH-ZxZGkEZ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gH-ZxZGkEZ para-desc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pl-mobile:15px;--pr-mobile:15px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:22px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggH-ZxZGkEZ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-542025466467582980 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=542025466383434756&sectionId=542025466467582980)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggIh9qF8F-L_text","label":"ggIh9qF8F-L_text","default":"Is it just Camel Toe they solve?"},{"type":"html","id":"gg8kRZ6_SF3_text","label":"gg8kRZ6_SF3_text","default":"Why Am I Switching To Aura?"},{"type":"html","id":"ggsK8fcDarn_text","label":"ggsK8fcDarn_text","default":"<p>Many gym-goers are tired of makeshift solutions – from awkward clothing adjustments to layering up unnecessarily. Aura takes the guesswork out of the equation with a simple, effective solution that works.</p><p>Their invisible camel toe thong is now a necessity in my work &amp; gym attire. No more fidgeting or feeling self-conscious – just pure focus on my class or workout.</p>"},{"type":"html","id":"ggH-ZxZGkEZ_text","label":"ggH-ZxZGkEZ_text","default":"<p>Not at all! Aura has really thought of everything with this thong. The gusset is made wider for full coverage and extra comfort, so I don’t have to worry about awkward adjustments anymore. Plus, it’s absorbent and sweat-proof, which keeps me feeling dry and comfortable even during my toughest workouts. The material is super breathable, which means I stay cool, and it’s completely seamless – no visible panty lines, even under my tightest leggings. It's those small but important details that make a huge difference and is exactly why I keep recommending this to all my clients.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
